.search-form {

  &__input {
    height: 55px;
  }

  &__submit,
  &__cancel {
    @include reset-button;
    position: relative;
    width: 55px;
    height: 55px;
    background: $color-accent;
    transition: background .3s ease;

    &::before {
      display: block;
      content: "";
      @include centerer;
    }

    @include hover-active {
      background: $color-main;
    }

    &:disabled {
      background: $color-gray;
      pointer-events: none;
    }
  }

  &__submit::before {
    @include sprite($sprite-ui-search);
  }

  &__submit--arrow::before {
    @include sprite($sprite-arrows-md-right-white);
  }

  &__cancel::before {
    @include sprite($sprite-ui-close-white);
  }
}
