include ../mailto/mailto
include ../tel/tel
mixin person()
  .person&attributes(attributes)
    .person__photo
      img(src=imagesPath + "upload/person.jpg" width="76" height="76" alt="")
    .person__name Анатолий Блюме
    .person__tel
      +tel('+7 (800) 000 00 00').link-hidden
    .person__main
      +mailto('ab@oscentr.ru').link.link--text



