.person {
  margin: 20px 0 0;
  @include h5;

  &__photo {
    width: 76px;
    height: 76px;
    overflow: hidden;
    border-radius: 100%;
    @include img-block;
    margin-bottom: 5px;
  }

  &__name {}

  &__tel {}

  &__main {}
}
