.aside-promo
  .aside-promo__items
    a(href="#").aside-promo__item
      !='Скидка 5% на радиаторы'
      br
      span(style="font-size: 80px; color: #ee6b00; line-height: 1em;") %
    a(href="#").aside-promo__item
      !='Оплата <br>при <br>получении'
    a(href="#").aside-promo__item
      !='1357 <br>товаров всегда <br>в наличии'
    a(href="#").aside-promo__item
      !='Скидка 5% на радиаторы'
    a(href="#").aside-promo__item
      !='Бесплатная доставка <br>при покупке <br>от 20 000 р.'

