form(action="/" novalidate).search-form.js-city-select
  // Логика автокомплита города в src/scripts/city-select-form.js
  .input-group
    .input-group__item.input-group__item--grow
      input(type="text" data-cities-src="/cities.json" required).input-text.search-form__input.js-city-select__input.js-city-input
    .input-group__item
      button(type="submit" disabled).search-form__submit.search-form__submit--arrow.js-city-select__submit
