head
  meta(charset="utf-8")

  //- http://frontender.com.ua/mobile-web/wtf-viewport/
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

  //- Turn off telephone number and address detection
  meta(name="format-detection" content="telephone=no")
  meta(name="format-detection" content="address=no")

  //- Remove tap highlight on Windows Phone
  meta(name="msapplication-tap-highlight" content="no")

  //- Turn off Skype browser addon
  meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")

  if(useFavicons)
    link(rel="apple-touch-icon" sizes="180x180" href=faviconsPath + "apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href=faviconsPath + "favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href=faviconsPath + "favicon-16x16.png" )
    link(rel="manifest" href=faviconsPath + "manifest.json")
    link(rel="shortcut icon" href=faviconsPath + "favicon.ico")
    meta(name="msapplication-config" content=faviconsPath + "browserconfig.xml")
    meta(name="theme-color" content="#ffffff")

  block head

  title= pageTitle || ""
  meta(name="description" content="")
  meta(name="keywords" content="")
  meta(name="copyright" content="")
  meta(property="og:type" content="website")
  meta(property="og:site_name" content="")
  meta(property="og:url" content="")
  meta(property="og:image" content="")
  meta(property="og:title" content="")
  meta(property="og:description" content="")

  link(href=assetsPath+"css/styles.css" rel="stylesheet")
  block head-styles

  script(src=assetsPath+"js/libs/modernizr.min.js")
  script(src=assetsPath+"js/libs/bobr.min.js")
