.form.form--box
  // У этой и других форм добавлена валидация (класс js-form-validator). Это демо для верстки! Пример интеграции валидатора с формой можно посмотреть у формы подписки (src/scripts/app/forms/subscribe-form.js)
  h2.form__title.text-left Вход
  include _login-form-content
