form(action="/" novalidate).js-form-validator
  .row.row--vcentr.form-row
    .col-12.col-sm-2
      label(for="login_email").input-label Email:
    .col-12.col-sm-10
      input(type="email" id="login_email" required).input-text
  .row.row--vcentr.form-row
    .col-12.col-sm-2
      label(for="login_password").input-label Пароль:
    .col-12.col-sm-10
      input(type="password" id="login_password" required).input-text
  .row.row--vcentr.form-row.form-row--push-top.b-list
    .col-12.col-sm-6.col-md-5.b-list__item
      button(type="submit").btn.btn--fluid: span Войти
    .col-12.col-sm-6.col-md-5.text-center.b-list__item
      a(href="#popup-password-restore").text-small.js-popup Забыли пароль?
.hidden
  .popup#popup-password-restore
    .popup__title Запрос пароля
    .popup__text
      // После успешной отправки в этом блоке вместо формы выводится текст: "На указанный e-mail выслано письмо с инструкцией о восстановлении пароля."
      // Пример обработки и вывода ошибок формы смотри в src/scripts/app/forms/ask-form.js
      form(action="/" novalidate).js-form-validator
        .content-block Укажите e-mail который вы использовали при регистрации. <br>На него будут отправлены контрольная строка для смены пароля, а&nbsp;также&nbsp;ваши регистрационные данные.
        .content-block
          .form-error.content-block E-mail не найден в нашей базе клиентов
          // После отправки заменить форму на текст: На указанный e-mail выслано письмо с инструкцией о восстановлении пароля.
          .form-row.row.row--vcentr
            .col-12.col-sm-3
              label(for="pass_restore_email").input-label.h5 Выслать пароль на&nbsp;e-mail:
            .col-12.col-sm-8
              input(type="email" id="pass_restore_email" required).input-text
          .form-row.row
            .col-12.col-sm-4
              button(type="submit").btn.btn--fluid: span Выслать
