include ../../blocks/pagination/pagination
+pagination({items: [
  {
    title: '1',
    link: '#'
  },
  {
    title: '2',
    mod: 'current'
  },
  {
    title: '3',
    link: '#'
  },
  {
    title: '4',
    link: '#'
  },
  {
    title: '...',
    mod: 'dots'
  },
  {
    title: '24',
    link: '#'
  },
  {
    title: '25',
    link: '#'
  }
]})
