include ../../blocks/checkbox/checkbox
include ../../blocks/input-file/input-file
include ../../blocks/select/select
form(action="/" novalidate).js-form-validator
  // У этой и других форм добавлена валидация (класс js-form-validator). Это демо для верстки! Пример интеграции валидатора с формой можно посмотреть у формы подписки (src/scripts/app/forms/subscribe-form.js)
  .form-row
    .input-advice Все поля обязательны для заполнения
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      .input-label Логотип:
    .col-12.col-sm-9.col-md-10
      +input-file()
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_company_name").input-label Компания:
    .col-12.col-sm-9.col-md-10
      input(type="text" id="reg_company_name" required).input-text
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_company_city").input-label Город:
    .col-12.col-sm-9.col-md-10
      +select()(id="reg_company_city" required)
        option(value="" selected) Москва
        option(value="") Новосибирск
        option(value="") Санкт-Петербург
        option(value="") Екатеринбург
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_company_tel").input-label Телефон:
    .col-12.col-sm-9.col-md-10
      input(type="tel" id="reg_company_tel" required).input-text.js-mask-phone
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_company_email").input-label Email:
    .col-12.col-sm-9.col-md-10
      input(type="email" id="reg_company_email" required).input-text
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_company_password").input-label Пароль:
    .col-12.col-sm-9.col-md-10
      input(type="password" id="reg_company_password" required).input-text
  .row.form-row
    .col-12.col-sm-4
      .input-label.input-label--top Обслуживаемые бренды:
    .col-12.col-sm-8
      .scroll-block.js-scroll-block
        .check-list
          - var brands = ['AO Smith', 'Bell & Госсет', 'Bradfort White', 'Fantech', 'Grundfos', 'Honeywell', 'Taco', 'Треугольник Tube', 'Uponor', 'Viega', 'Вт', 'Вейль Маклейн'];
          each brand in brands
            .check-list__item
              +checkbox({label: brand})
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_company_password_repeat").input-label Пароль ещё&nbsp;раз:
    .col-12.col-sm-9.col-md-10
      input(type="password" id="reg_company_password_repeat" required).input-text
  .row.row--vcentr.form-row.form-row--push-top
    button(type="submit").btn.btn--fluid: span Зарегистрироваться
