include ../../blocks/checkbox/checkbox
include ../../blocks/input-file/input-file
include ../../blocks/select/select
form(action="/" novalidate).js-form-validator
  // У этой и других форм добавлена валидация (класс js-form-validator). Это демо для верстки! Пример интеграции валидатора с формой можно посмотреть у формы подписки (src/scripts/app/forms/subscribe-form.js)
  .form-row
    .input-advice Все поля обязательны для заполнения
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      .input-label Фото:
    .col-12.col-sm-9.col-md-10
      +input-file()
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_worker_name").input-label Имя <br> Фамилия:
    .col-12.col-sm-9.col-md-10
      input(type="text" id="reg_worker_name" required).input-text
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_worker_city").input-label Город:
    .col-12.col-sm-9.col-md-10
      +select()(id="reg_worker_city" required)
        option(value="" selected) Москва
        option(value="") Новосибирск
        option(value="") Санкт-Петербург
        option(value="") Екатеринбург
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_worker_tel").input-label Телефон:
    .col-12.col-sm-9.col-md-10
      input(type="tel" id="reg_worker_tel" required).input-text
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_worker_email").input-label Email:
    .col-12.col-sm-9.col-md-10
      input(type="email" id="reg_worker_email" required).input-text.js-mask-phone
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_worker_password").input-label Пароль:
    .col-12.col-sm-9.col-md-10
      input(type="password" id="reg_worker_password" required).input-text
  .row.form-row
    .col-12.col-sm-4
      .input-label.input-label--top Вид деятельности:
    .col-12.col-sm-8
      .check-list
        - var profs = ['Отопление', 'Водоснабжение', 'Канализация', 'Бани', 'Сантехника', 'Кондиционирование'];
        each prof in profs
          .check-list__item
            +checkbox({label: prof})
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_worker_password_repeat").input-label Пароль ещё&nbsp;раз:
    .col-12.col-sm-9.col-md-10
      input(type="password" id="reg_worker_password_repeat" required).input-text
  .row.row--vcentr.form-row.form-row--push-top
    button(type="submit").btn.btn--fluid: span Зарегистрироваться
