include ../../blocks/form-anchor/form-anchor
include ../../blocks/rating-widget/rating-widget
include ../../blocks/reviews/reviews
include ../../blocks/section-title/section-title
include ../../blocks/stars/stars
.content-block.island#reviews
  +section-title('Отзывы', 'h2')
  .content-block.row
    .col-12.col-md-10.offset-md-1
      .list-header
        .row.row--vcentr.b-list
          .col-12.col-sm-6.b-list__item
            +rating-widget()
          .col-12.col-sm-6.text-sm-right.b-list__item
            +form-anchor('#review-form', 'Оставить отзыв').js-scroll-to(data-scroll-offset="-150")
      +reviews(getData(dataSrc + 'reviews-2')).reviews--alt
      include _pagination
  .content-block
    form(action="/" novalidate).form.js-form-validator#review-form
      // У этой и других форм добавлена валидация (класс js-form-validator). Это демо для верстки! Пример интеграции валидатора с формой можно посмотреть у формы подписки (src/scripts/app/forms/subscribe-form.js)
      .form__title Оставить отзыв
      .row.row--vcentr.form-row
        .col-12.col-sm-2.col-md-3.text-sm-right
          label(for="review_name").input-label Имя:
        .col-12.col-sm-8.col-md-6
          input(type="text" id="review_name" required).input-text
      .row.row--vcentr.form-row
        .col-12.col-sm-2.col-md-3.text-sm-right
          label(for="review_city").input-label Город:
        .col-12.col-sm-8.col-md-6
          input(type="text" id="review_city" required).input-text
      .row.row--vcentr.form-row
        .col-12.col-sm-2.col-md-3.text-sm-right
          label(for="review_email").input-label Email:
        .col-12.col-sm-8.col-md-6
          input(type="email" id="review_email" required).input-text
      .row.form-row
        .col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3
          .row.row--vcentr
            .col-12.col-sm-8
              .input-label Оцените работу, указав количество звёзд от&nbsp;1&nbsp;до&nbsp;5:
            .col-12.col-sm-4
              +stars({stars: 3, form: true})
      .row.form-row
        .col-12.col-sm-2.col-md-3.text-sm-right
          label(for="review_question").input-label Отзыв:
        .col-12.col-sm-8.col-md-6
          textarea(id="review_question" required).input-text.input-text--textarea
      .form-row.text-center
        button(type="submit").btn: span Отправить
