mixin tiles(data)
  .tiles&attributes(attributes)
    each item in data
      .tiles__item
        a.tiles__link(href=item.url)
          .tiles__text !{item.text}
          .tiles__title.title-line.title-line--accent.js-title-line !{item.title}
          .tiles__img
            img(src=imagesPath + item.img.src width=item.img.w height=item.img.h alt)
