include ../dev-sign/dev-sign
mixin checkout-footer()
  .checkout-footer&attributes(attributes)
    .container
      .island
        .row.row--vcentr.b-list
          .col-12.col-sm-6.b-list__item
            .h3.title-line.js-title-line Доступные способы оплаты
          .col-12.col-sm-6.col-md-5.text-sm-right.b-list__item
            img(src=imagesPath + "payments.png" width="409" height="38" alt="").flexible-media
      .checkout-footer__bot
        button(type="button" data-scroll-to="body").checkout-footer__up.js-scroll-to Наверх
        .row
          .col-12.col-md-6
            | ©2016 «Oscentr»
          .col-12.col-md-5.col-lg-6.text-md-right
            +dev-sign()
