.island-head-tabs {
  display: flex;
  margin: -24px (-$block-inner-padding-xs) 40px; // island block paddings

  @include media-breakpoint-up(md) {
    margin: -32px (-$block-inner-padding-md) 40px;
  }

  &__item {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;

    & + & {
      border-left: 1px solid $color-gray-light2;
    }
  }

  &__link {
    //display: block;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-decoration: none;


    &.is-active,
    &--active {
      pointer-events: none;
      color: $color-text;
    }
  }

  &__title {
    display: block;
    height: 100%;
    flex-grow: 1;
    padding: 12px;
    font-family: $font-family-accent;
    font-weight: bold;
    @include font-size($font-size-big);
    border-bottom: 1px solid $color-gray-light2;

    @include media-breakpoint-up(sm) {
      padding: 24px;
    }
  }

  &__link.is-active &__title,
  &__link--active &__title {
    border-bottom-color: #fff;
  }
}
