// Text alignment

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {

  @include media-breakpoint-up($breakpoint) {
    .text-#{$breakpoint}-left {
      text-align: left !important;
    }

    .text-#{$breakpoint}-right {
      text-align: right !important;
    }

    .text-#{$breakpoint}-center {
      text-align: center !important;
    }
  }
}

.text-nowrap {
  white-space: nowrap !important;
}

// Text sizes

.text-small {
  @include font-sizes($font-sizes-small);
}

.text-big {
  @include font-sizes($font-sizes-big);
}

.text-small-expand {
  @include font-size($font-size-small-expand);
}

// Text transforms

.text-upper {
  text-transform: uppercase !important;
}

.text-lower {
  text-transform: lowercase !important;
}

// Text weight

.text-bold {
  font-weight: bold !important;
}

.text-normal {
  font-weight: normal !important;
}

// Text colors

.text-accent {
  color: $color-accent !important;
}

.text-white {
  color: #fff !important;
}

.text-success {
   color: $color-success !important;
}

.text-warn {
  color: $color-warn !important;
}

.text-gray {
  color: $color-gray-light;
}
