include ../worker-card/worker-card
mixin product-card()
  .product-card&attributes(attributes)
    .row.b-list
      .col-12.col-sm-6.b-list__item
        .product-card__gallery#js-product-gallery
          // Все фото должны быть одинакового размера!
          .product-card__badge
            .product-card__badge-t скидка
            .product-card__badge-sum 24 000 р.
          .product-card__view.js-product-slider
            .product-card__image
              img(src=imagesPath + "upload/product.jpg" width="284" height="284" alt="" itemprop="image")
            .product-card__image
              img(src="http://placehold.it/284x284" width="284" height="284" alt="")
            .product-card__image
              a(href="https://www.youtube.com/watch?v=CrwLEKMj0G8").js-popup-video
               img(src="https://placeholdit.imgix.net/~text?txtsize=27&txt=video-preview&w=284&h=284" width="284" height="284" alt="")
          .product-card__thumbs.js-product-thumbs
            .product-card__thumb
              .product-card__thumb-in
                img(src=imagesPath + "upload/product.jpg" width="284" height="284" alt="")
            .product-card__thumb
              .product-card__thumb-in
                img(src="http://placehold.it/284x284" width="284" height="284" alt="")
            .product-card__thumb
              .product-card__thumb-in.product-card__thumb-in--video
                img(src=imagesPath + "upload/product.jpg" width="284" height="284" alt="")
      .col-12.col-sm-6.b-list__item(itemscope itemtype="http://schema.org/Product")
        h1.product-card__title.title-line.js-title-line(itemprop="name") ZONT-H1VDIN, программируемый
        .product-card__row.row.row--vcentr
          .col-6.col-sm-5
            .product-card__prop #[b Код:] BP4-2-08-12
            .product-card__prop #[b Бренд:] ZONT
          .col-6.col-sm-7
            a(href="brand.html").link-hidden
              img(src=imagesPath + "upload/brands/1.png" width="80" height="76" alt="").product-card__brand-logo
        .product-card__row
          +reviews-widget({starsSchema: true})
        .product-card__row
          span.text-success ●
          = ' В наличии: 5 шт.'
        .product-card__row
          .product-card__price-b
            .product-card__count
              input(type="text" value="1").input-text.text-center
            .product-card__prices
              .product-card__price-old 126 470 р.
              .product-card__price(itemprop="offers" itemscope itemtype="http://schema.org/Offer")
                meta(itemprop="price" content="124000.00")
                meta(itemprop="priceCurrency" content="RUB")
                = '124 000 р.'
        .product-card__row
          button(type="button").btn.btn--inverse: span В корзину
        .product-card__row
          .product-card__delivery Бесплатная доставка при покупке от&nbsp;20&nbsp;000 р.
