mixin featured-brand(data)
  .featured-brand&attributes(attributes)
    .featured-brand__img
      a(href="catalog-brand.html").link-hidden
        img(src=imagesPath + data.img.src width=data.img.w height=data.img.h alt=data.title)
    .featured-brand__title
      a(href="catalog-brand.html").link-hidden #{data.title}
    if (data.links)
      .featured-brand__links
        each link in data.links
          .featured-brand__link
            a(href="#") #{link}
