.worker-card {
  @include font-size($font-size-small-expand);

  &__notice {
    border: 2px solid $color-main;
    color: $color-main;
    padding: 20px 20px 20px 40px;
    margin-bottom: 30px;
    @include font-size($font-size-base);

    @include media-breakpoint-up(sm) {
      padding-left: 110px;
    }
  }

  &__img {
    text-align: center;
    margin-bottom: 20px;

    & img {
      border-radius: 100%;
      max-width: 220px;
      height: auto;

      @include media-breakpoint-up(sm) {
        max-width: 100%;
      }
    }
  }

  &__title {
    @include h3;
    margin: 0 0 25px;
  }

  &__block {
    margin: 20px 0;
  }

  &__row {}
}
