.layout {
  @include media-breakpoint-up(md) {
    display: flex;
    width: 100%;
  }

  &__main {
    @include media-breakpoint-up(md) {
      position: relative;
      left: 30%;
      flex: 0 0 70%;
      max-width: 70%;
    }
  }

  &__aside {
    margin-top: 40px;

    @include media-breakpoint-up(md) {
      position: relative;
      flex: 0 0 30%;
      max-width: 30%;
      right: 70%;
      padding-right: 20px;
      margin-top: 0;

      &--sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 70px + 20px; // sticky header height + gutter

        &::before,
        &::after {
          content: '';
          display: table;
        }
      }
    }
  }
}
