.what-city {
  display: none;

  @include media-breakpoint-down(sm) {
    display: none !important;
  }

  @include media-breakpoint-up(md) {
    &__mask {
      position: fixed;
      z-index: 998;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(#000, .5);
    }

    &__popup {
      position: absolute;
      display: none;
      z-index: 999;
      background: #fff;
      padding: 50px 30px 30px;
      width: 640px;
      transform: translate(-400px, 28px);

      &::before {
        position: absolute;
        display: block;
        content: "";
        bottom: 100%;
        left: 400 - 24px;
        @include css-triangle(24px, #fff, top);
      }

      &.is-active {
        display: block;
      }
    }

    &__section + &__section {
      margin-top: 50px;
    }

    &__title {
      font-family: $font-family-accent;
      font-weight: bold;
      margin:0 0 20px;
    }

    &__item + &__item {
      margin-top: 5px;
    }

    &__close {
      position: absolute;
      right: 15px;
      top: 15px;
      padding: 10px;
    }
  }
}
