@mixin preloader-rotate-circle($width: 100%, $height: 100%, $border-width: 2px, $top-color: rgba(0,0,0,.65), $bottom-color: rgba(0,0,0,.15), $speed: .8s) {
  width: $width;
  height: $height;
  display: inline-block;
  padding: 0;
  border-radius: 100%;
  border: $border-width solid;
  border-top-color: $top-color;
  border-bottom-color: $bottom-color;
  border-left-color: $top-color;
  border-right-color: $bottom-color;
  animation: preloader-rotate-circle $speed linear infinite;

  @keyframes preloader-rotate-circle {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
