@mixin reset-button() {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  background: transparent;
  text-decoration: none;
  padding: 0;
  user-select: none;
  overflow: visible;
  text-align: center;
}

@mixin reset-list-item() {
  padding-left: 0;
  list-style: none;
}

@mixin reset-input() {
  outline: none;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

@mixin reset-select() {
  @include reset-input();
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  background: 0;
}
