.radiotabs {
  margin: 0 0 30px;

  &__btns {
    padding-top: 8px;
    margin-bottom: 30px;
  }

  &__row {
    & + & {
      margin-top: 15px;
    }
  }

  &__btn {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    color: $color-text;
    @include font-size($font-size-small);
    text-decoration: none;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      @include v-centerer;
    }

    &::before {
      width: 28px;
      height: 28px;
      left: 0;
      background: #fff;
      border: 1px solid $color-gray-light;
      border-radius: 100%;
    }

    &.is-active::after {
      width: 16px;
      height: 16px;
      left: 6px;
      background: $color-accent;
      border-radius: 100%;
    }
  }

  &__content {

  }
}
