.reviews {
  margin: 0;
  padding: 0;

  &__item {
    @include reset-list-item;

    & + & {
      margin-top: 40px;
    }
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  &__rating {
    margin: 4px 10px 4px 0;
  }

  &__name {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 5px;
    color: #fff;
    background: $color-main-dark;
    white-space: nowrap;
  }

  &__date {
    @include font-size($font-size-small);
    color: $color-gray;
    flex: 1 1 0%;
    text-align: right;
  }

  &__text {
    @include font-size($font-size-small-expand);
  }

  &__sign {
    @include font-size($font-size-small);
    color: $color-gray;
    margin-top: 5px;
  }

  // Workers and service center reviews
  &--alt &__text {
    font-weight: bold;
  }

  &--alt &__item + &__item {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid $color-gray-light2;
  }
}
