include ../stars/stars
mixin reviews(items)
  ul.reviews&attributes(attributes)
    each item in items
      li.reviews__item
        .reviews__head
          .reviews__rating
            +stars({stars: item.rating || 5}).stars--sm
          if (item.name)
            .reviews__name #{item.name}
          if (item.date)
            .reviews__date #{item.date}
        .reviews__text #{item.text}
        if (item.sign)
          .reviews__sign #{item.sign}
