svg.svg-icon {
  pointer-events: none; // https://css-tricks.com/gotchas-on-getting-svg-into-production/#article-header-id-14
}

svg.svg-icon:not(.svg-icon--colored),
symbol.svg-icon:not(.svg-icon--colored) {
  circle,
  ellipse,
  g,
  line,
  path,
  polygon,
  polyline,
  rect {
    fill: inherit;
    stroke: inherit;
  }
}
