include ../stars/stars
mixin rating-widget()
  .rating-widget&attributes(attributes)
    .rating-widget__stars
      +stars({stars: 4}).stars--xl
    .rating-widget__label
      .rating-widget__val 4.7
      | общая оценка
