mixin catalog-nav(title, items)
  .catalog-nav&attributes(attributes)
    .catalog-nav__title.title-line.js-title-line #{title}
    ul.catalog-nav__items
      each item in items
        li.catalog-nav__item
          a(href="#").catalog-nav__link
            = item
            span.catalog-nav__count &nbsp;(746)

