.catalog-nav {
  padding: 20px 24px;
  background: #fff;

  &__title {
    @include h3;
    margin: 0 0 20px;
  }

  &__items {
    margin: 0;
    padding: 0;
  }

  &__item {
    @include reset-list-item;
    @include font-size($font-size-small);

    & + & {
      margin-top: 18px;
    }
  }

  &__link {
    color: $color-main-dark;
    text-decoration: none;

    @include hover-active {
      color: $color-main-dark;
      text-decoration: underline;
    }
  }

  &__count {
    color: $color-gray;
  }
}
