.category-thumb {
  padding-bottom: 20px;
  padding-right: 20px;

  &__image {
    margin-bottom: 15px;

    & img {
      max-width: 100%;
      height: auto;
    }
  }

  &__title {
    @include h4;
    margin: 0 0 5px;

    &--child {
      @include font-size($font-size-base);
      color: $color-main-dark;
    }
  }

  &__items {
    margin: 20px 0 0;
    padding: 0;
  }

  &__item {
    @include reset-list-item;
    @include font-size($font-size-small);

    & + & {
      margin-top: 18px;
    }
  }

  &__link {
    color: $color-main-dark;
    text-decoration: none;

    @include hover-active {
      color: $color-main-dark;
      text-decoration: underline;
    }
  }

  &__count {
    color: $color-gray;
  }

  &__text {
    @include font-size($font-size-small);
    color: $color-gray;
  }
}
