mixin category-thumb(data)
  .category-thumb&attributes(attributes)
    .category-thumb__image
      a(href=data.url || '#').link-hidden
        img(src=imagesPath + data.image width="116" height="104" alt=data.title)
    .category-thumb__title(class={
        'category-thumb__title--child': data.childLevel,
        'title-line title-line--accent js-title-line': !data.childLevel
      })
      a(href=data.url || '#').link-hidden !{data.title + '&nbsp;(1755)'}
    if (data.links)
      ul.category-thumb__items
        each link in data.links
          li.category-thumb__item
            a(href="catalog-3-lvl.html").category-thumb__link
              = link
              span.category-thumb__count &nbsp;(746)
    if (data.text)
      .category-thumb__text #{data.text}
