.product-price {
  &__old {
    display: inline-block;
    position: relative;
    font-family: $font-family-accent;
    font-weight: 600;
    color: $color-warn;
    height: 18px;
    white-space: nowrap;

    &::before {
      display: block;
      content: "";
      @include v-centerer;
      left: -2px;
      right: -2px;
      height: 1px;
      background: rgba($color-warn, .6);
    }
  }

  &__current {
    white-space: nowrap;
    font-family: $font-family-accent;
    font-weight: bold;
    font-size: 15px;
  }
}
