.pagination {
  margin: 40px 0;

  &__list {
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
  }

  &__item {
    @include reset-list-item;
    display: inline-block;
    font-size: 14px;
    font-family: $font-family-accent;
    font-weight: bold;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 100%;
    overflow: hidden;
    color: $color-gray-dark;

    &--dots {
      margin: 0 5px;

      @include media-breakpoint-up(sm) {
        margin: 0 15px;
      }
    }

    &--current {
      background: $color-main;
      color: #fff;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $color-gray-dark;

    @include hover-active {
      color: #fff;
      background: $color-accent;
    }
  }

  &__title {
    display: block;
  }
}
