.strongs {
  padding: 0;
  margin: 0 0 -66px;;
  counter-reset:li;
  list-style:none;

  &__item {
    position: relative;

    margin-bottom: 66px;

    &:before {
      content:counter(li);
      counter-increment:li;
      position: absolute;
      left: $grid-gutter-width-base/2;
      top: 0;
      font-size: 20px;
      line-height: 40px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background: $color-accent;
      color: #fff;
      text-align: center;
      font-family: $font-family-accent;
      font-weight: bold;
    }
  }

  &__item-in {
    padding: 0 0 0 56px;

    @include media-breakpoint-up(md) {
      padding-right: 40px;
    }
  }

  &__title {
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__text {
    @include font-size($font-size-small);
  }
}
