.filter {
  padding: 15px 0;
  background: #fff;

  @include media-breakpoint-down(sm) {
    position: fixed;
    display: none;
    z-index: 900;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 50px 0 60px; // submit and heading height

  }

  &__heading {
    position: fixed;
    z-index: 910;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid $color-gray-light2;
    @include h2;
    line-height: 20px;
    text-align: center;

    @include media-breakpoint-up(md) {
      display: none;
    }
  };

  &__close {
    @include v-centerer;
    right: 15px;
    padding: 10px;
  }

  &__filters {
    @include media-breakpoint-down(sm) {
      max-height: 100%;
      overflow-y: auto;
      @include smooth-scroll;
      padding: 10px 0;
    }
  }

  &__b {
    position: relative;
    padding: 0 15px;

    & + & {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid$color-gray-light2;
    }

    @include media-breakpoint-down(sm) {
      padding-right: 30px;  // for comfort scrolling
    }
  }

  &__bubble {
    display: none;
    left: 100%;
    @include v-centerer;
    background: $color-main-dark;
    color: #fff;
    text-decoration: none;
    padding: 12px 18px;
    line-height: 24px;
    white-space: nowrap;
    margin-left: 15px;
    opacity: 0;
    transition: opacity .4s ease, margin-left .4s ease;

    &.is-show {
      margin-left: 0;
      opacity: 1;
    }

    &::before {
      content: "";
      right: 100%;
      @include v-centerer;
      @include css-triangle(8px, $color-main-dark, left);
    }

    @include hover-active {
      color: #fff;
      text-decoration: none;
    }

    @include media-breakpoint-down(sm) {
      display: none !important;
    }

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__bubble-count {
    display: inline-block;
    background: $color-accent;
    min-width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 12px;
    margin: 0 5px;
  }

  &__bubble-call {
    display: inline-block;
    font-family: $font-family-accent;
    font-weight: bold;
  }

  &__title {
    font-family: $font-family-accent;
    font-weight: bold;
    margin-bottom: 15px;

    &--big {
      @include h3;
    }
  }

  &__content {
    position: relative;

    &--fluid {
      max-height: none;
    }
  }

  &__item {
    & + & {
      margin-top: 12px;
    }

    & + &--narrow {
      margin-top: 5px;
    }
  }

  &__submit {
    position: relative;
    margin-top: 20px;
    padding: 20px 15px;
    border-top: 1px solid $color-gray-light2;

    @include media-breakpoint-down(sm) {
      position: fixed;
      z-index: 910;
      bottom: 0;
      right: 0;
      left: 0;
      background: #fff;
      padding: 10px 15px;
    }
  }
}

body.is-show-filters {
  @include media-breakpoint-down(sm) {
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;

    & .filter {
      display: block;
    }
  }
}
