.breadcrumbs {
  margin: 10px 0;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    @include reset-list-item;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    color: $color-gray;

    &:after {
      content: "—";
      display: inline-block;
      margin: 0 4px;
      color: $color-gray-dark;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__item-link {
    display: inline-block;
    color: $color-gray-dark;
  }

  &__item-title {}
}
