mixin catalog-ctrls()
  .catalog-ctrls&attributes(attributes)
    .catalog-ctrls__sort.island.island--small
      .catalog-ctrls__in
        .row.row--vcentr
          .col-12.col-sm-4.col-md-6
            +count('127', 'товаров').catalog-ctrls__count
          .col-12.col-sm-8.col-md-6
            .row.row--vcentr
              .col-12.col-sm-5.text-sm-right.text-small-expand Сортировать по
              .col-12.col-sm-7
                +select().select--xs
                  option(value="" selected) цене
                  option(value="") популярности
                  option(value="") рейтингу
    .catalog-ctrls__filters.island.island--small
      button(type="button").catalog-ctrls__filter-btn.js-toggle-filters-sm
        img(src=imagesPath + "filters.svg" width="48" height="32" alt="").catalog-ctrls__filter-btn-i
        span фильтр

