.radio {
  display: inline-block;
  position: relative;
  @include no-select;
  min-height: 28px;
  line-height: 28px;

  &__input {
    @include sr-only;
  }

  &__label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 36px;
    color: $color-text;
    @include font-size($font-size-small);
    text-decoration: none;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      @include v-centerer;
    }

    &::before {
      width: 28px;
      height: 28px;
      left: 0;
      background: #fff;
      border: 1px solid $color-gray-light;
      border-radius: 100%;
    }
  }

  &__input:checked + &__label {
    &::after {
      width: 16px;
      height: 16px;
      left: 6px;
      background: $color-accent;
      border-radius: 100%;
    }
  }

  &__input:disabled + &__label {}

}
