mixin radio(data)
  - data = data || {};
  label.radio&attributes(attributes)
    input(type="radio" name=data.name checked=data.checked disabled=data.disabled).radio__input
    span.radio__label #{data.label}

