mixin pages-nav(items)
  nav.pages-nav&attributes(attributes)
    ul.pages-nav__list
      each item in items
        li.pages-nav__item(class={'pages-nav__item--current': item.current})
          if (item.current)
            span.pages-nav__title #{item.title}
          else
            a(href="#").pages-nav__url
              span.pages-nav__title #{item.title}
