.pages-nav {
  padding: 15px;
  background: #fff;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    @include reset-list-item;

    &--current {
      background: $color-main-dark;
      color: #fff;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
  }

  &__title {
    display: inline-block;
    padding: 4px 10px;
  }
}
