include ../product-price/product-price
mixin catalog(count)
  .catalog.grid&attributes(attributes)
    //- Картинок нарещано всего 8, а потребоваться может любое количество товаров.
    - for (var i = 0, l = 7, d = 0; i < count; i++, d + 1 > l ? d = 0 : d++)
      .catalog__item.grid__item
        .catalog__item-in
          .catalog__img
            a(href="product.html").link-hidden
              img(src=imagesPath + "upload/catalog/" + d + ".jpg" width="200" height="200" alt="Термостатическая головка с выносным накладным датчиком")
          .catalog__content
            .catalog__content-top
              .catalog__title
                a(href="product.html").link-hidden Термостатическая головка с выносным накладным датчиком
              .catalog__brand Бренд: JW
               if (d === 3)
                .catalog__avail #[span(class="text-warn") ●] нет наличии
               else
                 .catalog__avail #[span(class="text-success") ●] в наличии
            .catalog__content-bot
              +product-price(d != 1 && d != 7)
              .catalog__buy
                .catalog__buy-count
                  .input-group
                    .input-group__item.catalog__buy-input
                      input(type="text" value="1").input-text.input-text--sm.text-center
                    .input-group__item.catalog__buy-label
                      .input-posfix шт.
                  //-.input-group__item.input-group__item--grow.text-right
                .catalog__buy-btn
                  button(type="button").btn.btn--sm: span В корзину


