include ../blocks/faq/faq
include ../blocks/form-anchor/form-anchor
.content-block
  .row
    .col-12.col-md-10.offset-md-1
      .list-header
        +form-anchor('#ask-form', 'Задать вопрос').js-scroll-to(data-scroll-offset="-150")
      +faq(getData(dataSrc + 'faq'))
.content-block
  include _parts/_ask-form
