include ../blocks/history-products/history-products
button(type="button").history__close.js-history-item__toggle
.history__num Заказ № 748320
.history__info Пункт выдачи: 2-й километр трассы Пятигорск-Георгиевск (район рынка «Людмила») #[a(href="") посмотреть на карте]
.history__info Статус заказа: заказ оплачен
.history__info Состояние заказа: в пути
.history__info Трекинговый номер: —
.history__products
  +history-products()
.history__sum Итого: 184 000 р.
