extends _layouts/_checkout
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/cart-items/cart-items
include ../blocks/checkout-steps/checkout-steps
block head
  - pageTitle = 'Корзина';
  - pageUrl = 'cart.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    .content-block.content-block--pull-top.island.island--small
      +breadcrumbs({
        items: [
          {title: 'Главная', link: 'home.html'},
          {title: 'Корзина'}],
        lastLink: false
      })
      +checkout-steps([
        {
          title: 'Корзина',
          current: true
        },
        {
          title: 'Контактные данные'
        },
        {
          title: 'Способы доставки'
        },
        {
          title: 'Заказ оформлен'
        }
      ])
      .content-block
        +cart-items()
      .content-block
        .row.row--vcentr.b-list
          .col-12.col-sm-4.b-list__item
            form(action="/" novalidate).js-form-validator.form
              // У этой и других форм добавлена валидация (класс js-form-validator). Это демо для верстки! Пример интеграции валидатора с формой можно посмотреть у формы подписки (src/scripts/app/forms/subscribe-form.js)
              .form__title.form__title--pull.text-left
                | Промокод
                // После применения прмоокода выводится текст "Промокод применён, скидка 12 500 р."
              .input-group
                .input-group__item--grow
                  input(type="text" required).input-text
                .input-group__item
                  button(type="button").btn.btn--fluid.btn--inverse: span Применить
          .col-12.col-sm-7.offset-sm-1.b-list__item
            form(action="/checkout-contacts.html")
              .row.row--vcentr.b-list
                .col-12.col-sm-6.b-list__item
                  .sum
                    .sum__row Товаров на #[span(class="text-nowrap") 97 500 р.]
                    .sum__row Скидка по промокоду #[span(class="text-nowrap") 12 500 р.]
                  .sum.sum--big Итого: #[span(class="text-nowrap") 97 500 р.]
                .col-12.col-sm-6.text-sm-right.b-list__item
                  button(type="submit").btn.btn--xl: span Оформить заказ
block footer
block promo
  include _parts/_aside-promo-2
block footer-scripts

