extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/catalog-nav/catalog-nav
include ../blocks/category-card/category-card
include ../blocks/category-thumb/category-thumb
block head
  - pageTitle = 'Каталог';
  - pageUrl = 'catalog.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
      items: [
        {title: 'Главная', link: 'home.html'},
        {title: 'Отопление'}],
      lastLink: false
    })
    .content-block.content-block--pull-top
      .layout
        main.layout__main
          .island.content-block.content-block--sm-bot
            +category-card('Отопление')
          .island
            .row.b-list
              - var categories = getData(dataSrc + 'categories-1-lvl');
              each item in categories
                .col-12.col-sm-6.b-list__item
                  +category-thumb(item)
        aside.layout__aside
          +catalog-nav('Отопление',[
            'Автоматика',
            'Водяное отопление',
            'Воздушное отопление',
            'Возобновляемые источники энергии',
            'Инфракрасное отопление',
            'Котельная комната',
            'Химия для систем отопления',
            'Хозтовары для отопления'
          ]).layout__aside--sticky.js-sticky
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
