extends _layouts/_checkout
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/checkout-steps/checkout-steps
include ../blocks/history-products/history-products
include ../blocks/pickup/pickup
include ../blocks/radio/radio
include ../blocks/select/select
block head
  - pageTitle = 'Заказ оформлен';
  - pageUrl = 'checkout-success.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    .content-block.content-block--pull-top.island.island--small
      +breadcrumbs({
        items: [
          {title: 'Главная', link: 'home.html'},
          {title: 'Корзина', link: 'cart.html'},
          {title: 'Заказ оформлен'}],
        lastLink: false
      })
      +checkout-steps([
        {
          title: 'Корзина'
        },
        {
          title: 'Контактные данные'

        },
        {
          title: 'Способы доставки'
        },
        {
          title: 'Заказ оформлен',
          current: true
        }
      ])
      .content-block
        .row.b-list
          .col-12.col-sm-6.b-list__item
            .content-block Иван, мы очень рады, что вы выбрали наш магазин. <br>В ближайшее время с вами свяжется менеджер для подтверждения данных заказа.
            .content-block
              a(href="workers.html") Установить оборудование вам помогут Мастера
              br
              a(href="service-centers.html") А пройти сервисное обсуживание можно здесь. Сервисные центры.
            .content-block
              .h5 Ваш заказ № 1-299-197
              .text-small-expand от 17 декабря 2016 г. 11:27
              .text-small-expand Данные покупателя: Иван, тел.: 8(928)000000, е-mail: ivan@yandex.ru
              .text-small-expand Адрес доставки Ростов-на-Дону, ул. Ленина, д.3, корп. 2, кв. 1,
          .col-12.col-sm-5.offset-sm-1.col-md-4.b-list__item
            .island.box
              .content-block.h5.text-center Нравится у нас покупать? <br>Оставьте отзыв на
              .content-block.text-center
                img(src=imagesPath + "ya-market.svg" width="144" height="28" alt="")
              a(href="#").btn.btn--fluid.btn--inverse Оставить отзыв
        .content-block
          .spoiler
              a(href="#order-products").spoiler__btn.js-spoiler
                span.spoiler__btn-collapse Cостав заказа
                span.spoiler__btn-expand Свернуть состав заказа
              .spoiler__content#order-products
                +history-products()
        .content-block
          .sum
            .sum__row Итого
            .sum__row Товаров на #[span(class="text-nowrap") 97 500 р.]
            .sum__row Скидка по промокоду #[span(class="text-nowrap") 12 500 р.]
            .sum__row Доставка: 404 р.
        .content-block
          .row
            .col-12.col-sm-4
              .h4 К оплате: 97 500 р.
            .col-12.col-sm-4
              = 'Оплата: '
              span.h5 курьеру при получении
        .content-block
          a(href="#").print-link распечатать информацию о заказе
block footer
block promo
  include _parts/_aside-promo-2
block footer-scripts

