extends _layouts/_default
include ../blocks/ajax-preloader/ajax-preloader
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/section-title/section-title
include ../blocks/select/select
block head
  - pageTitle = 'Пункты выдачи';
  - pageUrl = 'contacts.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Пункты выдачи'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      +section-title('Пункты выдачи', 'h1')
      .row.b-list
        .col-12.col-sm-6.b-list__item
          .row.row--vcentr
            .col-12.col-sm-4
              label(for="contacts-map-city").input-label.h3 Выберите город:
            .col-12.col-sm-8
              // В этом селекте выводим список городов и координаты центра карты для каждого города
              +select()#contacts-map-city
                option(data-map-center="[44.059654, 43.034953]" value="") Пятигорск
                option(data-map-center="[43.020603, 44.681888]" value="") Владикавказ
                option(data-map-center="[45.040216, 38.975996]" value="") Краснодар
        .col-12.col-sm-6.b-list__item.text-small-expand
          | Для вас доступны наши магазины в городах Пятигорск, Владикавказ, Краснодар. А также получить свою покупку можно практически по всей России благодаря нашему партнеру компании «Пек»
      .content-block
        // Все параметры карты - в дата-атрибуте: центр карты, уровень зума (zoom)
        #contacts-map.map(data-center="[44.059654, 43.034953]" data-markers=JSON.stringify(getData(dataSrc + 'map-markers')) data-marker-image=imagesPath + "map-marker.svg")
          +ajax-preloader().map__preloader#contacts-map-preloader
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
