extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/faq/faq
include ../blocks/form-anchor/form-anchor
include ../blocks/section-title/section-title
block head
  - pageTitle = 'Вопрос-ответ';
  - pageUrl = 'faq.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Вопрос-ответ'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      +section-title('Вопрос-ответ', 'h1')
      .content-block.row
        .col-12.col-md-10.offset-md-1
          .list-header
            +form-anchor('#ask-form', 'Задать вопрос').js-scroll-to(data-scroll-offset="-150")
          +faq(getData(dataSrc + 'faq'))
          include _parts/_pagination
      .content-block
        include _parts/_ask-form
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts

