extends _layouts/_default
include ../blocks/brands-carousel/brands-carousel
include ../blocks/carousel-nav/carousel-nav
include ../blocks/catalog/catalog
include ../blocks/featured-cats/featured-cats
include ../blocks/hello/hello
include ../blocks/tiles/tiles
include ../blocks/tiles-alt/tiles-alt
include ../blocks/section-title/section-title
block head
  - pageTitle = 'Главная страница';
  - pageUrl = 'home.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +hello()
    .island.js-carousel.js-carousel--categories
      +section-title('Самые продаваемые категории', 'h3')
      +featured-cats(getData(dataSrc + 'featured-cats')).js-carousel__items
      +carousel-nav().hidden-sm-up
    .content-block.island
      +brands-carousel()
    .content-block
      +tiles(getData(dataSrc + 'tiles'))
    .content-block.js-carousel.js-carousel--catalog(data-rows="2")
      +section-title('Товары со скидкой', 'h3')
      +carousel-nav().carousel-nav--top
      +catalog(24).grid--xs-2.grid--sm-3.grid--md-4.js-carousel__items
    .content-block
      +tiles-alt(getData(dataSrc + 'tiles-2'))
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
  script.
    // Вызов поп-апа с вопросом о городе
    // Он в макетах был сделан только для больших экранов
    $(function () {
      if ($.documentWidth() >= 992) {
        Popups.openCityPopup(true);
      }
    });
