extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/news/news
include ../blocks/section-title/section-title
block head
  - pageTitle = 'Акции и новости';
  - pageUrl = 'news.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Акции и новости'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      +section-title('Акции и новости', 'h1')
      +news(6).grid--sm-3
      include _parts/_pagination
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts

