extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/carousel-nav/carousel-nav
include ../blocks/image-slider/image-slider
include ../blocks/news/news
include ../blocks/section-title/section-title
block head
  - pageTitle = 'Акции и новости - Новость';
  - pageUrl = 'news.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Акции и новости', link: 'news.html'},
          {title: 'Паровое отопление частного дома '}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      .row.b-list
        .col-12.col-sm-7.wysiwyg.b-list__item
          +section-title('Паровое отопление частного дома', 'h1')
          p С середины прошлого столетия применение парового отопления в жилых многоквартирных домах и общественных зданиях запрещено – для этого имеется ряд причин, связанных с особенностями их эксплуатации. Скажем прямо, они небезопасны для человека, и именно по этой причине встретить их сегодня можно только в производственных помещениях. Запрета использовать паровое отопление в частных домах не существует – в них хозяева вольны делать все, что заблагорассудится.
          +image-slider()
          p С середины прошлого столетия применение парового отопления в жилых многоквартирных домах и общественных зданиях запрещено – для этого имеется ряд причин, связанных с особенностями их эксплуатации. Скажем прямо, они небезопасны для человека, и именно по этой причине встретить их сегодня можно только в производственных помещениях. Запрета использовать паровое отопление в частных домах не существует – в них хозяева вольны делать все, что заблагорассудится.
          +image-slider()
          p С середины прошлого столетия применение парового отопления в жилых многоквартирных домах и общественных зданиях запрещено – для этого имеется ряд причин, связанных с особенностями их эксплуатации. Скажем прямо, они небезопасны для человека, и именно по этой причине встретить их сегодня можно только в производственных помещениях. Запрета использовать паровое отопление в частных домах не существует – в них хозяева вольны делать все, что заблагорассудится.
          p С середины прошлого столетия применение парового отопления в жилых многоквартирных домах и общественных зданиях запрещено – для этого имеется ряд причин, связанных с особенностями их эксплуатации. Скажем прямо, они небезопасны для человека, и именно по этой причине встретить их сегодня можно только в производственных помещениях. Запрета использовать паровое отопление в частных домах не существует – в них хозяева вольны делать все, что заблагорассудится.
        .col-12.col-sm-4.offset-sm-1.b-list__item
          +section-title('Еща акции и новости', 'h4').section-title--sm.title-line--accent
          +news(4).grid--xs-1
          .content-block
            a(href="news.html").btn.btn--sm.btn--inverse Все акции и статьи
block promo
  include _parts/_aside-promo-1
block footer
block footer-scripts

