extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/history/history
include ../blocks/history-head/history-head
include ../blocks/island-head-tabs/island-head-tabs
block head
  - pageTitle = 'История заказов';
  - pageUrl = 'order-history.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
      items: [
        {title: 'Главная', link: 'home.html'},
        {title: 'Профиль'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.content-block--sm-bot.island
      +island-head-tabs([{title: 'История заказов', current: 'true'}, {title: 'Профиль', url: 'profile.html'}])
      +history-head().hidden-xs-down
    +history()
    include _parts/_pagination
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
