extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/island-head-tabs/island-head-tabs
include ../blocks/section-title/section-title
block head
  - pageTitle = 'Профиль (покупатель)';
  - pageUrl = 'profile.html';
  - pageCenter = false;
  - loggedIn = true;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Профиль'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      +island-head-tabs([{title:'История заказов', url: 'order-history.html'}, {title: 'Профиль', current: 'true'}])
      .row
        .col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3
          form(action="/" novalidate).form.js-form-validator
            // У этой и других форм добавлена валидация (класс js-form-validator). Это демо для верстки! Пример интеграции валидатора с формой можно посмотреть у формы подписки (src/scripts/app/forms/subscribe-form.js)
            .form-row.row.row--vcentr
              .col-12.col-sm-2
                label(for="profile_name").input-label Имя:
              .col-12.col-sm-10
                input(type="text" id="profile_name" value="Иван Петров" required).input-text
            .form-row.row.row--vcentr
              .col-12.col-sm-2
                label(for="profile_tel").input-label Телефон:
              .col-12.col-sm-10
                input(type="tel" id="profile_tel" value="+79876543210" required).input-text.js-mask-phone
            .form-row.row.row--vcentr
              .col-12.col-sm-2
                label(for="profile_email").input-label Email:
              .col-12.col-sm-10
                input(type="email" id="profile_email" value="mail@mail.ru" required).input-text
            .form-row.form-row--push-top.text-small.text-bold Сменить пароль
            .form-row.row.row--vcentr
              .col-12.col-sm-2
                label(for="profile_password").input-label Пароль:
              .col-12.col-sm-10
                input(type="password" id="profile_password" required).input-text
            .form-row.row.row--vcentr
              .col-12.col-sm-2
                label(for="profile_password_repeat").input-label Пароль ещё&nbsp;раз:
              .col-12.col-sm-10
                input(type="password" id="profile_password_repeat" required).input-text
            .form-row.form-row--push-top
              button(type="submit").btn.btn--fluid: span Сохранить
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
