extends _layouts/_default
include ../blocks/section-title/section-title
block head
  - pageTitle = 'Стили';
  - pageUrl = 'styles.html';
  - pageCenter = true;
block header
block head-styles
  style(type='text/css').
    ._demo-title {
      margin: 80px 0 40px;
    }

    ._demo-block {
      margin: 15px 0;
    }

    ._demo-fill {
      height: 100%;
      padding: 20px;
      background: #e1e1e1;
    }
block content
  .container
    // Layout
    ._demo-title.h1 Layout
    +section-title('Заголовок страницы / секции (можно использовать любой тег)', 'h3')
    .content-block.island Блок "Остров"
    .content-block.island Блок "Остров" с уменьшенными внутренними отступами
    .content-block
      ._demo-fill Блок контента с отступами сверху и снизу
    .content-block.content-block--tight
      ._demo-fill  Блок контента с отступами сверху и снизу и внутренними отступами слева и справа
    .content-block.content-block--sm-bot
      ._demo-fill Блок контента с уменьшенными отступами сверху и снизу
    .content-block.content-block--sm-top
      ._demo-fill Блок контента с уменьшенными отступами сверху и снизу
    ._demo-block Доступна сетка Bootstrap на 12 колонок
    .row
      .col-12.col-md-3
        ._demo-fill col-xs-12 col-md-3
      .col-12.col-md-3
        ._demo-fill col-xs-12 col-md-3
      .col-12.col-md-6
        ._demo-fill col-xs-12 col-md-6
    ._demo-block Можно дополнить колонки стилями набора блоков, чтобы был отступ между ними по вертикали. <br>Уменьшите экран до &lt; 1024px чтобы увидеть разницу.
    .row.b-list
      .col-12.col-md-3.b-list__item
        ._demo-fill col-xs-12 col-md-3
      .col-12.col-md-3.b-list__item
        ._demo-fill col-xs-12 col-md-3
      .col-12.col-md-6.b-list__item
        ._demo-fill col-xs-12 col-md-6
    // Buttons
    ._demo-title.h1 Кнопки
    ._demo-block
      button(type="button").btn: span Обычная кнопка
    ._demo-block
      a(href="").btn Ссылка-кнопка
    ._demo-block
      button(type="button").btn.btn--fluid: span Кнопка на всю ширину
    ._demo-block
      button(type="button").btn.btn--sm: span Маленькая кнопка
    // Forms
    ._demo-title.h1 Формы
    ._demo-block
      input(type="text" placeholder="Обычный инпут" required).input-text
    ._demo-block
      .input-group
        .input-group__item.input-group__item--grow
          input(type="email" placeholder="Группировка с кнопкой" required).input-text
        .input-group__item
          button(type="submit").btn: span Подписаться
    ._demo-block
      form(action="/" novalidate).js-form-validator.form
        // У этой и других форм добавлена валидация (класс js-form-validator). Это демо для верстки! Пример интеграции валидатора с формой можно посмотреть у формы подписки (src/scripts/app/forms/subscribe-form.js)
        .form-row.row.row--vcentr
          .col-12.col-sm-2
            label(for="profile_name").input-label Обязательное поле:
          .col-12.col-sm-10
            input(type="text" id="profile_name" required).input-text
        .form-row.row.row--vcentr
          .col-12.col-sm-2
            label(for="profile_tel").input-label Телефон:
          .col-12.col-sm-10
            input(type="tel" id="profile_tel" required).input-text.js-mask-phone
        .form-row.row.row--vcentr
          .col-12.col-sm-2
            label(for="profile_email").input-label Email:
          .col-12.col-sm-10
            input(type="email" id="profile_email" required).input-text
        .form-row.form-error Поле для вывода текста ошибок формы. Для форм сделано демо валидации (рабочая форма - форма подписки). Валидатор можно расширять различными проверками.
        .form-row.form-row--push-top
          button(type="submit").btn.btn--fluid: span Сохранить
    // WYSIWYG
    ._demo-title.h1 Стили для визуального редактора
    .wysiwyg
      h1 Заголовок H1
      h2 Заголовок H2
      h3 Заголовок H3
      h4 Заголовок H4
      p Идейные соображения высшего порядка, а также реализация намеченных плановых заданий играет важную роль в формировании соответствующий условий активизации. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание новых предложений.
      p Повседневная практика показывает, что сложившаяся структура организации представляет собой интересный эксперимент проверки форм развития. Товарищи! дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке форм развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности требуют от нас анализа систем массового участия.
      h4 Маркированный список
      ul
        li Маркированный список
        li Маркированный список
          ul
            li Маркированный список 2 уровня
            li Маркированный список 2 уровня
        li Маркированный список
      h4 Нумерованный список
      ol
        li Нумерованный список
        li Нумерованный список
        li Нумерованный список
block footer
block promo
block footer-scripts
