extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/image-slider/image-slider
include ../blocks/pages-nav/pages-nav
include ../blocks/section-title/section-title
block head
  - pageTitle = 'Текстовая страница';
  - pageUrl = 'text-page.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Оплата'}],
      lastLink: false
    })
    .content-block.content-block--pull-top
      .layout
        main.layout__main
          .island
            +section-title('Оплата', 'h1')
            .wysiwyg
              +image-slider()
              p С середины прошлого столетия применение парового отопления в жилых многоквартирных домах и общественных зданиях запрещено – для этого имеется ряд причин, связанных с особенностями их эксплуатации. Скажем прямо, они небезопасны для человека, и именно по этой причине встретить их сегодня можно только в производственных помещениях. Запрета использовать паровое отопление в частных домах не существует – в них хозяева вольны делать все, что заблагорассудится.
              h4.title-line.title-line--accent.js-title-line Заголовок
              p С середины прошлого столетия применение парового отопления в жилых многоквартирных домах и общественных зданиях запрещено – для этого имеется ряд причин, связанных с особенностями их эксплуатации. Скажем прямо, они небезопасны для человека, и именно по этой причине встретить их сегодня можно только в производственных помещениях. Запрета использовать паровое отопление в частных домах не существует – в них хозяева вольны делать все, что заблагорассудится.
        aside.layout__aside
          +pages-nav([
            {
              title: 'Оплата',
              current: true
            },
            {
              title: 'Доставка'
            },
            {
              title: 'Политика возвратов'
            },
            {
              title: 'Наличие товаров'
            },
            {
              title: 'Пользовательское соглашение'
            },
            {
              title: 'Политика конфиденциальности'
            }
          ]).layout__aside--sticky.js-sticky
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
