extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/section-title/section-title
include ../blocks/worker-card/worker-card
block head
  - pageTitle = 'Мастер - Неавторизованный пользователь';
  - pageUrl = 'worker-unauthorized.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Мастера', link: 'workers.html'},
          {title: 'Иван Петров'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      +worker-card({title: 'Иван Петров', img: "upload/master-photo.jpg", unauthorized: true })
    include _parts/_works
    include _parts/_reviews
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
