.brand-card {
  &__title {
    @include h3;
    margin: 0 0 15px;
  }

  &__descr {
    @include font-size($font-size-small-expand);
  }

  &__more {
    margin-top: 15px;
  }

  &__more-btn {
    @include reset-button;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: $color-text;
    text-decoration: underline;

    &::after {
      display: inline-block;
      content: '';
      margin-left: 8px;
      vertical-align: middle;
      @include sprite($sprite-arrows-xs-down);
    }

    @include hover-active {
      text-decoration: none;
      color: $color-text;

      &::after {
        @include sprite($sprite-arrows-xs-down-active);
      }
    }

    & span::before {
      content: attr(data-spoiler-collapse);
    }

    &.is-expand span::before {
      content: attr(data-spoiler-expand);
    }

    &.is-expand {
      &::after {
        @include sprite($sprite-arrows-xs-up);
      }

      @include hover-active {
        &::after {
          @include sprite($sprite-arrows-xs-up-active);
        }
      }
    }
  }

  &__more-content {
    display: none;
  }

  &__more-txt {
    @include font-size($font-size-small-expand);
    padding: 20px 30px;
  }
}
