mixin brand-card()
  .brand-card&attributes(attributes)
    h1.brand-card__title.title-line.title-line--accent.js-title-line Honeywell
    .row.row.row--vcentr
      .col-12.col-sm-6.push-sm-6.text-center.brand-card__img
        img(src=imagesPath + "upload/brands/brand-1.png" width="156" height="60" alt="")
      .col-12.col-sm-6.pull-sm-6.brand-card__descr
        | Мы предлагаем широкий спектр программируемых и не программируемых терморегуляторов от ведущих производителей Honeywell, Lemax, Fondital, Thermex. Наслаждайтесь быстрой доставкой и гарантированно низкой ценой...
    .brand-card__more
      button(type="button" data-spoiler-target="#brand-card-more").brand-card__more-btn.js-spoiler
        span(data-spoiler-collapse="Больше о бренде" data-spoiler-expand="Свернуть")
      .brand-card__more-content#brand-card-more
        .brand-card__more-txt.wysiwyg
          // Тут лучше разрешить только абзацы
          p Оборудование для отопления частных домовладений представлено целым рядом товаров: отопительные котлы, конвекторы, радиаторы, теплые полы, тепловентиляторы, инфракрасные обогреватели, солнечные коллекторы, тепловые насосы и др. Современные отопительные системы могут работать от самых разных источников энергии: энергия сгорания топлива (газ, дрова, уголь, пеллеты, солярка, отработанное масло и др.), электрическая энергия (ТЭНовый нагрев, электродный, индукционный и др.), возобновляемые источники энергии (солнечная энергия, геотермальная и др.). Мы заботимся о том, чтобы предоставить вам самый широкий выбор качественных товаров для отопления по отличным ценам и с наилучшим сервисом.
          p Солнечные коллекторы, тепловые насосы и др. Современные отопительные системы могут работать от самых разных источников энергии: энергия сгорания топлива (газ, дрова, уголь, пеллеты, солярка, отработанное масло и др.), электрическая энергия (ТЭНовый нагрев, электродный, индукционный и др.), возобновляемые источники энергии (солнечная энергия, геотермальная и др.). Мы заботимся о том, чтобы предоставить вам самый широкий выбор качественных товаров для отопления по отличным ценам и с наилучшим сервисом.
