button.footer__up[type="button"] {
    display: block;
    position: fixed;
    bottom: 15%;
    right: 5%;
}
.skyCompareCounter{
    width: 55px;
    height: 55px;
    margin-right: 10px;
    background: #666!important;
    position: relative;
        -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    padding: 9px;
}
.skyCompareCounter:hover{
     background: #006ac0!important;
}
.skyCompareCounter svg{
    width: 100%;
    height: 100%;
}
.skyCompareCounter svg g{
    fill: #fff;
}
.skyCompareCounter .nav__title{
    position: absolute;
    color: #fff;
    top: 6px;
    right: 3px;
    height: 16px;
    min-width: 17px;
    line-height: 16px;
    background: #ee6b00;
    border-radius: 10px;
    width: max-content;
    padding: 0 3px!important;
    display: block;
    font-size: 13px;
    text-align: center;
}
.catalog_compare-btn{
    margin-left: 10px;
}
@media screen and (min-width: 992px) {
    button.footer__up[type="button"] {
        display: none;
    }
}


button.footer__up.is-show[type="button"] {
    display: block;
    position: fixed;
    bottom: 15%;
    right: 5%;
}

@media screen and (min-width: 1366px) {
    button.footer__up.is-show[type="button"] {
        display: block;
        position: fixed;
        bottom: 5%;
        left: 1090px;
    }
}

@media (max-width: 991px){
    .skyCompareCounter {
        width: 25px!important;
        height: 21px!important;
        background: #fff!important;
        margin-right: 0px!important;
        padding: 0;
    }
    .skyCompareCounter svg g {
        fill: #333!important;
    }
    .skyCompareCounter .nav__title {
        top: -11px!important;
        right: -10px!important;
        font-size: 10px!important;
        line-height: 18px!important;
        padding: 0px 5px!important;
    }
    .skyCompareCounter:hover {
        background: #ffffff!important;
    }
}
@media (max-width: 370px){
    .header__elem{
        margin-left: 10px!important;
    }
    .header__logo,.cart-widget{
        margin-right: 10px!important;
    }
    .skyCompareCounter {
        margin-right: 10px!important;
    }
}

font.notetext {
    color: green;
}