.cart-items__item .b-list__item:first-child, .catalog__img {
    text-align: center
}

.header__fixed {
    z-index: 1500 !important
}

.nav__title {
    padding: 0 10px !important
}

.text-small-expand_center {
    display: flex;
    justify-content: center;
    flex-direction: column
}

.input-advice.error {
    color: red
}

.tiles-alt__link:hover .tiles-alt__text {
    color: #fff
}

.tiles-alt__link:hover .tiles-alt__text.close {
    color: #000
}

.catalog__item .catalog__content .catalog__title {
    margin-bottom: 10px
}

.catalog__item .catalog__content .catalog__title a {
    height: inherit
}

.catalog__item .catalog__content .catalog__title + .catalog__brand {
    margin-top: auto
}

.catalog__item .catalog__content .catalog__content-top {
    display: flex;
    flex-direction: column
}

.product-card__thumbs.slick-slider .slick-slide &gt; div {
    position: relative;
    height: 0;
    padding-bottom: 100%
}

.product-card__thumbs.slick-slider .slick-slide &gt; div .product-card__thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px
}

.product-card__thumbs.slick-slider .slick-slide &gt; div .product-card__thumb .product-card__thumb-in {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.product-card__thumbs.slick-slider .slick-slide &gt; div .product-card__thumb .product-card__thumb-in img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%
}

.catalog__img .link-hidden {
    line-height: 200px
}

.slick-slide .catalog__img {
    height: 0;
    min-height: 100px;
    position: relative;
    padding-bottom: 100%
}

.slick-slide .catalog__item .catalog__item-in .catalog__img .link-hidden {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center
}

.slick-slide .catalog__item .catalog__item-in .catalog__img .link-hidden img {
    width: auto;
    margin: auto
}

.js-product-thumbs &gt; .slick-list .slick-track, .worker-card__img {
    margin: 0 auto
}

.filter__bubble.is-show {
    z-index: 200
}

.cart-items__item .flexible-media {
    width: auto
}

.featured-cats__item-in:hover {
    opacity: .75
}

.hello__slides {
    overflow: hidden
}

.catalog__img_bgr {
    background: center center/contain no-repeat none
}

.worker-card__img, .workers__photo .link-hidden {
    box-sizing: border-box;
    border-radius: 50%;
    display: block;
    background: center center/cover no-repeat none;
    height: 0;
    width: 100%;
    padding-bottom: 100%
}

.catalog__img_bgr img {
    opacity: 0
}

.filter__bubble-call, .filter__title, .filter__title--big {
    font-family: Arial !important
}

.props__label.props__label {
    padding-right: 30px
}

.worker-card__img_in {
    position: relative;
    margin: 0 auto;
    max-height: 350px;
    max-width: 350px
}

.checkbox__input.is-invalid + .checkbox__label:before, .radio__input.is-invalid + .radio__label:before {
    border: 1px solid red;
    background: 0 0
}

.noUi-handle.noUi-handle-lower, .noUi-handle.noUi-handle-upper, .ps-scrollbar-y, .select {
    cursor: pointer
}

.ui-autocomplete-term {
    font-weight: bold;
    color: blue;
}

.ui-menu-item-wrapper strong.section {
    display: block;
    background-color: gray
}

li.ui-menu-item .ui-state-active.nohover:hover {
    color: #333;
    cursor: default;
    border: 0;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #fff
}

li.ui-menu-item .ui-state-active {
    background-color: #006ac0;
    border: 1px solid #006ac0;
}

/*basket*/
body .bx_item_list_you_looked_horizontal {
    border-bottom-width: 0px;
}

/* BASKET */
#basket_form_container {
    padding: 20px 0 0;
}

#basket_form_container .top_control {
    float: right;
    margin: 1px 0 0;
}

#basket_form_container .top_control .btn:first-child {
    margin-left: 0;
}

#basket_form_container .top_control .btn:hover {
    color: #FFF;
}

#basket_form_container .top_control .delete_all {
    display: block;
    margin: 0px;
    padding-top: 7px;
    padding-bottom: 8px;
}

#basket_items_list .error_text {
    font-size: 14px;
    line-height: 20px;
    border-radius: 0;
    padding: 15px 29px;
    background: #ffeeee;
    color: #e83333;
}

.bx_ordercart .bx_ordercart_order_pay_left {
    overflow: hidden;
}

.bx_ordercart .bx_ordercart_order_pay, .bx_ordercart .bx_ordercart_order_sum, .bx_ordercart .bx_ordercart_order_pay_left, .bx_ordercart .bx_ordercart_order_pay_right, .bx_ordercart .bx_ordercart_order_pay_center, .bx_ordercart .bx_ordercart_order_pay_center span, .bx_ordercart .bx_ordercart_order_pay_center .checkout, .bx_ordercart .bx_ordercart_order_table_container table, .bx_ordercart .bx_ordercart_order_table_container table tbody, .bx_ordercart .bx_ordercart_order_table_container table tbody tr, .bx_ordercart .bx_ordercart_order_table_container table tbody tr td, .bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemtitle a, .bx_ordercart .bx_ordercart_order_table_container tbody td.price .current_price {
    top: 0;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.bx_ordercart .bx_ordercart_order_pay_center .checkout {
    border-radius: 2px;
}

.bx_ordercart_order_pay_left {
    padding: 0 0 40px;
}

.bx_ordercart_order_pay_right {
    padding: 0 0 40px;
    margin-top: 10px;
}

.bx_ordercart .bx_ordercart_order_table_container {
    border-radius: 0;
    border: 1px solid #f2f2f2;
    background: #FFF;
}

.bx_ordercart .bx_ordercart_order_table_container table td {
    padding: 0 10px;
    line-height: 20px;
}

.bx_ordercart .bx_ordercart_order_table_container table td.margin {
    width: 0;
    min-height: 0;
    padding: 0;
}

.bx_ordercart .bx_ordercart_order_table_container table thead td {
    padding: 7px 9px 8px 12px;
    font-size: 13px;
    line-height: 20px;
    background: none;
    color: #999999;
}

.bx_ordercart .bx_ordercart_order_table_container table thead td.item {
    padding-left: 159px;
}

.bx_ordercart .bx_ordercart_order_table_container table tbody td {
    border-bottom: none;
    padding: 24px 9px 24px;
    border-top: 1px solid #f2f2f2;
}

.bx_ordercart .bx_ordercart_order_table_container table tbody td.itemphoto {
    padding-left: 29px;
}

.bx_ordercart .bx_ordercart_order_table_container table td.custom:last-of-type {
    width: 210px;
}

.bx_ordercart .bx_ordercart_photo_container {
    padding: 0;
    border-radius: 0;
    border: none;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.itemphoto {
    max-width: 189px;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.itemphoto &gt; div {
    max-width: 130px;
    height: 130px;
    line-height: 130px;
}

.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemtitle {
    margin: 0 0 15px;
    font-size: 1.067em;
    font-weight: bold;
    line-height: 20px;
    color: #333333;
}

.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemtitle a {
    font-weight: bold;
    line-height: 20px;
    color: #333333;
    font-size: 1em;
}

.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_photo {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    background-size: auto;
    height: 130px;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.item {
    width: 535px;
    padding-top: 47px;
}

.bx_ordercart .bx_item_detail_size_small_noadaptive {
    width: auto;
    margin: 0;
}

.bx_ordercart .bx_item_detail_size_small_noadaptive .bx_item_section_name_gray {
    display: block;
    margin: 0 0 10px;
    font-size: 12px;
    color: #888;
}

.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_item_section_name_gray, .bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_item_section_name_gray {
    font-size: 12px;
    color: #888;
}

.bx_ordercart .bx_item_detail_size_small_noadaptive .bx_size_scroller_container {
    margin: 0;
}

.bx_ordercart .bx_item_detail_size_small_noadaptive .bx_size {
    overflow: visible !important;
}

.bx_ordercart .bx_item_detail_size_small_noadaptive ul {
    margin: -3px 0 0 -3px;
    width: auto !important;
    white-space: normal;
}

.bx-touch .bx_ordercart .bx_item_detail_size_small_noadaptive .bx_size ul {
    margin-left: -3px !important;
}

.bx-touch .bx_ordercart .bx_item_detail_size_small_noadaptive ul li.bx_active a, .bx-retina .bx_ordercart.bx_blue .bx_item_detail_size_small_noadaptive ul li.bx_active .cnt {
    border-image: none;
}

.bx_ordercart .bx_item_detail_size_small_noadaptive ul li {
    width: auto !important;
    height: auto;
    padding: 0;
    margin: 0 6px 6px 0px;
}

.bx_ordercart .bx_item_detail_size_small_noadaptive ul li:before {
    display: none;
}

.bx_ordercart .bx_item_detail_size_small_noadaptive ul li:first-child {
    margin-left: 0;
}

.bx_ordercart .bx_item_detail_size_small_noadaptive ul li a {
    position: relative;
    padding: 7px 10px;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    font-size: 13px;
    line-height: 15px;
    color: #777777;
    text-align: center;
    position: relative;
    display: block;
    margin: 0;
    min-width: 9px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.bx_ordercart .bx_item_detail_size_small_noadaptive ul li:active a, .bx_ordercart .bx_item_detail_size_small_noadaptive ul li.bx_active a {
    border-width: 1px;
}

.bx_ordercart .bx_item_detail_size_small_noadaptive ul li a:hover {
}

.bx_ordercart .bx_item_detail_size_small_noadaptive ul li.bx_active a {
    cursor: default;
}

.bx_ordercart .bx_item_detail_size_small_noadaptive ul:after {
    content: "";
    display: table;
    clear: both;
}

.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_itemart {
    margin: -3px 0 10px;
    font-size: 13px;
    line-height: 20px;
    color: #777777;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive {
    width: auto;
    margin: 5px 0 0;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu_scroller_container {
    margin: 0;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_item_section_name_gray {
    margin: 0 0 7px;
    display: block;
    font-size: 12px;
    color: #999;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu ul {
    position: relative;
    margin: 0px 0 0;
    max-width: 180px !important;
    width: auto !important;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu ul:after {
    content: "";
    display: table;
    clear: both;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu ul li {
    height: auto;
    width: auto !important;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu ul li:before {
    display: none;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu ul li:first-child {
    margin-left: 0;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu ul li a {
    position: relative;
    top: 2px;
    right: auto;
    bottom: auto;
    left: 2px;
    display: inline;
    border: 0px;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu ul li a span {
    display: block;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu ul li:hover a {
    background: #FFF;
    border: 0px;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu ul li:not(.bx_active):active a {
    padding: 0;
}

.bx-retina .bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu ul li a {
    border: none;
}

.bx-retina .bx_ordercart.bx_blue .bx_item_detail_scu_small_noadaptive .bx_scu ul li .cnt {
    border-image: none !important;
}

.bx-retina .bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu ul li.bx_active a {
    border: none;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu ul li.bx_active:active a {
    padding: 0;
    border: none;
}

.bx_ordercart .bx_item_detail_scu_small_noadaptive .bx_scu ul li.bx_active a {
    padding: 0;
    border: none;
    cursor: default;
    border: none;
}

.bx_ordercart .bx_ordercart_order_table_container table tbody td.price {
    padding-top: 47px;
    width: 245px;
    white-space: nowrap;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.price .current_price {
    display: inline-block;
    vertical-align: top;
    font-size: 1.067em;
    line-height: 20px;
    color: #333;
    font-weight: bold;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.price .type_price, .bx_ordercart .bx_ordercart_order_table_container tbody td.price .type_price_value {
    margin: -1px 0 0;
    font-size: 11px;
    line-height: 14px;
    color: #aeaeae;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.price .type_price {
    display: none;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.custom {
    color: #333;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.custom .centered {
    margin: 16px 0 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.custom {
    width: 200px;
    padding-top: 46px;
    line-height: 26px;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.custom &gt; div:not(.centered) {
    text-align: left !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    color: #333333;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.custom span.price_value, .bx_ordercart .bx_ordercart_order_table_container tbody td.custom span.price_currency {
    display: inline;
}

.bx_ordercart .bx_ordercart_order_table_container table.counter {
    position: relative;
    overflow: hidden;
    margin: -22px auto 0;
    width: 84px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.bx_ordercart .bx_ordercart_order_table_container table.counter td:first-child {
    background: #f3f3f5;
    border-radius: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #f3f3f5 !important;
    font-size: 0px;
}

.bx_ordercart .bx_ordercart_order_table_container table.counter td:last-child {
    text-align: center !important;
    font-size: 13px;
    line-height: 20px;
    color: #777777;
}

.bx_ordercart .bx_ordercart_order_table_container table.counter td {
    display: block;
}

.bx_ordercart .bx_ordercart_order_table_container table.counter input {
    border: none;
    border-left: 1px solid #f3f3f5;
    border-right: 1px solid #f3f3f5;
    background: #f3f3f5;;
    max-width: 34px !important;
    font-weight: bold;
    width: 100%;
    padding: 7px 0 7px;
    font-size: 13px;
    line-height: 13px;
    height: 34px;
    color: #333333;
    text-align: center; /*-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;*/
}

#basket_quantity_control {
    padding: 0 !important;
}

.basket_quantity_control {
    display: block;
    overflow: hidden;
}

.basket_quantity_control td {
    padding: 0 !important;
}

.basket_quantity_control a {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 24px;
    height: 34px;
    cursor: pointer;
    background: none;
    border-radius: 0;
    border: none;
}

.basket_quantity_control a:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 14px;
    height: 14px;
    margin: -5px 0 0 -5px;
    background: url(images/ai.png) -87px -200px no-repeat;
    opacity: 0.7;
}

.basket_quantity_control a.plus {
    right: 1px;
    left: auto;
    margin: 0;
}

.basket_quantity_control a.minus {
    margin: 0;
    border-radius: 0;
}

.basket_quantity_control a.minus:hover:before {
    opacity: 1
}

.basket_quantity_control a.plus:before {
    background-position: -57px -200px;
    margin-left: -9px;
}

.basket_quantity_control a.plus:hover:before {
    opacity: 1
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.price .old_price { /*display:inline-block;*/
    vertical-align: top;
    margin: 0 0 0 2px;
    font-size: 13px;
    line-height: 20px;
    color: #777777;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.control {
    position: relative;
    width: 135px;
    padding-top: 40px;
    font-size: 0;
    line-height: 0;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.control br {
    display: none;
}

.bx_ordercart .bx_ordercart_order_table_container tbody td.control a {
    position: relative;
    font-size: 0;
    line-height: 0;
}

.bx_ordercart tbody td.control a:first-of-type, .bx_ordercart #basket_items_subscribed tbody td.control a:first-of-type, .bx_ordercart #basket_items_not_available tbody td.control a:last-of-type {
    position: absolute;
    right: 9px;
    top: 9px;
    width: 17px;
    height: 17px;
    border-radius: 100%;
}

.bx_ordercart tbody td.control a:first-of-type:before, .bx_ordercart #basket_items_subscribed tbody td.control a:first-of-type:before, .bx_ordercart #basket_items_not_available tbody td.control a:last-of-type:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -4px;
    width: 10px;
    height: 10px;
    background: url('images/close_icons.png') 0px -27px no-repeat;
}

.bx_ordercart tbody td.control a:first-of-type:hover:before, .bx_ordercart #basket_items_subscribed tbody td.control a:first-of-type:hover:before, .bx_ordercart #basket_items_not_available tbody td.control a:last-of-type:hover:before {
    background-position: -21px -27px;
}

.bx_ordercart tbody td.control a:last-of-type {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(images/icons_wish.png) 3px -17px no-repeat;
    top: 2px;
}

.bx_ordercart #basket_items_subscribed tbody td.control a:last-of-type, .bx_ordercart #basket_items_not_available tbody td.control a:last-of-type {
    background-image: none;
}

.bx_ordercart #basket_items_not_available tbody td.control a:first-of-type {
    display: none;
}

.bx_ordercart tbody td.control a:last-of-type:hover {
    background-position: 3px -73px;
}

.bx_ordercart #basket_items_delayed tbody td.control a:first-of-type {
    position: relative;
    right: auto;
    top: auto;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(images/icons_wish.png) -31px -201px no-repeat;
}

.bx_ordercart #basket_items_delayed tbody td.control a:first-of-type:hover {
    background-position: -147px -175px;
}

.bx_ordercart #basket_items_delayed tbody td.control a:first-of-type:before {
    display: none;
}

.bx_ordercart #basket_items_delayed tbody td.control a:last-of-type {
    position: absolute;
    right: 9px;
    top: 9px;
    width: 17px;
    height: 17px;
    background: none;
    border-radius: 100%;
}

.bx_ordercart #basket_items_delayed tbody td.control a:last-of-type:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
    width: 10px;
    height: 10px;
    background: url(images/close_icons.png) -0px -27px no-repeat;
}

.bx_ordercart #basket_items_delayed tbody td.control a:last-of-type:hover:before {
    background-position: -21px -27px;
}

.bx_ordercart .bx_ordercart_order_table_container .bx_ordercart_brand {
    display: none;
}

.bx_slide_left, .bx_slide_right {
    display: none !important;
}

.bx_ordercart .bx_ordercart_order_pay {
    margin: 35px 0 0;
    padding: 0;
}

.bx_ordercart .bx_ordercart_coupon {
    margin: 16px 0 0;
}

.bx_ordercart .bx_ordercart_coupon:first-of-type {
    margin-top: 0;
    margin-bottom: -21px;
}

.bx_ordercart .bx_ordercart_coupon span {
    margin: 0 20px 0 0;
    width: 150px;
    float: left;
    font-size: 14px;
    line-height: 15px;
    color: #373737;
    white-space: normal;
    text-align: left;
}

.bx_ordercart .bx_ordercart_coupon .input { /*overflow:hidden;*/
    padding: 0px 0px 0px 170px;
}

.bx_ordercart .bx_ordercart_coupon #coupon {
    width: 100%;
    box-shadow: none;
    border: 1px solid #f2f2f2;
    padding: 8px 45px 7px 15px;
    height: auto;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    color: #333;
    background: #FFF;
    border-radius: 2px;
}

.bx_ordercart .bx_ordercart_order_pay .bx_bt_button {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 37px;
    border-radius: 0;
    padding: 0px;
    font-size: 0;
    line-height: 0;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border-radius: 0px 2px 2px 0px;
}

.bx_ordercart .bx_ordercart_order_pay .bx_bt_button:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -7px;
    width: 14px;
    height: 12px;
    background: url(images/ai.png) -33px -49px no-repeat;
    cursor: pointer;
}

.bx_ordercart .bx_ordercart_order_pay .bx_bt_button:active {
    box-shadow: none;
}

.bx_ordercart .bx_ordercart_coupon:not(:first-of-type) {
    position: relative;
    margin-left: 100px;
    padding: 0 0 0 30px;
}

.bx_ordercart .bx_ordercart_coupon:not(:first-of-type):before {
    content: "";
    position: absolute;
    top: 6px;
    left: 8px;
    width: 11px;
    height: 11px;
    background: url(images/icons_wish.png) -102px -86px no-repeat;
}

.bx_ordercart .bx_ordercart_coupon:not(:first-of-type).good:before {
    background-position: -19px -3px;
}

.bx_ordercart .bx_ordercart_coupon .bx_ordercart_coupon_notes {
    float: right;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    display: block;
    opacity: 1;
    position: relative;
    top: auto;
    left: auto;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background: none;
}

.bx_ordercart .bx_ordercart_coupon .bx_ordercart_coupon_notes:first-letter {
    text-transform: uppercase;
}

.bx_ordercart .bx_ordercart_coupon input {
    padding: 0;
    height: auto;
    width: auto;
    float: none;
    border: none;
    background: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    border-radius: 0;
}

.bx_ordercart .bx_ordercart_coupon input.bad {
    box-shadow: none;
    border: none;
    background: none;
}

.bx_ordercart .bx_ordercart_coupon input.disabled {
    color: #333;
}

.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_coupon span.bad, .bx_ordercart .bx_ordercart_order_pay .bx_ordercart_coupon span.disabled {
    float: right;
    width: 17px;
    height: 17px;
    margin: 3px 0 0 3px;
    border-radius: 100%;
    background: url(images/close_icons.png) 3px -23px no-repeat;
}

.bx_ordercart .bx_ordercart_coupon span.bad:hover, .bx_ordercart .bx_ordercart_coupon span.disabled:hover {
    background-position: -17px -23px;
}

.bx_ordercart .bx_ordercart_coupon input.good {
    height: auto;
    width: auto;
    float: left;
    border: none;
    background: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    border-radius: 0;
}

.bx_ordercart .bx_ordercart_coupon span.good {
    float: right;
    width: 17px;
    height: 17px;
    margin: 3px 0 0 3px;
    border-radius: 100%;
    background: url(images/close_icons.png) 3px -23px no-repeat;
}

.bx_ordercart .bx_ordercart_coupon span.good:hover {
    background-position: -17px -23px;
}

.bx_ordercart #basket_items .custom div[id^=discount_value] {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
}

.bx_ordercart .bx_ordercart_coupon:after {
    content: "";
    display: table;
    clear: both;
}

.bx_ordercart .bx_ordercart_order_pay_center {
    margin: 0;
    padding: 40px 0 0;
    border: none;
    border-top: 1px solid #f2f2f2;
}

.bx_ordercart .bx_ordercart_order_pay_center .oneclickbuy {
    margin: 0 0 0 36px;
    line-height: 18px;
    font-weight: bold;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.bx_ordercart .bx_ordercart_order_sum {
    width: 304px;
    color: #333;
}

.bx_ordercart .bx_ordercart_order_sum tr {
    text-align: left;
}

.bx_ordercart .bx_ordercart_order_sum tr td {
    max-width: 145px;
    text-align: right;
    display: inline-block;
}

.bx_ordercart .bx_ordercart_order_sum tr td.fwb {
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.bx_ordercart .bx_ordercart_order_sum tr td:first-child {
    width: 110px;
    margin: 0 36px 0 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.bx_ordercart .bx_ordercart_order_sum tr #allSum_wVAT_FORMATED {
    white-space: nowrap;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bx_ordercart .bx_ordercart_order_sum tr #allSum_FORMATED {
    white-space: nowrap;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bx_ordercart .bx_ordercart_order_sum tr td.custom_t2 {
    font-size: 15px;
    line-height: 20px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bx_item_list_you_looked_horizontal {
    margin: 0;
    border-radius: 0;
    border: none;
}

.container .bx_item_list_you_looked_horizontal .bx_item_list_title {
    height: auto;
    position: relative;
    margin: 0px 0px 28px 0px;
    font-size: 20px;
    color: #1d2029;
    line-height: 30px;
    font-weight: bold;
    text-transform: none;
    background: none;
    text-align: left;
    padding: 37px 0px 0px;
}

.container .bx_item_list_you_looked_horizontal .bx_item_list_title:before {
    background: #f2f2f2;
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    content: "";
}

.bx_item_list_you_looked_horizontal .bx_item_list_section .bx_catalog_item {
    border: 1px solid #f2f2f2;
    padding: 20px 19px 7px 20px;
    text-align: center;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item:hover {
    border: 1px solid #fff;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item_images_double, .bx_item_list_you_looked_horizontal .bx_catalog_item_images {
    background-size: initial;
    padding-top: 100%;
}

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item.double:hover .bx_catalog_item_images_double, .bx_item_list_you_looked_horizontal .bx_catalog_item_images_double {
    display: none;
}

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item.double:hover .bx_catalog_item_images {
    animation: none;
    opacity: 1;
}

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item .bx_catalog_item_container {
}

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_container {
    animation: none;
    border: none;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.10);
    -o-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.10);
    padding: 20px 19px 7px 20px;
}

.bx_item_list_you_looked_horizontal .bx_stick_disc.bottom {
    display: none !important;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item .bx_stick {
    left: 0px;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item .bx_stick.top {
    top: 0px;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item_title {
    height: auto;
    margin: 0px 0px 12px;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item .bx_catalog_item_title a {
    font-size: 14px;
    font-weight: bold;
    overflow: visible;
    white-space: normal;
    color: #1d2029;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item_price span {
    color: #888 !important;
    font-size: 13px !important;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item .bx_stick {
    text-shadow: none;
    font-weight: 400;
    height: 21px;
    margin: 0px 0px 6px;
    background-image: none;
    background-color: #e52929;
    display: inline-block;
    color: #fff;
    width: auto;
    font-size: 10px;
    line-height: 12px;
    padding: 5px 10px 4px;
    position: absolute;
    text-transform: uppercase;
    border-radius: 2px;
    letter-spacing: 0.5px;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item_price {
    margin: 0px 0px 14px;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item_price .bx_price {
    font-size: 18px;
    font-weight: 600;
    line-height: 15px;
    padding: 0px;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a, .bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone a {
    text-shadow: none;
    padding: 7px 11px 7px 11px;
    font-weight: 400;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    border-radius: 2px;
    text-align: center;
    margin: 0px;
    width: auto;
    height: auto;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a, .bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone a {
    margin: 0px 0px 12px;
    border: 0px;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item .bx_catalog_item_container .bx_catalog_item_articul {
    display: none !important;
}

.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li {
    position: relative;
    z-index: 100;
    cursor: pointer;
    outline: none;
    font-size: 11px;
    padding: 0px 9px 0px 0px;
    display: inline-block;
    padding-top: 0px !important;
    width: auto !important;
}

.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu ul li:before {
    display: none;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item .bx_item_detail_scu .bx_scu ul li .cnt {
    border: none !important;
    position: initial;
    padding: 0px;
    overflow: visible;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item .bx_item_detail_scu .bx_scu ul li .cnt_item {
    position: static !important;
}

.bx_item_list_you_looked_horizontal .bx_item_detail_scu .bx_scu {
    overflow: visible;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item .bx_item_detail_scu {
}

.bx_item_list_you_looked_horizontal .bx_item_detail_size {
    margin: 0px;
}

.bx_item_list_you_looked_horizontal .bx_item_detail_size .bx_size &gt; ul {
    margin: 0px !important;
}

.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li {
    display: inline-block;
    font-size: 10px;
    border: 1px solid #888;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    float: none;
    height: auto;
    width: auto !important;
    margin: 0px 5px 5px 0px;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item .bx_item_detail_size ul li span {
    color: #373737;
    display: block;
    line-height: 15px;
    margin: 0px;
    text-align: center;
    padding: 7px 0px 7px;
    font-size: 13px;
    position: initial;
    border: none !important;
    background: none;
}

.bx_item_list_you_looked_horizontal .bx_catalog_item .bx_item_detail_size ul li.bx_active span {
    color: #fff;
}

.bx_item_list_you_looked_horizontal ul li:before {
    display: none;
}

.bx-no-touch .bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_scu {
    margin: 0px 0px 20px;
}

div.bx_item_list_you_looked_horizontal:not(.subsribe-page) .bx_item_list_slide {
    height: auto !important;
    margin: 0px -1%;
}

.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_order_pay_center .checkout {
    opacity: 0;
    -webkit-appearance: none;
    padding: 10px 21px 10px 20px;
    background: none;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #ddd;
    text-shadow: none;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_order_pay_center .checkout:hover {
    color: #FFF;
}

.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_order_pay_center .checkout:active {
    box-shadow: none;
    background: none;
}

.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_order_pay_center .catalog_back {
    margin: 0;
    float: left;
    line-height: 18px;
    font-weight: bold;
}

.bx_ordercart .bx_sort_container {
    margin: 0 0 20px;
    min-height: 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
}

.bx_ordercart .bx_sort_container:after {
    content: "";
    display: table;
    clear: both;
}

.bx_ordercart .bx_sort_container &gt; span {
    display: none;
}

.bx_ordercart .bx_sort_container a {
    float: left;
    display: block;
    position: relative;
    padding: 7px 0px 6px 0px;
    background: #fff;
    color: #777777;
    border-radius: 0;
    line-height: 20px;
    text-align: center;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 20px 0px 0px;
}

.bx_ordercart .bx_sort_container a:first-of-type {
    margin-left: 0;
}

.bx_ordercart .bx_sort_container a:not(.current):active {
    color: #777777;
    text-shadow: none;
    box-shadow: none;
}

.bx_ordercart .bx_sort_container a:hover {
    color: #333;
    background: #fff;
}

.bx_ordercart .bx_sort_container a.current, .bx_ordercart .bx_sort_container a.current:hover {
    text-shadow: none;
    color: #1d2029;
    box-shadow: none;
    border-radius: 0;
    cursor: default;
    background: #FFF;
}

.bx_ordercart .bx_sort_container a.current:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 2px;
}

.bx_ordercart .bx_sort_container .flat {
    display: inline !important;
}

.bigdata_recommended_products_container {
    display: block;
    margin: 39px 0 0;
}

.bx_ordercart_order_pay_center .icon_error_wrapper {
    float: right;
}

.bx_ordercart_order_pay_center:after {
    content: "";
    display: table;
    clear: both;
}

.fademask_ext {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #374246;
    width: 100%;
    height: 100%;
    min-height: 100%;
    opacity: 0.8;
    z-index: 1050;
}

/*order styles*/

#bx-soa-order .btn {
    border: 1px solid;
    border-radius: 2px;
    padding: 7px 18px 9px;
    /* line-height: 32px; */
    height: unset;
    min-height: unset;
    width: unset;
    line-height: unset;
    display: inline-block;
    min-width: unset;
}

#bx-soa-order .btn.pull-left {
    color: #1485CE;
    border-color: #1485CE;
}

.middle &gt; .container {
    width: 100% !important;
    padding: 0px !important;
    position: relative;
}

#content #bx-soa-order-form * {
    box-sizing: border-box;
}

#bx-soa-order-form {
    font-size: 12px;
}

#bx-soa-order .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #d2d2d2;
}

#content #bx-soa-order-form .row {
    margin-top: 0px;
}

.bx-authform-formgroup-container .checkbox {
    padding: 0px;
}

#content #bx-soa-order-form .row.bx-soa-more {
    margin-top: 30px;
}

#bx-soa-orderSave { /*display:block !important;*/
}

.bx-soa-section.bx-step-completed .bx-soa-section-content, .bx-soa-section.bx-selected .bx-soa-section-content {
    padding: 0;
    line-height: 20px;
    font-size: 14px;
    transition: none;
}

.bx-soa-section {
    transition: none;
}

#bx-soa-order ul li:before {
    display: none;
}

#bx-soa-order .alert-danger {
    font-size: 14px;
    line-height: 20px;
    border-radius: 0;
    padding: 15px 29px;
    background: #ffeeee;
    color: #e83333;
}

#bx-soa-order .bx-soa-section {
    border-radius: 0;
    margin: 0 0 20px;
    background: white;
}

#bx-soa-order .bx-soa-section.bx-selected {
    border: 1px solid #d2d2d2;
}

#bx-soa-order .bx-soa-section .bx-soa-section-title-container {
    padding: 29px 19px 29px 79px;
    border-bottom: 1px solid #d2d2d2;
    background: #fbfbfb;
    cursor: pointer;
}

#bx-soa-order .bx-soa-section.bx-selected .bx-soa-section-title-container {
    cursor: default;
}

#bx-soa-order .bx-soa-section .bx-soa-section-title {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    color: #333;
    padding-left: 0 !important;
    padding-top: 1px;
    font-weight: bold;
}

#bx-soa-order .bx-soa-section .bx-soa-section-title:before {
    content: "";
    position: absolute;
    left: -50px;
    top: -3px;
    margin: 0;
    width: 30px;
    height: 30px;
    background: url(images/order.png) 0 0 no-repeat;
}

#bx-soa-order .bx-soa-section.bx-step-completed .bx-soa-section-title:before {
    background-color: #52c200;
    background-position: -30px -30px !important;
}

#bx-soa-order .bx-soa-section.bx-step-error:not(.bx-selected) .bx-soa-section-title:before {
    background: none;
    background: url(images/order.png) -60px -30px no-repeat !important;
}

#bx-soa-order .bx-soa-editstep {
    display: inline-block;
    margin: 1px 0 0;
    font-size: 14px;
    line-height: 20px;
    border: none;
}

#bx-soa-order .bx-soa-editstep:first-letter {
    text-transform: uppercase;
}

#bx-soa-order .bx-soa-editstep:hover {
    text-decoration: none;
}

#bx-soa-order .bx-soa-section.bx-selected .bx-soa-editstep {
    display: none;
}

#bx-soa-order #bx-soa-region {
    border: 1px solid #d2d2d2;
}
#bx-soa-order #bx-soa-region .bx_soa_location {
    margin: 25px 1.8vw 0;
}

@media screen and (min-width: 768px) {
    #bx-soa-order #bx-soa-region .bx_soa_location {
        padding: 25px 80px 0 30px;
    }
}


#bx-soa-order #bx-soa-region .bx_soa_location .form-group .bx-soa-custom-label {
    display: block;
}

#bx-soa-order #bx-soa-region .bx_soa_location .form-group:first-child br {
    display: none;
}

#bx-soa-order #bx-soa-region .bx_soa_location .form-group:first-child &gt; label {
    margin: 0 0 5px;
}

#bx-soa-order #bx-soa-region .bx_soa_location .form-group.bx-soa-location-input-container {
    margin: 0 0 25px;
}

#bx-soa-order #bx-soa-region .bx_soa_location .radio-inline {
    margin: 5px 40px 5px 0;
}

#bx-soa-order .bx-soa .bx-soa-custom-label, .bx-soa .form-group label {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 2px;
    color: #777777;
    z-index: 1;
}

#bx-soa-order div[class*=bx-sls] .quick-locations {
    margin: 7px 0 12px;
}

#bx-soa-order div[class*=bx-sls] .quick-locations .quick-location-tag {
    margin: 3px 1px 1px 1px;
    padding: 0;
    padding: 5px 15px;
    height: auto;
    background: none;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 20px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#bx-soa-order div[class*=bx-sls] .quick-locations .quick-location-tag:hover {
    color: #FFF;
}

#bx-soa-order .bx-ui-sls-tree-trunk {
    font-size: 14px;
    padding-left: 45px;
}
.bx-sls .bx-ui-sls-container {
    min-height: 32px;
}
#bx-soa-order div[class*=bx-sls] .form-control.dropdown-block {
    font-size: 14px;
    color: #333;
    line-height: 20px;
    border: 1px solid #ececec;
    background: #ffffff;
    padding-left: 44px;
}

.bx-soa-location-input-container .bx-ui-slst-pool &gt; div {
    padding-left: 44px;
}

#bx-soa-order .bx-sls .form-control.dropdown-block {
    position: relative;
    height: auto;
}

#bx-soa-order div[class*=bx-sls] .form-control.dropdown-block .bx-ui-sls-container input {
    padding-right: 27px !important;
}

div[class*=bx-sls] .dropdown-icon {
    position: absolute;
    left: 17px;
    top: 50%;
    margin: -8px 0 0;
    width: 16px;
    height: 16px;
    background: url(images/order_ext.png) -5px -75px no-repeat;
}

div[class*=bx-sls] .bx-ui-sls-clear {
    position: absolute;
    margin: 0;
    height: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 44px;
    height: auto;
    cursor: pointer;
    background: none;
}

div[class*=bx-sls] .bx-ui-sls-clear:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    width: 20px;
    height: 20px;
    background: url(images/order_ext.png) -82px -61px no-repeat !important;
    border-radius: 100%;
}

div[class*=bx-sls] .bx-ui-sls-clear:hover:before {
    background-position: -82px -82px !important;
    background-color: #ddd;
}

.bx-sls .dropdown-block {
    background: #f7f7f7;
    padding: 1px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    border: 1px solid #ececec;
    box-shadow: none;
}

body .filter.label_block input + label {
    padding-left: 23px;
    font-size: 13px;
    color: #888;
}

#bx-soa-order .bx-slst .dropdown-block.form-control {
    margin-bottom: 10px;
}

#bx-soa-order #bx-soa-orderSave {
    margin: 20px 0 0;
    padding: 0 !important;
    text-align: center;
}

#bx-soa-order #bx-soa-orderSave .checkbox {
    display: none;
}

#bx-soa-order .form {
    text-align: center;
}

#bx-soa-order .form .licence_block {
    display: inline-block;
    padding-bottom: 5px;
}

#bx-soa-order .form .licence_block label {
    font-size: 14px;
    color: #333;
}

#bx-soa-order .form .licence_block label.error {
    font-size: 12px;
}

#bx-soa-order #bx-soa-orderSave a {
    float: none !important;
    text-shadow: none;
    color: #FFF;
    padding: 11px 40px 13px;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    display: inline-block !important;
    margin-top: 0px !important;
}

#bx-soa-order .bx-soa-more {
    border: none;
    padding: 25px 29px 0 29px;
    border-top: 1px solid #f1f1f1;
}

#bx-soa-order .bx-soa-more .bx-soa-more-btn {
    padding: 0;
    margin-bottom: 25px;
}

#bx-soa-order .bx-soa-more .bx-soa-more-btn .pull-left {
    background: none;
}

#bx-soa-order .bx-soa-more .bx-soa-more-btn .pull-left:hover {
    color: #FFF;
}

#bx-soa-order #bx-soa-region .bx_soa_location .form-group[data-property-id-row] {
    margin-top: 20px;
}

#bx-soa-order .bx-soa-section-title-count {
    display: none;
}

#bx-soa-order .alert .row {
    margin-top: 0px;
}

#bx-soa-order .alert .row div {
    font-size: 12px;
}

.bx-sls .dropdown-fade2white {
    display: none;
}

#bx-soa-order .form-group {
    position: relative;
    font-size: 14px;
}

#bx-soa-order .form-group label[for="zipProperty"]:not(.error) {
    top: 0px;
    left: 0px;
    font-weight: normal;
    cursor: text;
    display: block;
    font-size: 13px;
    margin-bottom: 7px;
    color: #777777;
}

#bx-soa-order .form-group.value_y label:not(.error) {
    position: absolute;
    background: #FFF;
    font-size: 12px;
    top: -10px;
    left: 10px;
    padding: 0 7px;
}

#bx-soa-order .form-group.value_y input, #bx-soa-order .form-group.value_y textarea {
    background: #FFF;
}

#bx-soa-order .bx-soa-reference {
    margin: -8px 0 0;
    padding: 0;
    font-size: 12px;
    line-height: 14px;
    color: #999999;
}

#bx-soa-order .bx-soa .form-group .radio-inline {
    padding: 0;
}

#bx-soa-order .bx-soa .form-group .radio-inline label {
    display: inline-block;
    float: none;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    cursor: pointer;
    position: relative;
    padding: 0 0 0 32px !important;
}

#bx-soa-order .bx-soa .form-group .radio-inline label:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -1px;
    width: 20px;
    height: 20px;
    background: #fbfbfb;
    border: 1px solid #e9e9e9;
    border-radius: 100%;
}

#bx-soa-order .bx-soa .form-group .radio-inline label:hover:before {
    border: none;
}

#bx-soa-order .bx-soa .form-group .radio-inline.checked label {
    cursor: default;
}

#bx-soa-order .bx-soa .form-group .radio-inline.checked label:before {
    border: none;
}

#bx-soa-order .bx-soa .form-group .radio-inline.checked label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 8px;
    background: url(images/order_ext.png) -64px -9px no-repeat;
}

#bx-soa-order .bx-soa .form-group .radio-inline input {
    display: none;
}

#bx-soa-order .bx-soa-tooltip {
    position: absolute;
    bottom: -22px;
    left: 0px;
    padding: 0;
    background: none;
    max-width: 100%;
    box-shadow: none;
    top: auto;
}

#bx-soa-order .bx-soa-tooltip .tooltip-arrow {
    display: none;
}

#bx-soa-order .bx-soa-tooltip .tooltip-inner {
    max-width: 100%;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    color: #fe5252;
    background: none;
}

#bx-soa-order .has-error .form-control {
    border-color: #fe5252;
}

#bx-soa-order .form-group.has-error {
    margin-bottom: 41px !important;
}

#bx-soa-order .form-group.has-error input {
    border-color: #fe5252;
}

#bx-soa-order .form-group.has-error .form-control.dropdown-block {
    border-color: #fe5252;
}

#bx-soa-order .form.form-group.bx-soa-customer-field {
    text-align: center;
    padding-top: 4px;
    margin-bottom: 20px !important;
}

#bx-soa-order .form.form-group.bx-soa-customer-field .licence_block {
    display: inline-block;
    padding: 0px;
    text-align: center;
}

#bx-soa-order .form.form-group.bx-soa-customer-field .licence_block .license {
    display: inline-block;
}

#bx-soa-order .form.form-group.bx-soa-customer-field .licence_block .bx-soa-tooltip {
    bottom: -35px;
    position: static;
}

#bx-soa-order .form.form-group.bx-soa-customer-field .licence_block .bx-soa-tooltip .tooltip-inner {
    text-align: left;
}

#bx-soa-order .form.form-group + #bx-soa-orderSave {
    margin-top: 15px;
}

#bx-soa-order #bx-soa-delivery .bx-soa-section-title:before {
    background-position: -30px 0;
}

#bx-soa-order .bx-soa-pp,
#bx-soa-order .bx-soa-section-content {
    padding: 25px 1.8vw 0 1.8vw;
}
#bx-soa-order .bx-soa-section-content {
    padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
    #bx-soa-order .bx-soa-pp,
    #bx-soa-order .bx-soa-section-content {
        padding: 25px 30px 0 80px;
    }
}



#bx-soa-order #bx-soa-delivery .bx-soa-pp-price {
    white-space: nowrap;
}

#bx-soa-order .bx-soa .bx-soa-location-input-container:before {
    display: none;
}

#bx-soa-order .bx-soa-pp-item-container:after {
    content: "";
    display: table;
    clear: both;
}

#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company {
    clear: both;
    position: relative;
    float: none;
    border: none;
    margin: 19px 0 0;
    padding: 0 0 24px;
    width: auto;
    transition: none;
    cursor: pointer;
}

#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company:after {
    content: "";
    display: table;
    clear: both;
}

#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company:first-child {
    margin-top: 0;
}

#bx-soa-order .bx-soa-pp-company-graf-container {
    position: relative;
    padding: 0;
    border: 1px solid #fbfbfb;
    border-radius: 0;
    width: 120px;
    height: 72px;
    background: #fbfbfb;
    cursor: pointer;
}

#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company-graf-container {
    display: table-cell;
    vertical-align: middle;
}

#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company-graf-container:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 20px;
    height: 20px;
    border: 1px solid #d2d2d2;
    background: #FFF;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
}

#bx-soa-order .bx-soa-pp-item-container:hover .bx-soa-pp-company-graf-container:before {
    border: none;
}

#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container:before {
    border: none;
}

#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container:after {
    content: "";
    position: absolute;
    left: 12px;
    top: 13px;
    width: 10px;
    height: 8px;
    background: url(images/order_ext.png) -64px -9px no-repeat;
    z-index: 2;
}

#bx-soa-order .bx-soa-pp-company-graf-container .bx-soa-pp-company-image {
    position: relative;
    border: 1px solid #d2d2d2;
    width: 118px;
    height: 70px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background-position: center center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

#bx-soa-order .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container .bx-soa-pp-company-image {
    cursor: default;
}

#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company-graf-container input {
    display: none;
}

#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company-smalltitle {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 20px;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: #777;
    text-align: left;
}

#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected {
    cursor: default;
}

#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-smalltitle {
    color: #333;
}

#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-delivery-cost {
    font-size: 14px;
    line-height: 20px;
    color: #333;
    padding: 1px 5px;
    background: #fbfbfb;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -24px;
    border: 1px solid #d2d2d2;
    border-top: none;
}

#bx-soa-order .bx-soa-pp-desc-container {
    padding-top: 0;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company {
    position: relative;
    padding: 22px 24px 20px;
    border: 1px solid #d2d2d2;
    /*border-top: none;*/
    background: #fbfbfb;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company:before {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    left: -1px;
    height: 2px;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company:after {
    content: "";
    display: table;
    clear: both;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company .bx-soa-pp-company-image {
    margin: 5px 0 0;
    background: #FFF;
    cursor: default;
    border-radius: 0;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company .bx-soa-pp-company-block:after {
    content: "";
    display: table;
    clear: both;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company .bx-soa-pp-company-block &gt; br {
    display: none;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company .bx-soa-pp-company-desc {
    padding: 10px 0 0 0px;
    font-size: 13px;
    line-height: 20px;
    color: #777777;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company ul.bx-soa-pp-list {
    padding: 0;
    margin: 17px 0 0;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company ul.bx-soa-pp-list li {
    padding: 0;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company .bx-soa-pp-list-termin {
    margin: 0 3px 0 0;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company .bx-soa-pp-list-description {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company-logo {
    padding: 0;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company-subTitle {
    margin: 0 0 10px;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: #383838;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-field label:not(.error) {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 0 5px;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
    color: #777777;
    background: none;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-field .bx-soa-service-small {
    margin: 7px 0 0;
    font-size: 12px;
    line-height: 14px;
    color: #999999;
}

#bx-soa-order .bx-soa-pp-desc-container .checkbox {
    margin: 21px 0 0;
}

#bx-soa-order .bx-soa-pp-desc-container .checkbox:first-child {
    margin-top: 0;
}

#bx-soa-order .bx-soa-pp-desc-container .checkbox input {
    display: none;
}

#bx-soa-order .bx-soa-pp-desc-container .checkbox label {
    position: relative;
    padding: 0 0 0 27px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

#bx-soa-order .bx-soa-pp-desc-container .checkbox label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #e9e9e9;
    background: #FFF;
    border-radius: 2px;
}

#bx-soa-order .bx-soa-pp-desc-container .checkbox label:hover:before {
    border: none;
}

#bx-soa-order .bx-soa-pp-desc-container .checkbox label.checked:before {
    border: none;
}

#bx-soa-order .bx-soa-pp-desc-container .checkbox label.checked:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 4px;
    width: 10px;
    height: 8px;
    background: url(images/order_ext.png) -64px -9px no-repeat;
}

#bx-soa-order .bx-soa-pp-desc-container .checkbox .bx-soa-service-small {
    margin: 1px 0 0;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-field {
    margin: 13px 0 0;
}

#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-field:first-of-type {
    margin-top: 22px;
}

#bx-soa-order .bx-soa-section {
    border: 1px solid #d2d2d2;
}

#bx-soa-order .bx-soa-section.bx-step-completed {
    border: 1px solid #d2d2d2;
}

#bx-soa-order .bx-soa-pp-company-block .form-control {
    font-size: 12px;
}

#bx-soa-order .form-control {
    margin-bottom: 0px;
}

body #bx-soa-order .bx-soa-cart-total-line.bx-soa-cart-total-line-highlighted {
    background: #ffd02e;
    padding: 3px 8px 2px;
    border-radius: 3px;
    margin: 10px 0;
}

#bx-soa-order .bx-soa-section .bx-soa-section-content {
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    transition: none;
}

#bx-soa-order .bx-soa-section.bx-active .bx-soa-section-content strong {
    font-weight: bold;
    margin: 0;
}

#bx-soa-order .bx-soa-coupon {
    padding: 25px 29px 0 29px;
    border-top: 1px solid #d2d2d2;
    display: none;
}

#bx-soa-order #bx-soa-basket .bx-soa-coupon {
    margin: 0 0 27px;
}

#bx-soa-order #bx-soa-basket .bx-soa-more {
    margin: 0 0 25px;
}

#bx-soa-order .bx-soa-coupon-label {
    margin: 2px 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

#bx-soa-total-mobile .bx-soa-cart-total-button-container {
    display: none;
}

#bx-soa-order .bx-soa-coupon-block {
    display: inline-block;
    vertical-align: top;
}

#bx-soa-order .bx-soa-coupon label {
    margin: 0;
    width: 90px;
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
    color: #333333;
}

#bx-soa-order .bx-soa-coupon.bx-soa-coupon-item-fixed .bx-soa-coupon-label {
    margin-top: 0;
}

#bx-soa-order .bx-soa-coupon-input {
    width: 260px;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

#bx-soa-order .bx-soa-coupon-input:after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: 0;
    margin: 0;
    width: 45px;
    height: auto;
    cursor: pointer;
    border: none;
    background: url(images/order_ext.png) -30px -28px no-repeat;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

#bx-soa-order .bx-soa-coupon-input:hover:after {
    background-position: 9px -28px;
}

#bx-soa-order .bx-soa-coupon-input input[type=text].form-control, #bx-soa-order textarea.form-control {
    padding: 8px 67px 7px 17px;
    height: auto;
    border: none;
    color: #333;
    background: #fbfbfb;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
}

#bx-soa-order .bx-soa-coupon-input input[type=text].form-control:focus {
    background: #FFF;
}

#bx-soa-order .bx-soa-section.bx-active .bx-soa-section-content .bx-soa-pp-company-selected img {
    display: none;
}

#bx-soa-order .bx-soa-pp-company-selected {
    padding-top: 0;
    padding-bottom: 0;
}

#bx-soa-order .bx-soa-pp-price {
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
}

#bx-soa-order #bx-soa-paysystem .bx-soa-section-title:before {
    background-position: -60px 0;
}

#bx-soa-order #bx-soa-properties .bx-soa-section-title:before {
    background-position: -90px 0;
}

#bx-soa-order #bx-soa-properties .form-group:not([data-property-id-row]) {
    margin: 4px 0 0;
}

#bx-soa-order #bx-soa-properties .form-group:not([data-property-id-row]):first-child {
    margin-top: 0;
}

#bx-soa-order #bx-soa-properties .form-group:not([data-property-id-row]) .bx-soa-custom-label {
    margin: 0 3px 0 0;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
}

#bx-soa-order #bx-soa-properties .form-group:not([data-property-id-row]) .bx-soa-custom-label:after {
    content: ":";
}

#bx-soa-order #bx-soa-properties .form-group:not([data-property-id-row]) .bx-soa-custom-label .bx-authform-starrequired {
    display: none;
}

#bx-soa-order #bx-soa-properties .form-group:not([data-property-id-row]) &gt; div {
    display: inline-block;
    vertical-align: top;
}

#bx-soa-order #bx-soa-basket .bx-soa-section-title:before {
    background-position: 0 -30px;
}

#bx-soa-order .bx-soa-section .bx-soa-coupon-item {
    display: block;
}

#bx-soa-order .bx-soa-section .bx-soa-section-content .bx-soa-coupon-item &gt; strong {
    display: block;
    margin: 16px 0 0;
    font-weight: normal;
    text-transform: none;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

#bx-soa-order .bx-soa-section .bx-soa-coupon-item .bx-soa-tooltip {
    float: right;
    display: block;
    margin: 0 0 0 15px;
    opacity: 1;
    position: relative;
    left: auto;
    bottom: auto;
}

#bx-soa-order #bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company {
    padding-bottom: 0;
}

#bx-soa-order .bx-soa-coupon-item .bx-soa-tooltip .tooltip-inner {
    font-size: 14px;
    color: #333;
}

#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-item-danger {
    position: relative;
    padding: 0 0 0 30px;
    color: #333;
}

#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-item-used {
    position: relative;
    padding: 0 0 0 30px;
    color: #333;
}

#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-item-success {
    position: relative;
    padding: 0 0 0 30px;
    color: #333;
}

#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-item-danger:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url(images/order_ext.png) -32px -73px no-repeat;
}

#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-item-used:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url(images/order_ext.png) -26px -4px no-repeat;
}

#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-item-success:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url(images/order_ext.png) -5px -4px no-repeat;
}

#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-remove {
    float: right;
    width: 20px;
    height: 20px;
    margin: 2px 0 0 3px;
    border-radius: 100%;
    background: url(images/order_ext.png) -82px -62px no-repeat;
}

#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-remove:hover {
    background-position: -82px -82px;
}

#bx-soa-order #bx-soa-properties .form-group {
    margin: 0 0 30px;
}

#bx-soa-order #bx-soa-properties.bx-selected .form-group label {
    position: relative;
    top: 0px;
    left: 0px;
    cursor: text;
    font-size: 13px;
    margin-bottom: 6px;
}

#bx-soa-order #bx-soa-properties.bx-selected .form-group.value_y label {
    background: #FFF;
    top: -10px;
    left: 10px;
    padding: 0 7px;
}

#bx-soa-order #bx-soa-properties .form-group textarea {
    height: 106px;
    border: 1px solid #ececec;
}

#bx-soa-order #propsMap {
    margin: 0 0 20px;
    height: 332px !important;
}

#bx-soa-order #propsMap &gt; ymaps {
    height: 332px !important;
}

#bx-soa-order .bx-soa-cart-total {
    padding: 30px 1.8vw 40px;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    background-color: #fff;
}

#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line {
    margin: 2px 0 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    border: none;
}

#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line:first-child {
    margin-top: 0;
}

#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line .bx-soa-cart-t {
    /*width: 46%;*/
    font-weight: normal;
}

/*#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line .bx-soa-cart-d {*/
    /*width: 54%;*/
    /*text-align: right;*/
/*}*/

#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line-total {
    margin: 27px 0 0;
    padding: 25px 0 0;
    border-top: 1px solid #d2d2d2;
}

#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line-total .bx-soa-cart-t {
    font-size: 16px;
    font-weight: bold;
}

#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line-total .bx-soa-cart-d {
    font-size: 18px !important;
    font-weight: bold;
}

#bx-soa-order .bx-soa-cart-total-button-container {
    padding: 0;
    margin: 26px 0 0;
}

#bx-soa-order .bx-soa-cart-total-button-container .btn {
    padding: 10px 12px 12px;
    font-size: 17px !important;
}

#bx-soa-order #bx-soa-basket .bx-soa-section-content {
    padding: 0;
}

#bx-soa-order #bx-soa-basket .bx-soa-coupon.bx-soa-coupon-item-fixed {
    margin: 0 0 30px;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-table {
    margin: 0 0 -1px;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr .bx-soa-item-td {
    padding: 39px 10px 25px !important;
    border-top: none;
    position: relative;
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr .bx-soa-item-td:not(.bx-soa-item-properties) {
    border-bottom: 1px solid #d2d2d2;
}


#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr .bx-soa-item-td .bx-soa-info-shower {
    padding: 0px 20px 10px;
    display: inline-block;
}

.bx-soa-info-shower + .bx-soa-item-info-block.bx-active {
    padding: 0px 20px 0px;
}

.bx-soa-info-block .bx-soa-info-line td {
    font-size: 13px;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr:first-child .bx-soa-item-td .bx-soa-item-td-title {
    padding: 0;
    font-size: 13px;
    line-height: 20px;
    color: #999999;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr:first-child .bx-soa-item-td {
    padding: 7px 10px 8px !important;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr:first-child .bx-soa-item-td:first-child { /*padding-left:114px!important;*/
}

#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr .bx-soa-item-td:last-child {
    padding-right: 24px !important;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-block {
    padding: 0 0 0 14px;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-img-block {
    margin: 0px 0 0;
    padding: 0;
    width: 70px;
    height: 70px;
    line-height: 70px;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-img-block .bx-soa-item-imgcontainer {
    width: 70px;
    height: 70px;
    line-height: 70px;
    padding: 0;
    border-radius: 0;
    border: none;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-content {
    padding: 0 0 0 90px;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-title {
    margin: 0 0 6px;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-title a {
    color: #333;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-content .bx-scu-container {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-content .bx-scu-container:after {
    background: none;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-content .bx-scu-container .bx-soa-item-td-title {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-content .bx-scu-container .bx-soa-item-td-text {
    margin: 0 0 0 6px;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-td-text small {
    display: block;
    margin: -1px 0 0;
    font-size: 11px;
    line-height: 14px;
    color: #aeaeae;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-properties.bx-text-right {
    text-align: left;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-properties.bx-text-right &gt; div {
    text-align: left;
}

#bx-soa-order #bx-soa-basket .bx-soa-item-td-text {
    line-height: 20px;
}

#bx-soa-order #bx-soa-basket .bx-price {
    white-space;
    font-size: 18px;
    line-height: 16px;
    color: #333;
}

#bx-soa-order #bx-soa-basket .bx-price + br { /*display:none;*/
}

#bx-soa-order #bx-soa-basket .bx-soa-item-td-title {
    font-size: 12px;
    color: #999;
    vertical-align: top;
}

#bx-soa-order .bx-price-old {
    margin: 0 0 0 4px !important;
    font-size: 13px;
    font-weight: normal !important;
    line-height: 20px;
    color: #777777;
}

#bx-soa-order #bx-soa-total-mobile {
    margin: 0 0 20px !important;
}

.bx-soa-item-tr.bx-soa-item-info-container + .bx-soa-basket-info .bx-soa-item-td {
    border-top: 1px solid #d2d2d2 !important;
}

.bx-soa-item-tr.bx-soa-item-info-container .bx-soa-item-td {
    border: none !important;
}

#content noscript + b {
    display: none;
}

.sale_order_full_table {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 730px;
}

.sale_order_full_table:first-of-type {
    padding: 101px 0 0 !important;
    text-align: center;
    color: #333;
    border: none !important;
}

.sale_order_full_table:first-of-type:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -35px;
    width: 70px;
    height: 70px;
    background: url(images/order_ext.png) -103px -5px no-repeat;
}

.sale_order_full_table:last-of-type {
    border: 1px solid #d2d2d2;
    padding: 34px 39px 34px;
    background-color: #fff;
}

.sale_order_full_table:last-of-type tr:last-child td:first-child {
    padding-top: 20px;
}

.sale_order_full_table tbody {
    display: block;
}

.sale_order_full_table tr {
    display: block;
}

.sale_order_full_table .ps_logo {
    display: block;
}

.sale_order_full_table .ps_logo br {
    display: none;
}

.sale_order_full_table .ps_logo .pay_name {
    margin: 0 0 22px;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
}

.sale_order_full_table .ps_logo .image {
    margin: 0 25px 0 0;
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 72px;
    line-height: 68px;
    text-align: center;
    border: 1px solid #d2d2d2;
}

.sale_order_full_table .ps_logo .paysystem_name {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.sale_order_full_table td &gt; .tablebodytext {
    display: block;
    color: #333;
}

.sale_order_full_table .tablebodytext br:first-of-type {
    display: none;
}

.sale_order_full_table input[name="BuyButton"] {
    margin: -7px 0 0;
    padding: 7px 19px 9px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    border: 1px solid transparent;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.sale_order_full_table form[name="ShopForm"] .tablebodytext {
    display: block;
    margin: 8px 0 0;
    font-size: 12px;
    line-height: 18px;
    color: #777777;
}

.sale_order_full_table form[name="ShopForm"] .tablebodytext b {
    font-weight: normal;
    color: #333333;
}

#bx-soa-order a {
    text-decoration: none;
}

#bx-soa-order .bx-soa-cart-total .change_basket {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    color: #333;
    border-bottom: 1px solid #eaebec;
    margin: 0 -29px 43px;
    padding: 2px 29px 31px;
}

#bx-soa-order .bx-soa-cart-total .change_basket .change_link {
    position: absolute;
    top: 3px;
    right: 29px;
    font-size: 14px;
    font-weight: 400;
}

.bx-soa-auth .bx-authform-input-container input[type="text"], .bx-soa-auth .bx-authform-input-container input[type="password"] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #f7f7f7;
    border: 1px solid #eaebec;
    border-radius: 2px;
    box-shadow: none;
    color: #383838;
    height: auto;
    font-size: 12px;
    padding: 8px 13px 7px;
    width: 100%;
    line-height: 20px;
}

.bx-soa-auth .bx-authform-input-container label {
    font-size: 12px;
    margin-bottom: 2px;
    color: #777;
}

#bx-soa-order input[type=text], #bx-soa-order input[type=password], #bx-soa-order input[type=email], #bx-soa-order select, #bx-soa-order textarea {
    font-size: 14px;
}

.sale_order_full_table input[name="BuyButton"] {
    color: #fff;
}

.magnifier {
    text-align: center;
    background: #fff;
}

.magnifier img {
    vertical-align: middle;
    margin: auto;
    display: inline-block;
}

.footer_inner.no_fill {
    background: #f6f6f7;
}

.footer_inner.fill {
    background: transparent !important;
}



/*
.bx-soa-section-title:after {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    -webkit-transition: width .4s linear .3s;
    -o-transition: width .4s .3s linear;
    transition: width .4s linear .3s;
}

.bx-soa-section-title:after {
    background: #ee6b00;
}

.bx-soa-section-title:after {
    width: 64px;
}*/
