button.footer__up[type="button"] {
    display: block;
    position: fixed;
    bottom: 15%;
    right: 5%;
}
.skyCompareCounter{
    width: 55px;
    height: 55px;
    margin-right: 10px;
    background: #666!important;
    position: relative;
        -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    padding: 9px;
}
.skyCompareCounter:hover{
     background: #006ac0!important;
}
.skyCompareCounter svg{
    width: 100%;
    height: 100%;
}
.skyCompareCounter svg g{
    fill: #fff;
}
.skyCompareCounter .nav__title{
    position: absolute;
    color: #fff;
    top: 6px;
    right: 3px;
    height: 16px;
    min-width: 17px;
    line-height: 16px;
    background: #ee6b00;
    border-radius: 10px;
    width: max-content;
    padding: 0 3px!important;
    display: block;
    font-size: 13px;
    text-align: center;
}
.catalog_compare-btn{
    margin-left: 10px;
}
font.notetext {
    color: green;
}

.sky-compare-btn{
    width: 36px;
    display: block;
    height: 36px;
    padding: 2px;
    border: 1px solid #868383;
    -webkit-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
}
.sky-compare-btn svg{
    width: 100%;
    height: 100%;
        -webkit-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
}
.sky-compare-btn svg g{
    fill: #868383
}

.sky-compare-btn.active{
    border-color:#e76f06;
    background: #fff
}
.sky-compare-btn.active svg g{
    fill: #e76f06
}
.sky-compare-btn:hover{
    border-color: #e76f06;
    background: #e76f06
}
.sky-compare-btn:hover svg g{
    fill: #fff
}
.product-card__row .sky-compare-btn{
    width: 47px;
    height: 47px;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 10px;
} 
.owl-carousel .catalog__item-in > div  a{
    position: relative;
    z-index: 1;
}
#skyCompareCounter:hover{
    background: #006ac0;
}
@media screen and (min-width: 992px) {
    button.footer__up[type="button"] {
        display: none;
    }
}


button.footer__up.is-show[type="button"] {
    display: block;
    position: fixed;
    bottom: 15%;
    right: 5%;
}

@media screen and (min-width: 1366px) {
    button.footer__up.is-show[type="button"] {
        display: block;
        position: fixed;
        bottom: 5%;
        left: 1090px;
    }
}

@media (max-width: 991px){
    .skyCompareCounter {
        width: 25px!important;
        height: 21px!important;
        background: #fff!important;
        margin-right: 0px!important;
        padding: 0;
    }
    .skyCompareCounter svg g {
        fill: #333!important;
    }
    .skyCompareCounter .nav__title {
        top: -11px!important;
        right: -10px!important;
        font-size: 10px!important;
        line-height: 18px!important;
        padding: 0px 5px!important;
    }
    .skyCompareCounter:hover {
        background: #ffffff!important;
    }
}
@media (max-width: 370px){
    .header__elem{
        margin-left: 10px!important;
    }
    .header__logo,.cart-widget{
        margin-right: 10px!important;
    }
    .skyCompareCounter {
        margin-right: 10px!important;
    }
}
.SEO_caption{
    font-size: 12px;
    line-height: 1.6em;
}


/*x5 20190422 плашка Акция begin*/
.catalog-section__badge-action {
    right: 5px;
    top: 5px;
    cursor:pointer;
}

#call_action_text {
    border: #A5A5A5 1px solid;
    border-radius: 5px;
    max-width:60%;
    min-width: 150px;
    min-height:100px;
}
#call_action_text #hideActionTextBlock {
padding:0 10px;
}

#call_action_text #hideActionTextBlock h3 {
    text-align: center;
}

.catalog-section__badge-action .sticker-popup-caption,.catalog-section__badge-action .sticker-popup-text {
    display:none;
}

@media (max-width: 768px){
    #call_action_text {
        max-width:90%;
    }
}
.promo-code{
    text-align: center;
    font-family: GothamPro;
    background-color: #ee6b00;
    color: white;
    font-weight: 700;
    margin: 0 auto;
    height: 44px;
    max-width: 370px;
    border-radius: 10px;
    line-height: 45px
}
/*x5 20190422 плашка Акция end*/
.promo-code span{
    font-size: 32px;
}
@media (max-width: 767px){
    .promo-code span{
        font-size: 20px;
    }
}
.header__text-b{
    font-size: 13px;
    margin-left: auto;
    line-height: 1.5em;
}
.work_holidays_show{
    display: none;
}
/*new styles*/

