.btn {
  @include reset-button;
  display: inline-block;
  height: 48px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 48px;
  background: $color-main;
  color: #fff;
  font-family: $font-family-accent;
  font-weight: bold;
  transition: background .3s ease;

  @include media-breakpoint-up(sm) {
    min-width: 214px;
    padding: 0 24px;
  }

  @include hover-active {
    background: $color-accent;
    color: #fff;
  }

  &--link {
    background: none;
    color: $color-text;
    text-decoration: underline;

    @include hover-active {
      background: none;
      color: $color-main;
    }
  }

  &--fluid {
    width: 100%;
    min-width: 0 !important;
  }

  &--sm {
    height: 36px;
    line-height: 36px;
    font-size: 12px;

    @include media-breakpoint-up(sm) {
      min-width: 0;
      padding: 0 16px;
    }
  }

  &--xl {
    height: 70px;
    line-height: 70px;
    padding: 0 24px;

    @include media-breakpoint-up(sm) {
      min-width: 0;
      padding: 0 32px;
    }
  }

  &--inverse {
    background: $color-accent;

    @include hover-active {
      background: $color-main;
    }
  }

  &:disabled {
    background: $color-gray !important;
    pointer-events: none;
  }
}

