.cart-widget {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-family: $font-family-accent;
  font-weight: bold;

  @include hover-active {
    color: #fff;
    text-decoration: none;
  }

  &__count {}

  &__count-val {}

  &__sum {}

  @include media-breakpoint-down(sm) {
    font-size: 0;
    line-height: 0;
    padding-right: 4px;
    white-space: nowrap;

    &::before {
      display: inline-block;
      content: "";
      @include sprite($sprite-mobile-menu-cart);
    }

    &__count-val {
      position: absolute;
      left: 18px;
      top: -12px;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background: $color-accent;
      font-size: 10px;
      line-height: 18px;
      text-align: center;
    }

    &__sum {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 12px 16px 11px 62px;
    background: $color-gray-dark;
    font-size: 16px;
    line-height: 1em;
    transition: background .3s ease;
    text-align: left;

    &::before {
      display: block;
      content: "";
      @include v-centerer;
      left: 20px;
      @include sprite($sprite-ui-cart-big);
    }

    @include hover-active {
      background: $color-main;
    }
  }
}
