mixin profile-portfoilo(data)
  .profile-portfoilo&attributes(attributes)
    .row.row--vcentr.b-list
      .col-12.col-sm-10.b-list__item
        .profile-portfoilo__title #{data.title}
      .col-12.col-sm-2.b-list__item
        button(type="button" data-category="category" data-mfp-src="#popup-portfolio-add").btn.btn--fluid.btn--sm.js-portfolio-add: span Добавить
    if (data.count)
      .row
        .col-12.col-sm-10
          ul.profile-portfoilo__list.js-popup-gallery
            each item, index in new Array(data.count)
              li.profile-portfoilo__item
                a.profile-portfoilo__link(href=index === 1 ? "https://www.youtube.com/watch?v=CrwLEKMj0G8" : imagesPath + "upload/news-image.jpg" class={"profile-portfoilo__link--play js-popup-gallery__video": index === 1})
                  img(src=imagesPath + "upload/portfolio-item.jpg" width="101" height="72" alt="")
                button(type="button").profile-portfoilo__rm
