include ../stars/stars
mixin workers(count, company)
  - var url = company ? 'service-center.html' : 'worker.html'
  ul.workers.grid&attributes(attributes)
    - for (var i = 0; i < count; i++)
      li.workers__item.grid__item
        .workers__item-in
          .workers__content
            .workers__photo
              a(href=url).link-hidden
                img(src=imagesPath + "upload/" + (company ? "service-center-photo-sm.jpg" : "master-photo-sm.jpg") width="160" height="160" alt="")
            .workers__name
              a(href=url).link-hidden
                = company ? 'ООО «Созидант»' : 'Иван Петров'
            .workers__city г. Краснодар
            .workers__spec
              if (company)
                .workers__spec-h Обслуживаемые бренды:
                .text-bold Любой бренд, Terit, Wadnets, Trobner, Uko, Holler
              else
                .workers__spec-h Специализация:
                .workers__spec-list
                  .workers__spec-item
                    .workers__spec-label Водоснабжение
                    img(src=imagesPath + "specialities/spec-1.svg" width="32" height="32" alt="")
                  .workers__spec-item
                    .workers__spec-label Канализация
                    img(src=imagesPath + "specialities/spec-2.svg" width="32" height="32" alt="Канализация")
                  .workers__spec-item
                    .workers__spec-label Специализация 3
                    img(src=imagesPath + "specialities/spec-3.png" width="32" height="32" alt="")
                  .workers__spec-item
                    .workers__spec-label Специализация 4
                    img(src=imagesPath + "specialities/spec-4.png" width="32" height="32" alt="")
                  .workers__spec-item
                    .workers__spec-label Специализация 5
                    img(src=imagesPath + "specialities/spec-5.png" width="32" height="32" alt="")
                  .workers__spec-item
                    .workers__spec-label Специализация 6
                    img(src=imagesPath + "specialities/spec-6.png" width="32" height="32" alt="")
          .workers__footer
            .workers__footer-item
              +stars().stars--sm
            .workers__footer-item
              a(href=url).btn.btn--sm.btn--inverse Подробнее
