.workers {
  margin: 0;
  padding: 0;

  &__item {
    list-style: none;
  }

  &__item-in {
    border: 1px solid $color-gray-light2;
    padding: 20px 10px 5px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 10px;
    line-height: 1.4em;

    @include hover-active {
      border-color: $color-accent;
      box-shadow: inset 0 0 0 2px $color-accent;
    }

    @include media-breakpoint-up(sm) {
      @include font-size($font-size-small);
      padding: 20px 15px 5px;
    }
  }

  &__content {
    flex: 1 0 auto;
  }

  &__photo {
    width: 160px;
    max-width: 100%;
    height: auto;
    margin: 0 auto 15px;
    text-align: center;
    background: $color-gray-light2;
    border-radius: 100%;
    overflow: hidden;
    @include img-block;
  }

  &__name,
  &__city {
    line-height: 1.8em;
    font-weight: bold;
    font-family: $font-family-accent;
    text-align: center;
  }

  &__spec {
    position: relative;
    margin: 10px 0;
    text-align: center;

    @include media-breakpoint-up(sm) {
      margin: 15px 0;
    }
  }

  &__spec-h {
    line-height: 1.5em;
    margin-bottom: 5px;
    text-align: center;
  }

  &__spec-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__spec-item {
    flex: 0 0 33.3333%;
    text-align: center;
    margin: 5px 0;

    & img {
      max-width: 100%;
      height: auto;
    }
  }

  &__spec-label {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #888888;
    color: #fff;
    text-align: center;
    line-height: 24px;
  }

  &__spec-item:hover > &__spec-label {
    display: block;
  }


  &__footer {
    flex: none;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__footer-item {
    margin-bottom: 10px;

  }
}
