.container {
  @include make-container();
  @include make-container-max-widths();
}

.container-fluid {
  @include make-container();
}

.row {
  @include make-row();

  &--vcentr {
    align-items: center;
  }
}

// Make bootstrap grid classes
@include make-grid-columns();
