body {
  @include font-size($font-size-base);
  font-family: $font-family-base;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

// Headings

@mixin h1 {
  @include font-sizes($font-sizes-h1);
  font-family: $font-family-accent;
  font-weight: bold;
}

@mixin h2 {
  @include font-sizes($font-sizes-h2);
  font-family: $font-family-accent;
  font-weight: bold;
}

@mixin h3 {
  @include font-sizes($font-sizes-h3);
  font-family: $font-family-accent;
  font-weight: bold;
}

@mixin h4 {
  @include font-sizes($font-sizes-h4);
  font-family: $font-family-accent;
  font-weight: bold;
}

@mixin h5 {
  @include font-sizes($font-sizes-h5);
  font-family: $font-family-accent;
  font-weight: bold;
}

h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}
