// Paths
$pathToImages: "../images/";
$pathToFonts: "../fonts/";


// Viewport config
// http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
@viewport {
  width: device-width;
}


// Bootstrap 4 grid + Breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px
) !default;

$container-max-widths: (
  xs: 480px,
  sm: 100%,
  md: 980px,
  lg: 980px
) !default;

$grid-columns: 12 !default;
$grid-gutter-width-base: 20px !default;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
) !default;

$enable-flex: true !default;

$block-inner-padding-xs: 18px;
$block-inner-padding-md: 24px;

// Colors

$color-main: #006ac0 !default;
$color-main-dark: #003f72 !default;
$color-accent: #ee6b00 !default;
$color-warn: #ff0000 !default;
$color-success: #049b00 !default;

$color-gray-dark: #666666 !default;
$color-gray: #707070 !default;
$color-gray-light2: #e7e7e7 !default;
$color-gray-light: #cccccc !default;
$color-gray-lighter: #f5f5f5 !default;

$color-link: $color-main !default;
$color-link-hover: $color-main-dark !default;

$color-body-bg: #f5f5f5 !default;
$color-text: #333333 !default;


// Typography

$font-family-base: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$font-family-accent: "GothamPro", sans-serif;

$font-size-small: (12px, 1.2em) !default;
$font-size-small-expand: (12px, 1.6em) !default;
$font-size-smaller: (13px, 1.5em) !default;
$font-size-base: (14px, 1.5em) !default;
$font-size-big: (16px, 1.4em) !default;

$font-sizes-small: (
  xs: $font-size-small,
) !default;

$font-sizes-base: (
  xs: $font-size-base,
) !default;

$font-sizes-big: (
  xs: $font-size-big,
) !default;

// Headings

$font-sizes-h1: (
  xs: (28px, 1.2em),
  sm: (36px, 1.2em),
  md: (46px, 1.2em),
) !default;

$font-sizes-h2: (
  xs: (24px, 1.3em),
  sm: (32px, 1.2em),
) !default;

$font-sizes-h3: (
  xs: (16px, 1.3em),
  sm: (20px, 1.3em)
) !default;

$font-sizes-h4: (
  xs: (14px, 1.5em),
  sm: (16px, 1.3em)
) !default;

$font-sizes-h5: (
  xs: (14px, 1.5em),
) !default;

