.tiles {
  @include tiles;

  &__item {
    @include tile;

    @include media-breakpoint-up(md) {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }

  &__link {
    display: block;
    position: relative;
    min-height: 100%;
    background: #fff;
    padding: 24px 84px 24px 24px;
    color: $color-gray-dark;
    text-decoration: none;
    @include no-select;

    &::after {
      display: block;
      content: "";
      position: absolute;
      right: 12px;
      bottom: 12px;
      @include sprite($sprite-arrows-in-round-right);
      opacity: 0;
      transition: opacity .3s ease;
    }

    @include hover-active {
      color: $color-gray-dark;
      text-decoration: none;

      &::after {
        opacity: 1;
      }
    }

    @include media-breakpoint-up(sm) {
      padding-right: 54px;
    }
  }

  &__title {
    @include h3;
    color: $color-text;
    position: relative;
    margin-top: 25px;

    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
    }
  }

  &__text {
    margin-top: 12px;

    @include media-breakpoint-up(sm) {
      @include font-size($font-size-big);
    }
  }

  &__img {
    position: absolute;
    right: 24px;
    width: 60px;
    text-align: center;

    & img {
      max-width: 100%;
    }

    @include media-breakpoint-down(sm) {
      @include v-centerer;
    }

    @include media-breakpoint-up(md) {
      top: auto;
      bottom: 62px;
      right: 40px;
    }
  }
}
