.seo-block {

  &__title {
    position: relative;
    @include h3;
    padding-right: 75px;
    cursor: pointer;

    @include media-breakpoint-up(md) {
      padding-right: 0;
    }


    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
      right: 0;
      @include v-centerer;
      transition: all .3s ease;

      @include media-breakpoint-up(md) {
        right: -75px;
      }
    }

    &::before {
      @include sprite($sprite-arrows-in-round-up-inactive);
      opacity: 1;
    }

    &::after {
      @include sprite($sprite-arrows-in-round-up);
      opacity: 0;
    }

    &.is-target-hidden::before {
      transform: translateY(-50%) rotate(180deg);
    }

    &.is-target-hidden::after {
      transform: translateY(-50%) rotate(180deg);
    }

    @include hover-active {

      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }

    }
  }

  &__text {}

  &__text-in {
    padding: 30px 0 15px;
  }
}
