.aside-promo
  .aside-promo__content#js-aside-carousel
    .aside-promo__slide(style="background-color:#ee6b00")
      a(href="#").aside-promo__link
        .aside-promo__title Скидка 5% <br>на фитинги
        .aside-promo__text
        .aside-promo__img
          img(src=imagesPath + "upload/aside/aside-img-1.jpg" width="350" height="360" alt="")
    .aside-promo__slide(style="background-color:#d9d9d9")
      a(href="#").aside-promo__link
        .aside-promo__title Заголовок
        .aside-promo__text Текст под заголовком
        .aside-promo__img
          img(src=imagesPath + "upload/aside/aside-img-2.jpg" width="350" height="440" alt="")
  .aside-promo__dots#js-aside-carousel-dots
