form(action="http://jsonplaceholder.typicode.com/posts" novalidate).form.js-ask-form#ask-form
  // Почти готовый скрипт отправки формы src/scripts/app/forms/ask-form.js
  .form__title Задать вопрос
  .form-row.form-error.text-center.js-form-error(style="display:none;")
  .row.row--vcentr.form-row
    .col-12.col-sm-2.col-md-3.text-sm-right
      label(for="ask_name").input-label Имя:
    .col-12.col-sm-8.col-md-6
      input(type="text" id="ask_name" data-field-name="Имя" required).input-text
  .row.row--vcentr.form-row
    .col-12.col-sm-2.col-md-3.text-sm-right
      label(for="ask_city").input-label Город:
    .col-12.col-sm-8.col-md-6
      input(type="text" id="ask_city" data-field-name="Город"  required).input-text
  .row.row--vcentr.form-row
    .col-12.col-sm-2.col-md-3.text-sm-right
      label(for="ask_email").input-label Email:
    .col-12.col-sm-8.col-md-6
      input(type="email" id="ask_email" data-field-name="Email" required).input-text
  .row.form-row
    .col-12.col-sm-2.col-md-3.text-sm-right
      label(for="ask_question").input-label Вопрос:
    .col-12.col-sm-8.col-md-6
      textarea(id="ask_question" data-field-name="Вопрос" required).input-text.input-text--textarea
  .form-row.text-center
    button(type="submit").btn: span Отправить
