include ../../blocks/brands-list/brands-list
include ../../blocks/featured-brand/featured-brand
.content-block Популярные бренды:
  .content-block
    .row.b-list
      .col-6.col-sm-4.col-md-3.b-list__item
        +featured-brand({
          img: {
            src: "upload/brands/brand-1.png",
            w: 156,
            h: 60
          },
          title: "Honeywell",
          links: [
            "Контроллеры (1755)",
            "Пеллетные установки(1755)",
            "Погодозависимые системы(1755)",
            "Сервоприводы(1755)"
          ]
        })
      .col-6.col-sm-4.col-md-3.b-list__item
        +featured-brand({
          img: {
            src: "upload/brands/brand-2.png",
            w: 168,
            h: 70
          },
          title: "Tamarack",
          links: [
            "Клапаны радиаторные (1755)",
            "Радиаторы (1755)",
            "Трубы (1755)",
            "Фитинги (1755)"
          ]
        })
      .col-6.col-sm-4.col-md-3.b-list__item
        +featured-brand({
          img: {
            src: "upload/brands/brand-3.png",
            w: 160,
            h: 70
          },
          title: "ICM Controls",
          links: [
            "Конвекторы электрические (1755)",
            "Тепловентиляторы косвенного нагрева (1755)",
            "Тепловые завесы косвенного нагрева (1755)"
          ]
        })
      .col-6.col-sm-4.col-md-3.b-list__item
        +featured-brand({
          img: {
            src: "upload/brands/brand-4.png",
            w: 168,
            h: 32
          },
          title: "Panasonic",
          links: [
            "Аксессуары (1755)",
            "Гидрострелки (1755)",
            "Горелки (1755)",
            "Группы быстрого монтажа (1755)"
          ]
        })
  .content-block.content-block--push-top
    +brands-list(getData(dataSrc + 'brands'))
