include ../../blocks/input-file/input-file
include ../../blocks/profile-portfoilo/profile-portfoilo
.content-block.content-block--sm-top.island
  +section-title('Фото и видео работ', 'h2')
  +profile-portfoilo({title: 'Отопление', count: 3})
  +profile-portfoilo({title: 'Водоснабжение'})
  +profile-portfoilo({title: 'Канализация'})
  +profile-portfoilo({title: 'Бани', count: 8})
  +profile-portfoilo({title: 'Сантехника'})
  // На все категории - две формы добавления (отдельно фото, отдельно видео). У кнопки открытия поп-апа в data-атрибуте можно указать категорию, и менять значение скрытого инпута в формах при открытии поп-апа. Заготовка в src/scripts/profile.js
  .popup-holder
    .popup.popup--sm#popup-portfolio-add
      .popup__title.title-line.title-line--accent.is-animated Добавить
      .popup__text
        .radiotabs.js-radiotabs
          .radiotabs__btns
            .radiotabs__row
              a(href="#portfolio-add-photo").radiotabs__btn.js-radiotabs__btn Фото
            .radiotabs__row
              a(href="#portfolio-add-video").radiotabs__btn.js-radiotabs__btn Видео
          .radiotabs__content.js-radiotabs__content#portfolio-add-photo
            form(action="/" novalidate).js-form-validator
              .form-row.text-small Фото изображение должно быть в формате .jpg  и не превышать по размеру 800х800px
              .form-row
                +input-file()
              .form-row.form-row--push-top
                button(type="submit").btn.btn--fluid: span Добавить
          .radiotabs__content.js-radiotabs__content#portfolio-add-video
            form(action="/" novalidate).js-form-validator
              // У этой и других форм добавлена валидация (класс js-form-validator). Это демо для верстки! Пример интеграции валидатора с формой можно посмотреть у формы подписки (src/scripts/app/forms/subscribe-form.js)
              .form-row.text-small Укажите ссылку на видео (доступные видео сервисы: www.youtube.com, vimeo.com)
              .form-row
                input(type="text" placeholder="пример: www.youtube.com/watch?v=SWt-Xg" required).input-text
              .form-row.form-row--push-top
                button(type="submit").btn.btn--fluid: span Добавить
