include ../../blocks/icon/icon
.content-block.content-block--sm-top.content-block--sm-bot.island
  +section-title('Дополнительная информация', 'h2')
  .row
    .col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3
      form(action="/" novalidate).js-form-validator.form
        // У этой и других форм добавлена валидация (класс js-form-validator). Это демо для верстки! Пример интеграции валидатора с формой можно посмотреть у формы подписки (src/scripts/app/forms/subscribe-form.js)
        .form-row.row.row--vcentr
          .col-12.col-sm-2
            label(for="profile_additional_name").input-label Адрес:
          .col-12.col-sm-10
            input(type="text" id="profile_additional_name").input-text
        .form-row.row.row--vcentr
          .col-12.col-sm-2
            label(for="profile_additional_time").input-label Время работы:
          .col-12.col-sm-10
            input(type="text" id="profile_additional_time").input-text
        .form-row.form-row--push-top.text-small.text-bold Доступность выезда в другие города:
        // В onclick кнопок удаления просто пример!
        .form-row.row.row--vcentr
          .col-12.col-sm-10
            +select()
              option(value="" selected) Москва
              option(value="") Новосибирск
              option(value="") Санкт-Петербург
              option(value="") Екатеринбург
          .col-12.col-sm-2
            button(type="button" onclick="$(this).closest('.form-row').remove()").btn-remove
        .form-row.row.row--vcentr
          .col-12.col-sm-10
            +select()
              option(value="") Москва
              option(value="" selected) Новосибирск
              option(value="") Санкт-Петербург
              option(value="") Екатеринбург
          .col-12.col-sm-2
            button(type="button" onclick="$(this).parent().parent().remove()").btn-remove
        .form-row
          // В onclick просто пример!
          button(type="button" onclick="$(this).parent().before('<div class=\"form-row row row--vcentr\"><div class=\"col-xs-12 col-sm-10\"><select class=\"select\"><option>Москва</option><option selected disabled hidden>Выбрать</option><option>Санкт-Петербург</option><option>Екатеринбург</option></select></div><div class=\"col-xs-12 col-sm-2\"><button class=\"btn-remove\" type=\"button\" onclick=\"$(this).parent().parent().remove()\"></button></div></div>')").link.text-small: span Добавить город
        .form-row.form-row--push-top.text-small Присутствие с соцсетях:
        // У youtube и tw модификатор на размер иконки
        each item in ['youtube', 'insta', 'fb', 'ok', 'tw', 'vk']
          .form-row.row.row--vcentr
            .col-2.col-sm-1
              label(for="profile_additional_social_" + item).input-label
                +icon(svgIconsPath + 'social.svg#' + item).input-label__icon(class={'input-label__icon--big': item == 'youtube' || item == 'tw'})
            .col-10.col-sm-11
              input(type="text" id="profile_additional_social_" + item).input-text
        .form-row.form-row--push-top
          button(type="submit").btn.btn--fluid: span Сохранить
