form(action="/" novalidate).js-form-validator
  // У этой и других форм добавлена валидация (класс js-form-validator). Это демо для верстки! Пример интеграции валидатора с формой можно посмотреть у формы подписки (src/scripts/app/forms/subscribe-form.js)
  .form-row.text-small
    | Вы можете зарегистрироваться и получить преимущества постоянного покупателя:
    br
    | • следить за статусом заказа,
    br
    | • получать информацию об акциях и скидках.
  .form-row
    .input-advice Все поля обязательны для заполнения
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_user_name").input-label Имя:
    .col-12.col-sm-9.col-md-10
      input(type="text" id="reg_user_name" required).input-text
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_user_tel").input-label Телефон:
    .col-12.col-sm-9.col-md-10
      input(type="tel" id="reg_user_tel" required).input-text.js-mask-phone
    .col-12.col-sm-9.offset-sm-3.col-md-10.offset-md-2.input-advice По нему с вами свяжется курьер.
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_user_email").input-label Email:
    .col-12.col-sm-9.col-md-10
      input(type="email" id="reg_user_email" required).input-text
    .col-12.col-sm-9.offset-sm-3.col-md-10.offset-md-2.input-advice Так мы будем на связи
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_user_password").input-label Пароль:
    .col-12.col-sm-9.col-md-10
      input(type="password" id="reg_user_password" required).input-text
  .row.row--vcentr.form-row
    .col-12.col-sm-3.col-md-2
      label(for="reg_user_password_repeat").input-label Пароль ещё&nbsp;раз:
    .col-12.col-sm-9.col-md-10
      input(type="password" id="reg_user_password_repeat" required).input-text
  .row.row--vcentr.form-row.form-row--push-top
    .col-12
      button(type="submit").btn.btn--fluid: span Зарегистрироваться
