include ../../blocks/portfolio/portfolio
include ../../blocks/section-title/section-title
.content-block.island
  +section-title('Фото и видео работ', 'h2')
  +portfolio('Отопление')
  +portfolio('Канализация')
  +portfolio('Кондиционирование')
