.history-products {
  &__head {
    @include font-size($font-size-small);
    color: $color-gray-light;
    margin-bottom: 10px;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    @include reset-list-item;
    padding: 15px 0;
    border-bottom: 1px solid $color-gray-light2;

    &:first-child {
      border-top: 1px solid $color-gray-light2;
    }
  }

  &__sum {
    font-family: $font-family-accent;
    font-weight: bold;
  }
}
