mixin mobile-nav()
  .mobile-nav#mobile-nav&attributes(attributes)
    .mobile-nav__section
      .container Ваш город&ensp;#[a(href="#" id="mobile-nav-city") Москва]
    .mobile-nav__section.mobile-nav__section--accent
      .container
        ul.mobile-nav__list
          each item in ['Отопление', 'Водоснабжение', 'Канализация', 'Бани', 'Сантехника', 'Кондиционирование']
            li.mobile-nav__item
              a(href="catalog.html").mobile-nav__link #{item}
    .mobile-nav__section
      .container
        ul.mobile-nav__list.mobile-nav__list--inline
          each item in ['Вход', 'Регистрация']
            li.mobile-nav__item
              a(href="login.html").mobile-nav__link #{item}
    .mobile-nav__section
      .container
        ul.mobile-nav__list
          each item in getData(dataSrc + 'mobile-nav')
            li.mobile-nav__item
              a(href=item.url).mobile-nav__link #{item.title}
    .mobile-nav__city
      .container
        .mobile-nav__city-search
          include ../../pages/_parts/_city-select-form
        .mobile-nav__city-list
          each city in getData(dataSrc + 'cities-mobile')
            .mobile-nav__city-item: a(href="").link-hidden #{city}
