// http://transfonter.org/
// http://www.fontsquirrel.com/tools/webfont-generator

@font-face {
  font-family: "GothamPro";
  src: url("#{$pathToFonts}GothamPro/GothamPro.eot");
  src:
    local("☺"),
    url("#{$pathToFonts}GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"),
    url("#{$pathToFonts}GothamPro/GothamPro.woff2") format("woff2"),
    url("#{$pathToFonts}GothamPro/GothamPro.woff") format("woff"),
    url("#{$pathToFonts}GothamPro/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("#{$pathToFonts}GothamPro/GothamPro-Bold.eot");
  src:
    local("☺"),
    url("#{$pathToFonts}GothamPro/GothamPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("#{$pathToFonts}GothamPro/GothamPro-Bold.woff2") format("woff2"),
    url("#{$pathToFonts}GothamPro/GothamPro-Bold.woff") format("woff"),
    url("#{$pathToFonts}GothamPro/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("#{$pathToFonts}GothamPro/GothamPro-Medium.eot");
  src:
    local("☺"),
    url("#{$pathToFonts}GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("#{$pathToFonts}GothamPro/GothamPro-Medium.woff2") format("woff2"),
    url("#{$pathToFonts}GothamPro/GothamPro-Medium.woff") format("woff"),
    url("#{$pathToFonts}GothamPro/GothamPro-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("#{$pathToFonts}GothamPro/GothamPro-Black.eot");
  src:
    local("☺"),
    url("#{$pathToFonts}GothamPro/GothamPro-Black.eot?#iefix") format("embedded-opentype"),
    url("#{$pathToFonts}GothamPro/GothamPro-Black.woff2") format("woff2"),
    url("#{$pathToFonts}GothamPro/GothamPro-Black.woff") format("woff"),
    url("#{$pathToFonts}GothamPro/GothamPro-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
