html {
  height: 100%;
}

body {
  background: $color-body-bg;
  color: $color-text;
  height: 100%;
  position: relative;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  margin: 0 auto;

  // IE 10-11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    height: 100%;
  }

  @media screen and (min-width: 1366px) {
    margin: 0;
    max-width: 1160px; // .header.is-fixed and .aside-promo depends

    &--center {
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &__header {
    flex: none;
  }

  &__content {
    flex: 1 0 auto;
    //overflow: hidden;
    width: 100%;
  }

  &__footer {
    flex: none;
  }
}
