html {
  box-sizing: border-box; // Correct box-sizing
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // No highlight when tap
}

*,
*::before,
*::after {
  box-sizing: inherit;
  vertical-align: top;
}

// Fix :active padding in IE11+
// http://stackoverflow.com/questions/6744406/internet-explorer-strange-inner-padding-on-buttonactive-click
button span,
button::before,
button::after,
svg {
  position: relative;
}

// Remove search cancel button and password field indicator in IE 10+
input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

// Invalid field box-shadow in FF
// http://stackoverflow.com/questions/3809146/firefox-4-required-input-form-red-border-outline
:invalid,
:-moz-submit-invalid,
:-moz-ui-invalid {
  box-shadow: none;
  outline: none;
}

// Reset normalize.css
input[type="search"] {
  appearance: none !important;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: none;
}

// Remove default appearance in iOS
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea {
  appearance: none;
}

img {
  vertical-align: middle;
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
// http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
