mixin logo(data)
  - data = data || {};
  if (data.schema)
    .logo(itemscope itemtype="http://schema.org/Organization")&attributes(attributes)
      a(href="home.html" itemprop="url").logo__link
        img(src=data.image.src width=data.image.w height=data.image.h alt=data.image.alt itemprop="logo").logo__image
  else
    .logo&attributes(attributes)
      a(href="home.html").logo__link
        img(src=data.image.src width=data.image.w height=data.image.h alt=data.image.alt).logo__image
