.tiles-alt {
  @include tiles;

  &__item {
    @include tile;

    @include media-breakpoint-up(md) {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }

  &__link {
    display: block;
    position: relative;
    min-height: 100%;
    background: #fff;
    padding: 24px 84px 24px 24px;
    color: $color-gray-dark;
    text-decoration: none;
    @include no-select;

    &::after {
      display: block;
      content: "";
      position: absolute;
      right: 12px;
      bottom: 12px;
      @include sprite($sprite-arrows-in-round-right);
      opacity: 0;
      transition: opacity .3s ease;
    }

    @include hover-active {
      color: $color-gray-dark;
      text-decoration: none;

      &::after {
        opacity: 1;
      }
    }

    &--bg,
    &--bg-accent {
      color: #fff;

      @include hover-active {
        color: #fff;
      }
    }

    &--bg {
      background: $color-main;
    }

    &--bg-accent {
      background: $color-accent;
    }

    @include media-breakpoint-up(sm) {
      padding-right: 54px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 18px;
    color: $color-text;
    font-family: $font-family-accent;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px !important; // overwrite title-link padding because small line-height

    &--big {
      font-size: 40px;
      line-height: 32px;
      margin-top: 5px;
    }
  }

  &__text {
    @include media-breakpoint-up(sm) {
      @include font-size($font-size-big);
    }
  }

  &__img {
    position: absolute;
    right: 24px;
    width: 60px;
    top: 24px;
    text-align: right;

    & img {
      max-width: 100%;
    }

    @include media-breakpoint-down(sm) {
      @include v-centerer;
    }
  }

  // Colored tiles

  &__link--bg &__title,
  &__link--bg-accent &__title {
    color: #fff;

    &::after {
      background: #fff;
    }
  }

  &__link--bg &__text,
  &__link--bg-accent &__text {
    opacity: .8;
  }
}
