mixin input-file(data)
  - data = data || {};
  .input-file.input-group.js-input-file&attributes(attributes)
    .input-group__item.input-group__item--grow
      .input-text.js-input-file__name
    label.input-group__item
      input(type="file" onchange="$(this).closest('.js-input-file').find('.js-input-file__name').text(this.files[0] ? this.files[0].name : '');").input-file__input
      span.btn.btn--fluid.btn--inverse.input-file__btn
        span
          = data.label || 'Обзор'
