.catalog__item .catalog__item-in .catalog__img .link-hidden{height:200px;display:inline-block;}
.catalog__item .catalog__item-in .catalog__img .link-hidden img{max-height:200px;max-width:200px;}
.catalog__item  .catalog__content .catalog__title a{display:inline-block;height:50px;}
.catalog-ctrls_zero_brand{text-align:center;width:100%;}
.catalog-ctrls_zero_brand a{color:black;}