.category-card {

  &__head {

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    @include h3;
    margin: 0 0 15px;
    flex: 1 1 0%;
  }

  &__links {
    flex: none;

    @include media-breakpoint-up(sm) {
      margin-right: -40px;
    }
  }

  &__link {
    display: block;
    @include h4;
    text-decoration: none;
    white-space: nowrap;
    color: $color-main-dark;
    margin-bottom: 15px;

    @include hover-active {
      color: $color-main;
      text-decoration: none;
    }

    @include media-breakpoint-up(sm) {
      display: inline-block;
      margin-right: 40px;
    }
  }

  &__link-i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

    & img {
      max-width: 32px;
      max-height: 24px;
      width: auto;
      height: auto;
    }
  }

  &__decsr {
    @include font-size($font-size-small-expand);
  }

  &__more {
    margin-top: 30px;
  }

  &__more-content {
    padding: 20px 0 0;
    @include font-size($font-size-small-expand);

    // remove blinking when init tabs
    height: 0;
    opacity: 0;
    overflow: hidden;

    &.is-active {
      height: auto;
      opacity: 1;
    }

    @include media-breakpoint-up(sm) {
      padding: 40px 30px 30px;
    }
  }
}
