.filter-link {
  display: block;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: $color-text;

  &--current,
  &.is-current {
    background: $color-main-dark;
    color: #fff;
  }
}
