.hello {
  margin-bottom: 10px;

  @include media-breakpoint-up(md) {
    @include tiles;
    margin-bottom: 0;
    margin-top: 10px;
  }

  &__blocks {
    @include media-breakpoint-only(sm) {
      @include tiles;
    }

    @include media-breakpoint-up(md) {
      @include tile;
      flex: 0 0 33%;
      max-width: 33%;
      right: 67%;
    }
  }

  &__slider {
    position: relative;
    margin-bottom: 10px;

    @include media-breakpoint-down(sm) {
      margin-left: $grid-gutter-width-base / -2;
      margin-right: $grid-gutter-width-base / -2;
    }

    @include media-breakpoint-up(md) {
      @include tile;
      flex: 0 0 67%;
      max-width: 67%;
      left: 33%;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;

      & > * {
        flex: 1 auto;
      }
    }
  }

  &__block {
    & + & {
      margin-top: 10px;
    }

    @include media-breakpoint-only(sm) {
      @include tile;
      flex: 0 0 50%;
      max-width: 50%;

      & + & {
        margin-top: 0;
      }
    }

    @include media-breakpoint-up(md) {
      & + & {
        margin-top: 5px;
      }
    }
  }

  &__block-in {
    position: relative;
    padding: 20px 20px 20px;
    height: 100%;

    &--cats {
      background: $color-main;
      padding-bottom: 38px;
    }

    &--help {
      background: $color-gray-dark;
    }
  }

  &__title {
    position: relative;
    font-family: $font-family-accent;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #fff;
    min-height: 45px;
    margin-bottom: 22px;
    padding-right: 60px;
  }

  &__img {
    position: absolute;
    right: 30px;
    top: 20px;
    max-width: 50px;
  }

  &__item {
    border-top: 1px solid rgba(#fff, .5);
    font-size: 14px;
    line-height: 16px;

    &:last-child {
      border-bottom: 1px solid rgba(#fff, .5);
    }
  }

  &__link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 4px 8px;

    @include hover-active {
      color: #fff;
      text-decoration: none;
      background: rgba(#fff, .5);
    }
  }

  // Slider

  &__slides {
    margin: 0;
    padding: 0;
    height: 100%;
    background: $color-gray;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column;


      & .slick-list {
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
      }

      & .slick-track {
        height: 100%;
        position: absolute;
      }

      & .slick-slide div {
        height: 100%;
      }
    }
  }

  &__slide {
    @include reset-list-item;
    @include img-block;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      min-height: 100%;
      height: 100%;
      flex: 1 0 auto;
      position: relative;

      & img {
        @include centerer;
        height: 100%;
        width: auto;
      }
    }
  }

  &__nav {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      @include v-centerer;
      z-index: 100;
      right: 20px;
      width: 186px;
    }

  }

  &__nav-item {
    @include reset-button;
    position: relative;
    white-space: normal;
    width: 100%;
    min-height: 50px;
    padding: 10px 5px 10px 15px;
    color: #fff;
    font-family: $font-family-accent;
    font-weight: bold;
    font-size: 16px;
    text-align: left;

    border-top: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: rgba(#fff, 0);
    transition: border-color .3s ease;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-right: 3px solid #fff;
      height: calc(50% - 6px);
      left: 0;
    }

    &::before {
      top: 50%;
      transform: translateY(6px);
    }

    &::after {
      bottom: 50%;
      transform: translateY(-6px);
    }

    & + & {
      margin-top: 4px;
    }

    & span {
      display: inline-block;
      width: 100%;

      &::before {
        content: "";
        display: block;
        @include v-centerer;
        left: -20px;
        @include sprite($sprite-ui-hello-slide-arr);
      }
    }

    &::before,
    &::after,
    & span::before {
      opacity: 0;
      transition: opacity .3s ease;
    }

    &.is-active {
      border-color: rgba(#fff, 1);
      pointer-events: none;

      &::before,
      &::after,
      & span::before {
        opacity: 1;
      }
    }

    @include hover-active {
      border-color: rgba(#fff, .8);

      &::before,
      &::after,
      & span::before {
        opacity: .8;
      }
    }
  }

  &__dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 100;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
