mixin hello()
  .hello&attributes(attributes)
    .hello__slider.js-hello-slider
      ul.hello__slides.js-hello-slider__items
        li.hello__slide
          a(href="#")
            img(src=imagesPath + "upload/slider/slider-img.jpg" width="768" height="470" alt="")
        li.hello__slide
          a(href="#")
            img(src=imagesPath + "upload/slider/slider-img-master.jpg" width="768" height="470" alt="")
        li.hello__slide
          a(href="#")
            img(src=imagesPath + "upload/slider/slider-img.jpg" width="768" height="470" alt="")
      .hello__nav
        button(type="button" data-slide="0").hello__nav-item.js-hello-slider__nav
          span Скидка 30%
        button(type="button" data-slide="1").hello__nav-item.js-hello-slider__nav
          span Слайд с картинкой (схема баннера)
        button(type="button" data-slide="2").hello__nav-item.js-hello-slider__nav
          span Третий слайд
      .hello__dots.js-hello-slider__dots
    .hello__blocks
      .hello__block
        .hello__block-in.hello__block-in--cats
          .hello__title.title-line.title-line--white.js-title-line Популярные <br>категории
          .hello__img
            img(src=imagesPath + "stuff/flag.svg" width="36" height="42" alt="")
          .row
            .col-6
              .hello__item
                a(href="#").hello__link Котлы
              .hello__item
                a(href="#").hello__link Фитинги
              .hello__item
                a(href="#").hello__link Коллекторы
              .hello__item
                // Тут пришлось мягкий перенос добавить, чтобы было как в дизайне. Возможно имеет смысл в этом блоке при выводе расставлять мягкие переносы у длинных слов (длиннее 14 символов)
                a(href="#").hello__link Кондициони&shy;рование
              .hello__item
                a(href="#").hello__link Трубы
            .col-6
              .hello__item
                a(href="#").hello__link Краны
              .hello__item
                a(href="#").hello__link Водонагреватели
              .hello__item
                a(href="#").hello__link Измерители
              .hello__item
                a(href="#").hello__link Термостаты
      .hello__block
        .hello__block-in.hello__block-in--help
          .hello__title.title-line.title-line--white.js-title-line В помощь <br>покупателю
          .hello__img
            img(src=imagesPath + "stuff/note.svg" width="14" height="46" alt="")
          .row
            .col-6
              .hello__item
                a(href="#").hello__link Видео
              .hello__item
                a(href="#").hello__link Калькуляторы
            .col-6
              .hello__item
                a(href="#").hello__link Статьи
