mixin portfolio(title)
  .portfolio&attributes(attributes)
    if (title)
      .portfolio__title #{title}
    ul.portfolio__gallery.js-portfolio-carousel.js-popup-gallery
      - for (var i = 0; i < 9; i++)
        li.portfolio__item
          a(href=(i === 1 ? "https://www.youtube.com/watch?v=CrwLEKMj0G8" : imagesPath + "upload/news-image.jpg") class={'portfolio__link--play js-popup-gallery__video': i === 1}).portfolio__link
            img(src=imagesPath + "upload/portfolio-thumb.jpg" width="249" height="178" alt="")
