.portfolio {
  padding: 15px 15px 25px;
  border: 1px solid $color-gray-light2;

  & + & {
    margin-top: -1px;
  }

  &__title {
    font-family: $font-family-accent;
    font-weight: bold;
    margin: 0 0 20px;
  }

  &__gallery {
    padding: 0 20px;
    margin: 0 -15px;

    @include media-breakpoint-up(sm) {
      padding: 0 30px;
      margin: 0;
    }
  }

  &__item {
    @include reset-list-item;
    padding: 0 10px;
    @include img-block;
  }

  &__link {
    display: block;
    position: relative;

    &--play {
      &::before {
        display: block;
        content: "";
        @include centerer;
        @include sprite($sprite-ui-play);
      }
    }
  }
}
