.checkout-steps {
  position: relative;
  margin: 0 (-$block-inner-padding-xs);

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 200;
    top: 0;
    bottom: 1px;
    width: $block-inner-padding-xs;
    pointer-events: none;
  }

  &::before {
    left: 0;
    @include linear-gradient(to right, #fff 0% , rgba(255,255,255,0) 100%)
  }

  &::after {
    right: 0;
    @include linear-gradient(to left, #fff 0% , rgba(255,255,255,0) 100%)
  }

  @include media-breakpoint-up(md) {
    margin: 0 (-$block-inner-padding-md);

    &::before,
    &::after {
      width: $block-inner-padding-md;
    }
  }

  &__list {
    position: relative;
    margin: 0;
    padding: 0 $block-inner-padding-xs 10px;
    counter-reset:li; // Инициализируем счетчик
    list-style:none; // Отменяем нумерацию установленную по умолчанию
    white-space: nowrap;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      padding: 0 $block-inner-padding-md 10px;
    }
  }

  &__item {
    @include reset-list-item;
    display: inline-block;
    position: relative;
    padding-left: 54px;
    line-height: 44px;

    &:before {
      display: block;
      position: absolute;
      left: 0;
      width: 44px;
      height: 44px;
      border: 1px solid $color-gray-light2;
      border-radius: 100%;
      text-align: center;
      line-height: 42px;
      content:counter(li);
      counter-increment:li;
      font-family: $font-family-accent;
      font-weight: bold;
      font-size: 16px;
    }

    & + & {
      margin-left: 30px;

      @include media-breakpoint-up(md) {
        margin-left: 45px;
      }
    }

    &--current {
      font-size: 16px;
      font-family: $font-family-accent;
      font-weight: bold;

      &:before {
        color: #fff;
        border-color: $color-accent;
        background: $color-accent;
      }

      @include media-breakpoint-up(sm) {
        font-size: 20px;
      }
    }

  }

  &__link {
    color: $color-text;
  }

  &__title {}

  &__back {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    font-family: $font-family-accent;
    margin: 5px 0 15px $block-inner-padding-xs;

    &::before {
      display: inline-block;
      content: "";
      @include sprite($sprite-arrows-md-left);
      margin-right: 10px;
    }

    @include media-breakpoint-up(sm) {
      position: absolute;
      right: $block-inner-padding-md;
      top: -30px;
      margin: 0;
    }
  }
}
