mixin checkout-steps(data)
  .checkout-steps&attributes(attributes)
    a(href="/catalog-3-lvl.html").checkout-steps__back Вернуться в каталог
    ol.checkout-steps__list.js-checkout-steps-scroll
      each item in data
        li.checkout-steps__item(class={'checkout-steps__item--current': item.current})
          if (item.link)
            a(href=item.link).checkout-steps__link
              span.checkout-steps__title #{item.title}
          else
            .checkout-steps__title #{item.title}
