.form {
  &--box {
    border: 1px solid $color-gray-light2;
    padding: 24px 24px 48px;
  }

  &__title {
    text-align: center;
    font-family: $font-family-accent;
    @include font-size($font-size-base);
    font-weight: bold;
    margin: 0 0 15px;

    &--pull {
      margin-bottom: 5px;
    }
  }
}
