.form-row {
  & + & {
    margin-top: 24px;
  }

  &--push-top {
    margin-top: 36px;
  }

  &--force-xs {
    @include media-breakpoint-down(xs) {
      margin-top: 24px;
    }
  }

  &--force-sm {
    @include media-breakpoint-down(sm) {
      margin-top: 24px;
    }
  }
}
