.dev-sign {
  @include font-size($font-size-base);

  &__link {
    font-family: $font-family-accent;
    font-weight: bold;
    margin-left: 12px;
    color: $color-link;
    text-decoration: none;
    border-bottom: 1px solid #b8d2e8;
    transition: color .3s ease;

    @include hover-active {
      color: $color-main-dark;
      border-bottom: none;
    }

  }
}
