.props {
  margin: 0;
  padding: 0;
  @include font-size($font-size-small);
  color: $color-gray;
  border-collapse: collapse;
  border-spacing: 0;

  &__item {}

  &__cell {
    vertical-align: bottom;
    white-space: nowrap;
    padding: 8px 0;
  }

  &__label {
    display: block;
    overflow: hidden;
    position: relative;
    background: #fff;
    white-space: normal;
    padding-right: 5px;

    &::after {
      position: absolute;
      bottom: -2px;
      padding-left: 5px;
      content: ".................................................................................................................................................................";
    }
  }

  &__value {
    background: #fff;
    padding-left: 5px;
  }
}
