.aside-promo {
  display: none;

  @media screen and (min-width: 1366px) {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 1160px;
    z-index: 800;
    background: $color-gray-light;

    &__content {
      position: relative;
      z-index: 100;
    }

    &__slide {
      position: relative;
      padding: 40px 10%;
      font-family: $font-family-accent;
      font-weight: bold;
      color: #fff;
      font-size: 24px;
      text-align: center;
      min-height: 100vh;

      @media screen and (min-width: 1680px) {
        font-size: 36px;
      }

      @media screen and (min-width: 1920px) {
        font-size: 42px;
      }
    }

    &__title {
      font-size: 1em;
      line-height: 1.2em;
      margin-bottom: .4em;
    }

    &__text {
      font-size: .6em;
      line-height: .8em;
    }

    &__img {

      & img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }

    &__link {
      display: block;
      position: absolute;
      @include coverer;
      padding: 40px 10%;
      color: inherit;
      text-decoration: none;
      opacity: 1;
      transition: opacity .3s ease;

      @include hover-active {
        opacity: .8;
        color: inherit;
        text-decoration: none;
      }
    }

    &__title + &__img,
    &__text + &__img {
      margin-top: 1em;
    }

    &__dots {
      position: absolute;
      top: 60%;
      left: 0;
      right: 0;
      z-index: 200;
      @include ie-z-index-fix;
    }


    &__items {
      padding-top: 20px;
      padding-left: 10%;
    }

    &__item {
      display: block;
      max-width: 220px;
      padding: 15px 20px;
      font-family: $font-family-accent;
      font-size: 16px;
      line-height: 1.2em;
      font-weight: bold;
      text-decoration: none;
      color: $color-main-dark;

      & + & {
        margin-top: 20px;
      }

      @media screen and (min-width: 1440px) {
        font-size: 20px;
      }

      @include hover-active {
        box-shadow: 0 0 0 2px $color-accent;
      }
    }
  }
}
