mixin props(data)
  table.props&attributes(attributes)
    each item in data
      tr.props__item
        td.props__cell
          .props__label #{item[0]}
        td.props__cell
          .props__value #{item[1]}
