.history {
  margin: 0 0 20px;
  padding: 0;

  &__item {
    @include reset-list-item;
    margin-bottom: 5px;
  }

  &__head {
    display: block;
    text-decoration: none;
    @include font-size($font-size-small-expand);
    color: $color-text;

    @include hover-active {
      background: $color-main;
      color: #fff;
      text-decoration: none;
    }
  }

  &__body {
    display: none;
    position: relative;
    @include font-size($font-size-small);
  }

  &__item.is-active &__head {
    display: none;
  }

  &__item.is-active &__body {
    display: block;
  }

  &__close {
    @include reset-button;
    position: absolute;
    right: 20px;
    top: 20px;
    @include sprite($sprite-arrows-round-up);
  }

  &__num {
    @include h4;
    margin: 0 0 15px;
  }

  &__info {}

  &__sum {
    @include h4;
    text-align: right;
  }

  &__products {
    margin: 30px 0;
  }
}
