include ../ajax-preloader/ajax-preloader
mixin history()
  ul.history&attributes(attributes)
    each item in new Array(6)
      li.history__item.js-history-item
        a(href="ajax-history-body.html").history__head.island.js-history-item__toggle
          .row
            .col-sm-2
              span.hidden-sm-up.text-gray
                = '№ заказа: '
              b 234785
            .col-sm-3
              span.hidden-sm-up.text-gray
                = 'Пункт выдачи: '
              | г. Пятигорск
            .col-sm-3
              span.hidden-sm-up.text-gray
                = 'Статус заказа: '
              | Оплата при получении
            .col-sm-2
              span.hidden-sm-up.text-gray
                = 'Состояние заказа: '
              | в пути
            .col-sm-2
              span.hidden-sm-up.text-gray
                = 'Трекинговый номер: '
              | 754329-48
        .history__body.js-history-item__body.island
          +ajax-preloader().js-history-item__holder
