.brands-carousel {
  &__title {
    @include h1;
    position: relative;
    margin: 0;

    @include media-breakpoint-up(sm) {
      margin-bottom: 30px;
    }
  }

  &__more {
    font-family: $font-family-accent;
    font-weight: bold;
    color: $color-gray;
    text-align: right;

    @include media-breakpoint-up(sm) {
      text-align: left;
    }
  }

  &__more-link {
    color: $color-gray;
    text-decoration: none;

    @include hover-active {
      text-decoration: none;
      color: $color-main-dark;
    }
  }

  &__carousel {
    position: relative;
    height: 100px;
    overflow: hidden;
    padding: 0 32px;
    margin-top: 20px;

    @include media-breakpoint-up(sm) {
      margin-top: 0;
      padding: 0 32px;

      & .slick-list {
        border-left: 1px solid $color-gray-lighter;
        border-right: 1px solid $color-gray-lighter;
      }
    }
  }

  &__items {}

  &__prev,
  &__next {
    display: none;

    @include media-breakpoint-up(sm) {
      @include reset-button;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;

      &::before {
        display: block;
        content: "";
      }
    }
  }

  &__prev {
    padding-right: 10px;
    left: 0;

    &::before {
      @include sprite($sprite-arrows-round-left-gray);
    }

    @include hover-active {
      &::before {
        @include sprite($sprite-arrows-round-left-active);
      }
    }
  }

  &__next {
    right: 0;
    padding-left: 10px;

    &::before {
      @include sprite($sprite-arrows-round-right-gray);
    }

    @include hover-active {
      &::before {
        @include sprite($sprite-arrows-round-right-active);
      }
    }
  }

  &__item {
    position: relative;
    height: 100px;

    & img {
      @include centerer;
      max-width: calc(100% - 30px);
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}
