include ../carousel-nav/carousel-nav
mixin brands-carousel()
  .brands-carousel.js-carousel.js-carousel--brands&attributes(attributes)
    .row.row--vcentr
      .col-12.col-sm-3
        .row.row--vcentr
          .col-6.col-sm-12
            h3.brands-carousel__title.title-line.title-line--accent.js-title-line Бренды
          .col-6.col-sm-12
            .brands-carousel__more
              a(href="brands.html").brands-carousel__more-link все бренды (24)
      .col-12.col-sm-9
        .brands-carousel__carousel
          button(type="button").brands-carousel__prev.js-carousel__prev
          .brands-carousel__items.js-carousel__items
            each i in new Array(3)
              .brands-carousel__item
                a(href="catalog-brand.html").link-hidden
                  img(src=imagesPath + "upload/brands/1.png" width="80" height="76" alt="")
              .brands-carousel__item
                a(href="catalog-brand.html").link-hidden
                  img(src=imagesPath + "upload/brands/2.png" width="140" height="47" alt="")
              .brands-carousel__item
                a(href="catalog-brand.html").link-hidden
                  img(src=imagesPath + "upload/brands/3.png" width="177" height="41" alt="")
              .brands-carousel__item
                a(href="catalog-brand.html").link-hidden
                  img(src=imagesPath + "upload/brands/4.png" width="144" height="44" alt="")
          button(type="button").brands-carousel__next.js-carousel__next
    +carousel-nav().hidden-sm-up
