
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
  direction: ltr;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; /* Fix 401 */
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
  z-index: 10;
}
.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
  margin: 6px 8px;
}
.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  left: -8px;
  top: -6px;
}

.noUi-vertical {}

.noUi-vertical .noUi-handle {}

/* Styling;
 */
.noUi-base {
  background: $color-gray-light;
}
.noUi-connect {
  position: absolute;
  height: 4px;
  background: $color-main-dark;
}
.noUi-origin {
  background: $color-gray-light;
}

.noUi-target {}

.noUi-target.noUi-connect {}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}
.noUi-handle {
  position: relative;
  border-radius: 100%;
  cursor: default;
  background: $color-accent;
}

.noUi-active {}

/* Tooltips */

.noUi-tooltip {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 6px);
  min-width: 36px;
  border-radius: 2px;
  background: #f3f0eb;
  text-align: center;
  font-size: 11px;
  line-height: 18px;
  padding: 0 4px;

  &::before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    @include css-triangle(4px, #f3f0eb, top)
  }
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
