mixin market-review()
  .market-review&attributes(attributes)
    .market-review__text-wrap
      .market-review__text
        | Нравится у нас покупать? Оставьте отзыв на
      .market-review__logo
        img(src=imagesPath + "ya-market.svg" width="144" height="28" alt="")
    .market-review__btn
      a(href="#").btn.btn--inverse.btn--fluid Оставить отзыв
