.market-review {
  padding: 15px;
  border: 1px solid $color-gray-light2;

  @include media-breakpoint-up(sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }

  &__text-wrap {
    @include media-breakpoint-up(md) {
      flex: 1 1 0%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__text {
    font-family: $font-family-accent;
    font-weight: bold;
  }

  &__logo {
    margin: 15px 0;

    & img {
      max-width: 100%;
      height: auto;
    }

    @include media-breakpoint-up(sm) {
      margin: 10px 0 0;
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 144px;
      max-width: 144px;
      margin: 0 0 0 15px;
      @include img-block;
    }
  }

  &__btn {
    @include media-breakpoint-up(md) {
      flex: 0 0 180px;
      max-width: 180px;
    }
  }
}
