.ajax-preloader {
  margin: 30px auto;
  text-align: center;

  &__spinner {
    position: relative;
    width: 48px;
    height: 48px;
    display: inline-block;

    &::before,
    &::after {
      display: inline-block;
      position: absolute;
      content: "";
      width: 24px;
      height: 24px;
      top: 12px;
    }

    &::before {
      background: $color-main;
      left: 0;
      animation: cp-boxes-animate-before 1s ease-in-out infinite
    }

    &::after {
      background: $color-accent;
      right: 0;
      animation: cp-boxes-animate-after 1s ease-in-out infinite
    }
  }

}

@keyframes cp-boxes-animate-before {
  0% {
    transform: translateX(-24px) rotate(45deg)
  }
  50% {
    transform: translateX(-8px) rotate(225deg)
  }
  100% {
    transform: translateX(-24px) rotate(45deg)
  }
}

@keyframes cp-boxes-animate-after {
  0% {
    transform: translateX(24px) rotate(45deg)
  }
  50% {
    transform: translateX(8px) rotate(-225deg)
  }
  100% {
    transform: translateX(24px) rotate(45deg)
  }
}
