include ../mailto/mailto
include ../reviews-widget/reviews-widget
include ../soc-contacts/soc-contacts
include ../tel/tel
mixin worker-card(data)
  - data = data || {};
  .worker-card&attributes(attributes)
    .row
      .col-12.col-sm-6
        .worker-card__img
          img(src=imagesPath + data.img width="350" height="350" alt="")
      .col-12.col-sm-6
        if (data.unauthorized)
          .worker-card__notice #[a(href="login.html") Зарегистрируйтесь] #[br]и контактная информация #[br]станет для Вас доступна
        h1.worker-card__title.title-line.js-title-line #{data.title}
        .worker-card__block
          .worker-card__row Город: Краснодар
          .worker-card__row Вид деятельности: отопление, вентиляция, кондиционирование
        .worker-card__block
          +reviews-widget()
        if (!data.unauthorized)
          .worker-card__block
            .worker-card__row
              = 'Телефон: '
              +tel('8-800-555-68-67').link-hidden
            .worker-card__row
              = 'E-mail: '
              +mailto('pochta@pochta.ru').link.link--gray
            .worker-card__row Режим работы: пн-пт с 9:00 до 18:00
          .worker-card__block
            +soc-contacts()
          .worker-card__block
            .worker-card__row Выезд: Краснодар, Новороссийск, Ростов-на-Дону, Ставрополь













