mixin pagination(data)
  nav.pagination&attributes(attributes)
    ul.pagination__list
      // Выводить не более 7 элементов, включая разделитель
      each item in data.items
        li.pagination__item(class=item.mod ? 'pagination__item--' + item.mod : undefined)
          if (item.link)
            a(href=item.link).pagination__link
              span.pagination__title #{item.title}
          else
            span.pagination__title #{item.title}
