@font-face{font-family:GothamPro;src:url(../main/static/fonts/GothamPro/GothamPro.eot);src:local("☺"),url(../main/static/fonts/GothamPro/GothamPro.eot?#iefix) format("embedded-opentype"),url(../main/static/fonts/GothamPro/GothamPro.woff2) format("woff2"),url(../main/static/fonts/GothamPro/GothamPro.woff) format("woff"),url(../main/static/fonts/GothamPro/GothamPro.ttf) format("truetype");font-weight:400;font-style:normal}@font-face{font-family:GothamPro;src:url(../main/static/fonts/GothamPro/GothamPro-Bold.eot);src:local("☺"),url(../main/static/fonts/GothamPro/GothamPro-Bold.eot?#iefix) format("embedded-opentype"),url(../main/static/fonts/GothamPro/GothamPro-Bold.woff2) format("woff2"),url(../main/static/fonts/GothamPro/GothamPro-Bold.woff) format("woff"),url(../main/static/fonts/GothamPro/GothamPro-Bold.ttf) format("truetype");font-weight:700;font-style:normal}@font-face{font-family:GothamPro;src:url(../main/static/fonts/GothamPro/GothamPro-Medium.eot);src:local("☺"),url(../main/static/fonts/GothamPro/GothamPro-Medium.eot?#iefix) format("embedded-opentype"),url(../main/static/fonts/GothamPro/GothamPro-Medium.woff2) format("woff2"),url(../main/static/fonts/GothamPro/GothamPro-Medium.woff) format("woff"),url(../main/static/fonts/GothamPro/GothamPro-Medium.ttf) format("truetype");font-weight:600;font-style:normal}@font-face{font-family:GothamPro;src:url(../main/static/fonts/GothamPro/GothamPro-Black.eot);src:local("☺"),url(../main/static/fonts/GothamPro/GothamPro-Black.eot?#iefix) format("embedded-opentype"),url(../main/static/fonts/GothamPro/GothamPro-Black.woff2) format("woff2"),url(../main/static/fonts/GothamPro/GothamPro-Black.woff) format("woff"),url(../main/static/fonts/GothamPro/GothamPro-Black.ttf) format("truetype");font-weight:800;font-style:normal}::-webkit-input-placeholder{color:#ccc;font-style:normal;opacity:1}:-moz-placeholder,::-moz-placeholder{color:#ccc;font-style:normal;opacity:1}:-ms-input-placeholder{color:#ccc;font-style:normal;opacity:1}.page{width:1000px;margin:0 auto;padding-top:50px;font-family:GothamPro,sans-serif}.header__logo{margin-left:50px;float:left}.header__elems{margin-right:50px;float:right;margin-top:10px}#header{clear:both;width:auto;height:120px}.page__content .container .input-group__item{margin:0 auto;width:609px}.page__content .container .island{border:1px solid gray;background-color:#f9f9f9;padding:20px 50px 130px;text-align:center}.page__content .container .island input{padding:8px 10px 10px;width:550px;border:1px solid #ccc}.page__content .container .island button{padding:0;width:36px;height:36px;position:relative;border:none;float:right;background-color:#ee6b00;background-image:url(ui.png);background-position:7px 8px;background-repeat:no-repeat}.input-group{margin-top:8px}

@media screen and (max-width: 960px) {
    .page__content .container .island h1 {
           font-size: 34px;
   }
    .content-block.content-block--pull-top.island span {
        font-size: 14px;
    }
   
.page {
    width: auto;
    padding-top: 0px;
}

#header {
        height: 180px;
}

.header__logo {
    margin-left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
.page__content .container .island input {
         width: 70%;
}
img.logo__image {
    width: 100%;
}
.header__elem.header__elem--tel {
    text-align: center;
}

.page__content .container .input-group__item {
              width: 100%;
     }
    .footer__bottom {
        font-size: 14px;
    }
.header__elem.header__elem--tel img {
       width: 76%;
    height: auto;
}
.header__elems {
    margin-right: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
}