mixin _stars-list()
  .stars__list&attributes(attributes)
    - for (var i = 0; i < 5; i++)
      i.stars__star

mixin stars(data)
  - data = data || {};
  - var stars = data.stars === undefined ? 4 : data.stars;
  if (data.form)
    - var prefix = data.idPrefix || 'rating';
    .stars.stars--form&attributes(attributes)
      .stars__list
        - for (var i = 5; i > 0; i--)
          input(type="radio" id=prefix + "_" + i name="rating" checked=(i === stars)).stars__radio
          label(for=prefix + "_" + i).stars__star
  else if (data.schema)
    .stars(data-rating=stars itemprop="aggregateRating" itemtype="http://schema.org/AggregateRating" itemscope)&attributes(attributes)
      meta(itemprop="ratingValue" content=stars)
      meta(itemprop="bestRating" content="5")
      meta(itemprop="ratingCount" content="141")
      +_stars-list()
  else
    .stars(data-rating=stars)&attributes(attributes)
      +_stars-list()
