include ../stars/stars
mixin reviews-widget(data)
  - data = data || {};
  .reviews-widget&attributes(attributes)
    .reviews-widget__stars
      +stars({schema: data.starsSchema})
    button.reviews-widget__link.link.link--gray.js-scroll-to-reviews: span Читатать 17 отзывов
    button.reviews-widget__add.link.link--gray.js-scroll-to-reviews-form: span Оставить отзыв
