.footer {
  padding: 0 0 20px;

  &__top {
    position: relative;
  }

  &__bottom {
    margin-top: 25px;
    @include font-size($font-size-smaller);

     @include media-breakpoint-up(md) {
       border-top: 1px solid $color-gray-light;
       margin-top: 55px;
       padding: 32px 0;
     }
  }

  &__up {
    @include reset-button;
    position: absolute;
    right: 0;
    bottom: -72px;
    text-align: center;
    color: $color-gray-dark;
    z-index: 800;
    font-size: 13px;

    &::before {
      display: block;
      content: "";
      margin: 0 auto 5px;
      @include sprite($sprite-arrows-round-up-gray);
    }

    @include hover-active {
      &::before {
        @include sprite($sprite-arrows-round-up);
      }
    }

    @include media-breakpoint-up(md) {
      bottom: -22px;
      right: 0;
    }

    @include media-breakpoint-up(lg) {
      right: -62px;
    }
  }
}
