mixin article(data)
  .article(itemscope itemtype="http://schema.org/Article")&attributes(attributes)
    header.article__header
      h1.article__title(itemprop="headline name") Заголовок статьи
      time.article__date(datetime="2016-06-10T04:38" itemprop="dateCreated")
      .article__description(itemprop="description")
      img(src= imagesPath + "" width="" height="" alt="" itemprop="associatedMedia").article__image
      meta(itemprop="datePublished" content="2016-06-10T04:38")
      meta(itemprop="dateModified" content="2016-06-10T04:38")
      meta(itemprop="author" content="#")
    .article__content.wysiwyg(itemprop="articleBody")
      block
    footer.article__footer
