.island-tabs {
  position: relative;
  margin: 0 (-$block-inner-padding-xs);
  font-size: 0;
  white-space: nowrap;
  border-bottom: 1px solid $color-gray-light;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 200;
    top: 0;
    bottom: 1px;
    width: $block-inner-padding-xs * 2;
    pointer-events: none;
  }

  &::before {
    left: 0;
    @include linear-gradient(to right, #fff 0% , rgba(255,255,255,0) 100%)
  }

  &::after {
    right: 0;
    @include linear-gradient(to left, #fff 0% , rgba(255,255,255,0) 100%)
  }

  @include media-breakpoint-up(md) {
    margin: 0 (-$block-inner-padding-md);

    &::before,
    &::after {
      width: $block-inner-padding-md;
    }
  }

  &__list {
    position: relative;
    z-index: 100;
    padding: 0;
    margin: 0 0 -1px;
    overflow: hidden;
  }

  &__item {
    @include reset-list-item;
    position: relative;
    display: inline-block;
    font-family: $font-family-accent;
    font-weight: bold;

    &:first-of-type {
      padding-left: $block-inner-padding-xs;
    }

    &:last-of-type {
      padding-right: $block-inner-padding-xs;
    }

    @include media-breakpoint-up(md) {
      &:first-of-type {
        padding-left: $block-inner-padding-md;
      }

      &:last-of-type {
        padding-right: $block-inner-padding-md;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    color: $color-text;
    text-decoration: none;

    @include hover-active {
      color: $color-main;
      text-decoration: none;
    }
  }

  &__title {
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    padding: 18px 12px;
    min-width: 24 + 64px;
    border: 1px solid rgba(255,255,255,0);
  }

  // .is-active for link - Tabit plugin

  &__item--current &__title,
  &__link.is-active &__title {
    border-color: $color-gray-light;
    border-bottom-color: #fff;
    cursor: default;

    &::after {
      display: block;
      position: absolute;
      content: "";
      left: 12px;
      bottom: 12px;
      width: 64px;
      height: 2px;
      background: $color-main;
    }
  }

  &__count {
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 10px;
    line-height: 18px;
    padding: 0 2px;
    min-width: 18px;
    text-align: center;
    background: $color-gray-lighter;
    font-family: $font-family-base;
    font-weight: normal;
    color: $color-gray;
  }

  // Closable mod

  &--closable &__list {
    display: flex;
  }

  &--closable &__item {
    flex: 1 0 0%;
    text-align: center;
  }

  &--closable &__title {
    border-color: $color-gray-light;

    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      @include sprite($sprite-arrows-xs-down);
    }
  }

  &--closable &__item + &__item &__title {
    border-left: 0;
  }

  &--closable &__link {
    display: block;
    color: $color-main-dark;
  }

  // .is-active for link - Tabit plugin

  &--closable &__item--current &__title,
  &--closable &__link.is-active &__title {
    cursor: pointer;
  }

  &--closable &__item--current &__title::after,
  &--closable &__link.is-active &__title::after {
    position: static;
    display: inline-block;
    background: none;
    @include sprite($sprite-ui-close-xs);
  }

  // Scroll helpers

  &__scroll-r,
  &__scroll-l {
    display: none;
    @include reset-button;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 17px;
    z-index: 800;
    background: #fff;

    &::before {
      content: "";
      display: inline-block;
      @include centerer;
    }
  }

  &__scroll-r {
    right: 0;

    &::before {
      @include sprite($sprite-arrows-md-right-gray);
    }
  }

  &__scroll-l {
    left: 0;

    &::before {
      @include sprite($sprite-arrows-md-left-gray);
    }
  }

}
