mixin island-tabs(data)
  .island-tabs.js-island-tabs&attributes(attributes)
    button(type="button").island-tabs__scroll-l.js-island-tabs__l
    ul.island-tabs__list.js-island-tabs__scroll
      each item in data
        li.island-tabs__item(class={'island-tabs__item--current': item.current})
          if (item.current)
            span.island-tabs__title !{item.title}
          else
            a(href=item.url || "#").island-tabs__link
              span.island-tabs__title !{item.title}
    button(type="button").island-tabs__scroll-r.js-island-tabs__r
