mixin carousel-nav()
  .carousel-nav&attributes(attributes)
    button(type="button").carousel-nav__prev.js-carousel__prev
    .carousel-nav__stat.js-carousel__stat
    button(type="button").carousel-nav__next.js-carousel__next
