.carousel-nav {
  text-align: center;
  margin: 20px 0;


  &--top {
    position: absolute;
    top: -4px;
    margin: 0;
    right: 0;

    @include media-breakpoint-up(md) {
      @include h-centerer;
    }
  }

  &__stat {
    display: inline-block;
    width: 60px;
    text-align: center;
    margin: 0 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    font-family: $font-family-accent;
  }

  &__prev,
  &__next {
    @include reset-button;
    position: relative;
    width: 24px;
    height: 24px;

    &::before {
      display: block;
      content: "";
      @include centerer;
    }
  }

  &__prev {
    &::before {
      @include sprite($sprite-arrows-md-left);
    }

    @include hover-active {
      &::before {
        @include sprite($sprite-arrows-md-left-active);
      }
    }
  }

  &__next {
    &::before {
      @include sprite($sprite-arrows-md-right);
    }

    @include hover-active {
      &::before {
        @include sprite($sprite-arrows-md-right-active);
      }
    }
  }
}
