mixin island-head-tabs(items)
  .island-head-tabs&attributes(attributes)
    each item in items
      .island-head-tabs__item(class={'island-head-tabs__item--current': item.current})
        if (item.current)
          .island-head-tabs__title #{item.title}
        else
          a(href=item.url).island-head-tabs__link
            .island-head-tabs__title #{item.title}
