mixin what-city()
  .what-city#js-what-city&attributes(attributes)
    // js для управления поп-апом выбора города лежит в src/scripts/app/popups.js
    .what-city__mask(onclick="Popups.closeCityPopup();")
    .what-city__popup#js-what-city-ask
      button(type="button" onclick="Popups.closeCityPopup();").btn-close.what-city__close
      .what-city__section
        .what-city__title Ваш город: Москва
      .what-city__section
        button(type="button" onclick="Popups.closeCityPopup();").btn: span Да, всё верно
        button(type="button" onclick="Popups.openCityPopup();").btn.btn--link: span Выбрать другой
    .what-city__popup#js-what-city-select
      button(type="button" onclick="Popups.closeCityPopup();").btn-close.what-city__close
      .what-city__section
        .what-city__title Ваш город: Москва
        .row
          .col-4
            .what-city__item: a(href="#").link.link--inverse Москва
            .what-city__item: a(href="#").link.link--inverse Санкт-Петербург
            .what-city__item: a(href="#").link.link--inverse Воронеж
            .what-city__item: a(href="#").link.link--inverse Волгоград
            .what-city__item: a(href="#").link.link--inverse Екатеринбург
            .what-city__item: a(href="#").link.link--inverse Иваново
            .what-city__item: a(href="#").link.link--inverse Иркутск
            .what-city__item: a(href="#").link.link--inverse Казань
            .what-city__item: a(href="#").link.link--inverse Краснодар
          .col-4
            .what-city__item: a(href="#").link.link--inverse Красноярск
            .what-city__item: a(href="#").link.link--inverse Магнитогорск
            .what-city__item: a(href="#").link.link--inverse Нижний Новгород
            .what-city__item: a(href="#").link.link--inverse Новосибирск
            .what-city__item: a(href="#").link.link--inverse Омск
            .what-city__item: a(href="#").link.link--inverse Оренбург
            .what-city__item: a(href="#").link.link--inverse Пенза
            .what-city__item: a(href="#").link.link--inverse Ростов-на-Дону
            .what-city__item: a(href="#").link.link--inverse Самара
          .col-4
            .what-city__item: a(href="#").link.link--inverse Саратов
            .what-city__item: a(href="#").link.link--inverse Сочи
            .what-city__item: a(href="#").link.link--inverse Сургут
            .what-city__item: a(href="#").link.link--inverse Тольяти
            .what-city__item: a(href="#").link.link--inverse Томск
            .what-city__item: a(href="#").link.link--inverse Тюмень
            .what-city__item: a(href="#").link.link--inverse Уфа
            .what-city__item: a(href="#").link.link--inverse Челябинск
            .what-city__item: a(href="#").link.link--inverse Череповец
      .what-city__section
        .what-city__title Или укажите Ваш:
        .row
          .col-8
            include ../../pages/_parts/_city-select-form
