include ../product-price/product-price
mixin history-products()
  .history-products&attributes(attributes)
    .history-products__head.row.hidden-xs-down
      .col-sm-6 Товар
      .col-sm-2 Цена
      .col-sm-2 Кол-во
      .col-sm-2 Сумма
    ul.history-products__list
      li.history-products__item
        .row.row--vcentr
          .col-4.col-sm-2
            img(src=imagesPath + "upload/catalog/1.jpg" width="200" height="200" alt="").flexible-media
          .col-8.col-sm-4
            .text-bold
              a(href="product.html").link-hidden Термостатическая головка с выносным накладным датчиком
            | Бренд: JW
          .col-8.offset-4.col-sm-2.offset-sm-0.text-small-expand
            div.hidden-sm-up.text-gray
              = 'Цена: '
            +product-price(true)
          .col-8.offset-4.col-sm-2.offset-sm-0.text-small-expand
            span.hidden-sm-up.text-gray
              = 'Кол-во: '
            = '2'
          .col-8.offset-4.col-sm-2.offset-sm-0.text-small-expand
            span.hidden-sm-up.text-gray
              = 'Сумма: '
            span.history-products__sum
              = '46 000 р.'
      li.history-products__item
        .row.row--vcentr
          .col-4.col-sm-2
            img(src=imagesPath + "upload/catalog/2.jpg" width="200" height="200" alt="").flexible-media
          .col-8.col-sm-4
            .text-bold
              a(href="product.html").link-hidden Термостатическая головка с выносным накладным датчиком
            | Бренд: JW
          .col-8.offset-4.col-sm-2.offset-sm-0.text-small-expand
            div.hidden-sm-up.text-gray Цена:
            +product-price(true)
          .col-8.offset-4.col-sm-2.offset-sm-0.text-small-expand
            span.hidden-sm-up.text-gray Кол-во:
            = ' 2'
          .col-8.offset-4.col-sm-2.offset-sm-0.text-small-expand
            span.hidden-sm-up.text-gray Сумма:
            span.history-products__sum
              = ' 46 000 р.'
      li.history-products__item
        .row.row--vcentr
          .col-4.col-sm-2
            img(src=imagesPath + "upload/catalog/4.jpg" width="200" height="200" alt="").flexible-media
          .col-8.col-sm-4
            .text-bold
              a(href="product.html").link-hidden Термостатическая головка с выносным накладным датчиком
            | Бренд: JW
          .col-8.offset-4.col-sm-2.offset-sm-0.text-small-expand
            div.hidden-sm-up.text-gray Цена:
            +product-price(true)
          .col-8.offset-4.col-sm-2.offset-sm-0.text-small-expand
            span.hidden-sm-up.text-gray Кол-во:
            = ' 2'
          .col-8.offset-4.col-sm-2.offset-sm-0.text-small-expand
            span.hidden-sm-up.text-gray Сумма:
            span.history-products__sum
              = ' 46 000 р.'
