.wysiwyg {

  // Titles

  h1,
  .h1 {
    margin: 1em 0 .5em;
  }

  h2,
  .h2 {
    margin: .5em 0 .6em;
  }

  h3,
  .h3 {
    margin: .8em 0 .5em;
  }

  h4,
  .h4 {
    margin: 1em 0 .8em;
  }

  h5,
  .h5 {
    margin: 1em 0 .8em;
  }

  h6,
  .h6 {
    margin: 1.2em 0 .8em;
  }

  // Paragraphs

  p {
    margin: 1.2em 0 .8em;
  }

  p + p {
    margin-top: .8em;
  }

  // Lists

  ul,
  ol {
    margin: 1.5em 0 1em;
  }

  li {
    margin: .5em 0;
  }

  li > ul {
    margin: .5em 0;
  }

  ul {
    li {

    }
  }

  ol {
    li {

    }
  }

  dl {}

  dt {}

  dd {}

  // Tables

  table {
    tr {

    }

    td {

    }
  }

  // Other

  blockquote {}

  // Media

  img {
    max-width: 100%;
    height: auto;
  }

  img[align="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img[align="left"] {
    float: left;
    margin-right: 1em;
  }

  img[align="right"] {
    float: right;
    margin-left: 1em;
  }

  // Outside control

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
