.box-nav {
  border: 2px solid $color-main;
  padding: 30px 20px 20px;
  font-family: $font-family-accent;
  font-weight: bold;
  text-align: center;


  &__item {
    display: inline-block;
    color: $color-main;
    margin: 0 10px 10px;


    @include media-breakpoint-up(sm) {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}
