include ../product-price/product-price
mixin cart-items()
  .cart-items&attributes(attributes)
    .cart-items__head.hidden-xs-down
      .row
        .col-sm-5 Товар
        .col-sm-2 Доступность
        .col-sm-1 Цена
        .col-sm-2
          .cart-items__count Кол-во
        .col-sm-2 Сумма
    ul.cart-items__list
      each item in new Array(3)
        li.cart-items__item
          .row.row--vcentr.b-list
            .col-6.col-sm-2.b-list__item
              img(src=imagesPath + "upload/catalog/2.jpg" width="200" height="200" alt="").flexible-media
            .col-6.col-sm-3.b-list__item
              .text-bold
                a(href="product.html").link-hidden Термостатическая головка с выносным накладным датчиком
              | Бренд: JW
            .col-6.col-sm-2.text-small-expand.b-list__item
              span.text-success ●
              != ' В наличии: 5&nbsp;шт.'
            .col-6.col-sm-1.text-small-expand.text-nowrap.b-list__item
              div.hidden-sm-up.text-gray
                = 'Цена: '
              +product-price(true)
            .col-6.col-sm-2.text-small-expand.b-list__item.b-list__item
              .cart-items__count
                .input-group
                  .input-group__item.input-group__item--padd-r.hidden-sm-up
                    span.text-gray Кол-во:
                  .input-group__item
                    input(type="text" value="2").input-text.input-text--fixwidth-sm.text-center
                button(type="button").cart-items__rm: span удалить
            .col-6.col-sm-2.b-list__item
              span.hidden-sm-up.text-gray
                = 'Сумма: '
              span.cart-items__sum 46 000 р.
