.cart-items {

  &__head {
    color: $color-gray-light;
    @include font-size($font-size-small);
    padding: 10px 0;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    @include reset-list-item;
    padding: 15px 0 30px;
    border-bottom: 1px solid $color-gray-light2;
    @include font-size($font-size-small);

    &:first-child {
      border-top: 1px solid $color-gray-light2;
    }

    @include media-breakpoint-up(sm) {
      padding-bottom: 15px;
    }
  }

  &__sum {
    font-family: $font-family-accent;
    font-weight: bold;
    white-space: nowrap;
  }

  &__count {
    position: relative;

    @include media-breakpoint-up(sm) {
      padding-left: 10%;
    }

    @include media-breakpoint-up(sm) {
      padding-left: 20%;
    }
  }

  &__rm {
    @include reset-button;
    position: absolute;
    top: 100%;
    left: 48px;
    margin-top: 4px;
    color: $color-text;
    text-decoration: none;
    @include font-size($font-size-small-expand);

    @include hover-active {
      color: $color-main;
      text-decoration: none;
    }

    @include media-breakpoint-up(sm) {
      left: 20%;
    }

  }
}
