font.errortext
{
	color:red;
}

font.notetext
{
	color:green;
}

.compare-list-empty {
	font-family: GothamPro, sans-serif;
	font-weight: 600;
}

.text-compare-list-is-empty {
	text-transform: uppercase;
	margin-bottom: 15px;
}

.text-add-products-to-compare-list {
	margin-bottom: 25px;
}

.compare-list-empty {
	text-align: center;
}

