.popup {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  padding: 40px;
  background: #fff;

  &--sm {
    max-width: 480px;
  }

  &__title {
    font-size: 20px;
    line-height: 1.1em;
    margin-bottom: 24px;
    font-family: $font-family-accent;
    font-weight: bold;
  }

  &__text {}
}

.popup-holder {
  display: none;
}
