.mobile-nav {
  display: none;
  position: fixed;
  border-top: 2px solid $color-gray-lighter;
  left: 0;
  right: 0;
  top: 56px;
  bottom: 0;
  background: #fff;
  z-index: 900;
  overflow-y: auto;
  @include smooth-scroll;
  color: $color-gray;

  &__section {
    padding: 30px 0;
    font-weight: 600;

    &--accent {
      font-weight: bold;
    }

    & + & {
      border-top: 2px solid $color-gray-lighter;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    @include reset-list-item;
    font-size: 15px;
    line-height: 24px;
    font-family: $font-family-accent;

    & + & {
      margin-top: 10px;
    }
  }

  &__list--inline &__item {
    display: inline-block;
  }

  &__list--inline &__item + &__item {
    margin-top: 0;
    margin-left: 40px;
  }

  &__link {
    color: $color-gray;
    text-decoration: none;
  }

  &__city {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 0;
    background: #fff;
    overflow: auto;
    @include smooth-scroll;
  }

  &.is-show-city {
    overflow: hidden;
  }

  &.is-show-city &__city {
    display: block;
  }

  &__city-search {
    margin-bottom: 20px;
  }

  &__city-list {
    overflow-y: auto;
    @include smooth-scroll;
  }

  &__city-item {
    color: $color-gray-dark;

    & + & {
      margin-top: 10px;
    }
  }
}

body.is-mobile-nav-show {
  @include media-breakpoint-down(sm) {
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;

    & .mobile-nav {
      display: block;
    }
  }
}
