.sub-nav {
  font-size: 12px;
  line-height: 32px;

  &--big {
    font-size: 14px;
    font-family: $color-accent;
    font-weight: bold;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    @include reset-list-item;
    display: inline-block;
    margin-left: 26px;
    color: $color-gray-dark;
    transition: background .3s ease;

    &:first-child {
      margin-left: 0;
    }

    &--has-child {
      position: relative;

      &:hover {
        background: $color-main-dark;
        color: #fff;
      }
    }

    & + &--has-child {
      margin-left: 10px;
    }

    &--has-child + &--has-child {
      position: relative;
      margin-left: 5px;
    }
  }

  &--big &__item {
    margin-left: 42px;
  }

  &__link {
    display: block;
    color: inherit;
    text-decoration: none;

    @include hover-active {
      color: $color-main-dark;
      text-decoration: none;
    }
  }

  // Link in item with childs has arrow
  &__item--has-child &__link {
    position: relative;
    padding: 0 18px;
    text-decoration: none;
    color: inherit;

    &::after {
      display: block;
      content: "";
      @include v-centerer;
      right: 6px;
      @include sprite($sprite-ui-drop-icon);
    }

    @include hover-active {
      text-decoration: none;
      color: inherit;

      &::after {
        display: none;
      }
    }
  }

  // Hide arrow in link if item with childs hovered
  &__item--has-child:hover &__link::after {
    display: none;
  }

  &__child {
    position: absolute;
    margin: 0;
    padding: 12px 18px;
    top: 100%;
    left: 0;
    width: 160px;
    line-height: 20px;
    background: $color-main-dark;
    border-top: 1px solid #245a86;
    z-index: 900;

    //transform: translateY(15px);
    opacity: 0;
    transition: opacity .6s, visibility .4s;
    pointer-events: none;
    visibility: hidden;
  }

  &__item:hover > &__child {
    opacity: 1;
    //transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
  }

  &__child-item {
    @include reset-list-item;
  }

  &__child-link {
    color: #fff;
    text-decoration: none;

    @include hover-active {
      color: #fff;
      opacity: .8;
    }
  }
}
