mixin sub-nav(data)
  nav.sub-nav&attributes(attributes)
    ul.sub-nav__list
      // Пунктам меню, у которых есть дочерние добавляются классы sub-nav__item--has-child и js-has-drop
      each item in data
        li.sub-nav__item(class={'sub-nav__item--has-child js-has-drop': item.child})
          a(href=item.url).sub-nav__link #{item.title}
          if (item.child)
            ul.sub-nav__child
              each child in item.child
                li.sub-nav__child-item
                  a(href=child.url).sub-nav__child-link #{child.title}
