.info-field-cart {
    padding: 1em;
    margin: 1em auto;
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
    max-width: 48em;
    background-color: #fe9;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 10px;
    letter-spacing: .025em;
}

.info-field-order {
    padding: 1em;
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
    max-width: 713px;
    background-color: #fe9;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 10px;
    letter-spacing: .025em;
}

.exclaim {
    background-image: url('images/exclaim.svg');
    padding: 1em;
    margin-right: 1em;
    background-color: transparent;
    background-clip: border-box;
    background-origin: border-box;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
