.flex {
  display: flex;
  width: 100%;
  justify-content: space-between;

  &--vcentr {
    align-items: center;
  }

  &--start {
    justify-content: flex-start;
  }

  &__item {
    flex-grow: 1;
  }

  &--navs &__item {
    max-width: 160px;
  }
}
