mixin strongs(items)
  ol.strongs.row&attributes(attributes)
    each item in items
      li.strongs__item.col-12.col-sm-6
        .strongs__item-in
          .strongs__title #{item.title}
          .strongs__text #{item.text}



