mixin tel(phone, href)
  - var cleanPhone = href || phone.replace(/\(|\)|\s|\-/g, '');
  if (cleanPhone.charAt(0) == '8')
    - cleanPhone = '+7' + cleanPhone.substr(1,cleanPhone.length-1);
  a(href="tel:#{cleanPhone}")&attributes(attributes) #{phone}
