.featured-cats {
  margin-bottom: -30px;
  text-align: center;

  @include media-breakpoint-up(sm) {
    text-align: left;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__item-in {
    display: inline-block;
    position: relative;
  };

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 14px;
    line-height: 24px;
    font-family: $font-family-accent;
    font-weight: bold;
    color: $color-gray;
  }

  &__drop {
    display: none;
  }

  &__drop-item {
    & + & {
      margin-top: 4px;
    }
  }

  &__drop-link {
    color: #fff;
    text-decoration: none;

    @include hover-active {
      color: #fff;
      text-decoration: underline;
    }
  }

  @include media-breakpoint-up(lg) {
    &__drop {
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: 260px;
      padding: 24px;
      background: $color-main-dark;
      z-index: 999;
      transform: translate(-130px, 30%);
      opacity: 0;
      transition: opacity .3s, transform .3s, visibility .3s;
      pointer-events: none;
      visibility: hidden;
    }

    &__item-in:hover > &__drop {
      opacity: 1;
      transform: translate(-130px, 0);
      pointer-events: auto;
      visibility: visible;
    }
  }


}
