mixin featured-cats(items)
  .featured-cats.row&attributes(attributes)
    each item in items
      .featured-cats__item.col-12.col-sm-3.col-md-2
        .featured-cats__item-in
          a(href="catalog-2-lvl.html"): img(src=imagesPath + item.img width="116" height="104" alt=item.title).featured-cats__img
          .featured-cats__title
            a.link-hidden !{item.title}
          .featured-cats__drop
            .featured-cats__drop-item
              a(href="catalog-2-lvl.html").featured-cats__drop-link Yoneywell Термостаты
            .featured-cats__drop-item
              a(href="catalog-2-lvl.html").featured-cats__drop-link Robertshow Термостаты
            .featured-cats__drop-item
              a(href="catalog-2-lvl.html").featured-cats__drop-link Roggers термостаты
            .featured-cats__drop-item
              a(href="catalog-2-lvl.html").featured-cats__drop-link.text-bold Просмотреть все категории
