.input-label {
  display: inline-block;
  @include font-size($font-size-small);
  margin: 12px 0;

  &--top {
    margin-top: 0;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $color-text;

    &--big {
      width: 24px;
      height: 24px;
    }
  }
}
