a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}
.layout__aside {display: none !important;}
.layout__main {left: 0 !important; -webkit-flex: 0 0 100% !important; -ms-flex: 0 0 100% !important; flex: 0 0 100% !important; max-width: 100% !important;}