mixin news(count)
  ul.news.grid&attributes(attributes)
    - for(var i = 0; i < count; i++)
      li.news__item.grid__item
        a(href="news-item.html").news__item-in
          .news__image
            img(src=imagesPath + "upload/news-thumb.jpg" width="220" height="220" alt="")
          if (i === 0 || i == 4)
            .news__label Акция до 17.11
          .news__title Настенный газовый котел Baxi MAIN 5 24 Fi
