.news {
  margin: 0;
  padding: 0;

  &__item {}

  &__item-in {
    display: block;
    min-height: 100%;
    border: 1px solid $color-gray-light2;
    padding: 45px 40px;
    text-align: center;
    font-family: $font-family-accent;
    font-weight: bold;
    color: $color-text;
    text-decoration: none;

    @include hover {
      border-color: $color-accent;
      box-shadow: inset 0 0 0 2px $color-accent;
      color: $color-text;
      text-decoration: none;
    }
  }

  &__image {
    text-align: center;
    margin-bottom: 24px;

    & img {
      border-radius: 100%;
      @include img-block;
      max-width: 100%;
      height: auto;
    }
  }

  &__label {
    color: $color-accent;
  }

  &__title {}
}
