mixin product-video()
  .product-video&attributes(attributes)
    .product-video__title Монтаж медных фитингов от компании Zont
    .product-video__descr Вторым по затратности будет твердое топливо (дрова, уголь, пеллеты и др.), затем различные виды жидкого топлива (солярка, отработанное масло, сжиженный газ и др.), и замкнет этот
    .product-video__container
      a(href="https://www.youtube.com/watch?v=jXmRXtHfu18").product-video__link.js-youtube-init
        img(src=imagesPath + "upload/video.jpg" width="854" height="480" alt="")
