.title-line {
  position: relative;
  padding-bottom: .1em;

  &::after {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: $color-main;
    transition: width .4s .3s linear;
  }

  &--accent::after {
    background: $color-accent;
  }

  &--white::after {
    background: #fff;
  }

  &.is-animated::after {
    width: 64px;
  }
}
