/* Fuck old browsers */
/* stylelint-disable */

// Blur filter
// Not working in IE10+ !
@mixin filter-blur($radius, $on: true) {
  -webkit-filter: blur($radius + px);
  -moz-filter: blur($radius + px);
  -o-filter: blur($radius + px);
  -ms-filter: blur($radius + px);
  filter: blur($radius + px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius="#{$radius}"); // IE 6-9
}

// Grayscale filter
// Not working in IE10+ !
@mixin filter-grayscale($percent: 100%) {
  -webkit-filter: grayscale($percent);
  -moz-filter: grayscale($percent);
  -o-filter: grayscale($percent);
  -ms-filter: grayscale($percent);
  filter: grayscale($percent);
  //filter: gray; / filter: none;  - add in separate css only for IE 6-9
}

// Transition for filter
@mixin filter-transition($time, $func: ease) {
  -moz-transition: -moz-filter $time $func, -webkit-filter $time $func, -ms-filter $time $func, -moz-filter $time $func;
  -webkit-transition: -moz-filter $time $func, -webkit-filter $time $func, -ms-filter $time $func, -webkit-filter $time $func;
  -ms-transition: -moz-filter $time $func, -webkit-filter $time $func, -ms-filter $time $func, -ms-filter $time $func;
  transition: -moz-filter $time $func, -webkit-filter $time $func, -ms-filter $time $func, filter $time $func;
}
