// Hover only for no-touch devices

@mixin hover {
  // @media (hover: hover) {
  //  &:hover { @content }
  // }
  .no-touchevents &:hover {
    @content;
  }
}

@mixin active {
  .no-touchevents &:active,
  .touchevents &:active {
    @content;
  }
}

@mixin hover-active {
  .no-touchevents &:hover,
  .no-touchevents &:active,
  .touchevents &:active {
    @content;
  }
}
