/* stylelint-disable */
@mixin placeholder-style() {

  // WebKit, Blink, Edge
  &::-webkit-input-placeholder {
    @content;
  }
  // Mozilla Firefox 4 to 18
  &:-moz-placeholder {
    @content;
  }

  // Mozilla Firefox 19+
  &::-moz-placeholder {
    @content;
  }

  // Internet Explorer 10-11
  &:-ms-input-placeholder {
    @content;
  }
}
