@mixin tiles {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-bottom: -5px;
}

@mixin tile {
  position: relative;
  min-height: 1px;
  width: 100%;
  padding-left: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;

  & > * {
    flex:  1 0 auto;
  }
}
