// Font-size for all or selected breakpoint
// Required Bootstrap breakpoints
@mixin font-size($sizes, $breakpoint: null) {
  $font-size: nth($sizes, 1);
  $line-height: nth($sizes, 2);

  @if ($breakpoint) {

    @include media-breakpoint-up($breakpoint) {
      font-size: $font-size;
      line-height: $line-height;
    }
  }

  @else {
    font-size: $font-size;
    line-height: $line-height;
  }
}

// Responsive font-size
@mixin font-sizes($sizes) {

  @each $breakpoint, $font-size in $sizes {
    @include font-size($font-size, $breakpoint);
  }
}

// Inherit all font properties from parent
@mixin inherit-font-style() {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  color: inherit;
  text-transform: inherit;
  text-decoration: inherit;
}
