.grid {
  @include tiles;

  &__item {
    @include tile;
    flex: 0 0 100%;
    max-width: 100%;
  }

  &--xs-2 &__item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  &--xs-3 &__item {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  &--xs-4 &__item {
    flex: 0 0 25%;
    max-width: 25%;
  }


  @include media-breakpoint-up(sm) {
    &--sm-1 &__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &--sm-2 &__item {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &--sm-3 &__item {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }

    &--sm-4  &__item {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  @include media-breakpoint-up(md) {
    &--md-1 &__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &--md-2 &__item {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &--md-3 &__item {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }

    &--md-4  &__item {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

}
