.header {
  position: relative;
  background: #fff;
  margin-bottom: 10px;

  @include media-breakpoint-up(md) {
    background: none;

    &::before {
      display: block;
      position: absolute;
      content: "";
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 25px;
      background: #fff;
    }
  }

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-gray-light;
  }

  // Middle part

  &__mid {
    padding: 14px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &--fixed {
      padding: 5px 0;
    }
  }

  &__fixed {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 900;
      background: #fff;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
      transform: translateY(-100px);
      transition: transform .3s ease;

      &.is-show {
        transform: translateY(0);
      }
    }

    @media screen and (min-width: 1366px) {
      right: auto;
      width: 1160px;

      .page--center & {
        right: 0;
        width: 100%;
      }
    }
  }

  &__logo {
    flex: 0 0 112px;
    max-width: 112px;
    margin-right: 30px;

    @include media-breakpoint-up(md) {
      flex: 0 0 200px;
      max-width: 200px;
    }
  }

  &__elems {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 0%;

    @include media-breakpoint-up(md) {
      justify-content: space-between;
    }
  }

  &__elem {
    margin-left: 24px;

    &:first-child {
      margin-left: 0;
    }

    @include media-breakpoint-up(md) {
      margin-left: 0;
    }

    &--tel {
      @include media-breakpoint-up(md) {
        flex: 0 0 35%;
        max-width: 35%;
        padding-right: 20px;
      }
    }

    &--region {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
        flex: 1 1 0%;
      }
    }

    &--search {
      flex: 1 0 0%;
      padding-right: 20px;
    }
  }

  &__tel {
    display: inline-block;

    @include media-breakpoint-down(sm) {
      font-size: 0;
      @include sprite($sprite-mobile-menu-tel);

    }

    @include media-breakpoint-up(md) {
      color: $color-gray;
      font-family: $font-family-accent;
      font-size: 16px;
      line-height: 18px;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &__text-b {
    @include font-size($font-size-smaller);
  }

  &__show-search {
    @include media-breakpoint-down(sm) {
      @include reset-button;

      &::before {
        display: block;
        content: "";
        @include sprite($sprite-mobile-menu-search);
      }
    }
  }

  &__burger {
    @include reset-button;

    &::before {
      display: block;
      content: "";
      @include sprite($sprite-mobile-menu-burger);
    }
  }

  // Bottom part

  &__bot {
    position: relative;
    display: flex;
    width: 100%;
    background: $color-accent;

    @include media-breakpoint-up(md) {
      margin-top: 4px;
    }
  }

  &__search {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 900;
  }

  // Fix header on scroll

  @include media-breakpoint-up(md) {

    &.is-fixed {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 900;
      background: #fff;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
    }

    &.is-fixed.is-fixed-show {}

    &.is-fixed &__top,
    &.is-fixed &__bot {
      display: none;
    }

    &.is-fixed &__mid {
      padding: 5px 0;
    }
  }

  @media screen and (min-width: 1366px) {
    &.is-fixed {
      right: auto;
      width: 1160px;
    }

    .page--center &.is-fixed {
      right: 0;
      width: 100%;
    }
  }
}
