.checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  @include no-select;

  &__input {
    @include sr-only;
  }

  &__label {
    position: relative;
    display: inline-block;
    line-height: 16px;
    padding-left: 24px;
    font-size: 12px;

    &::before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      @include sprite($sprite-ui-checkbox);
    }
  }

  &__input:checked + &__label {
    &::before {
      @include sprite($sprite-ui-checkbox-checked);
    }
  }

  &__input:disabled + &__label {}
}
