.checkout-header {
  padding: 20px 0;

  &__tel {
    color: $color-gray;
    font-size: 16px;
    font-weight: bold;
    font-family: $font-family-accent;
    text-decoration: none;
  }

  &__delivery {
    position: relative;
    display: inline-block;
    color: $color-gray;
    font-size: 13px;
    font-weight: bold;
    font-family: $font-family-accent;
    padding-left: 40px;

    &::before {
      display: block;
      content: "";
      @include v-centerer;
      left: 0;
      width: 30px;
      height: 20px;
      background: url("#{$pathToImages}car.svg");
    }
  }
}
