include ../logo/logo
include ../tel/tel
mixin checkout-header()
  .checkout-header&attributes(attributes)
    .container
      .row.row--vcentr.b-list
        .col-12.col-sm-4.b-list__item
          +logo({schema: true, image: {src: imagesPath + 'logo.svg', w: 190, h: 38, alt: 'ЭНДИМАРТ'}})
        .col-12.col-sm-3.b-list__item
          +tel('8 (800) 000-00-00').checkout-header__tel
        .col-12.col-sm-5.text-sm-right.b-list__item
          .checkout-header__delivery Доставка бесплатно от 15000 р.
