.product-card {
  &__title {
    @include h3;
    margin: 0 0 24px;
  }

  &__row {
    margin-bottom: 24px;
  }

  &__prop {
    @include font-size($font-size-small);
    color: $color-gray;
  }

  &__brand-logo {
    max-width: 120px;
    height: auto;
  }

  &__price-b {
    display: flex;
    align-items: center;
  }

  &__count {
    flex: 0 0 66px;
    max-width: 66px;
  }

  &__prices {
    display: flex;
    align-items: center;
    padding-left: 20px;
    white-space: nowrap;

  }

  &__price {
    display: inline-block;
    @include h3;
  }

  &__price-old {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    color: $color-warn;
    @include font-size($font-size-base);
    font-weight: 600;

    &::before {
      content: "";
      position: absolute;
      @include v-centerer;
      left: -4px;
      right: -4px;
      height: 1px;
      background: $color-warn;
    }
  }

  &__delivery {
    position: relative;
    @include font-size($font-size-small);
    color: $color-gray;
    padding-left: 40px;

    &::before {
      display: block;
      content: "";
      @include v-centerer;
      left: 0;
      width: 30px;
      height: 20px;
      background: url("#{$pathToImages}car.svg");
    }
  }

  &__badge {
    font-family: $font-family-accent;
    font-weight: bold;
  }

  &__badge-t {
    display: inline-block;
    color: #fff;
    background: $color-accent;
    line-height: 20px;
    padding: 0 5px;
  }

  &__badge-sum {
    padding-top: 4px;
    color: $color-accent;
    @include h4;
  }

  &__gallery {}

  &__view {
    * {
      outline: none;
    }
  }

  &__image {
    text-align: center;
    outline: none;

    & a {
      display: block;
    }

    & img {
      display: inline-block !important;
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }

  &__thumbs {
    text-align: center;
    margin-top: 15px;

    * {
      outline: none;
    }

    @include media-breakpoint-up(sm) {
      margin-top: 30px;
    }
  }

  &__thumb {
    //text-align: center;
    //margin: 10px;
    //padding: 0 10px;
  }

  &__thumb-in {
    display: block;
    border: 1px solid $color-gray-light2;
    padding: 5px;
    margin: 10px;
    @include img-block;

    .slick-current & {
      border-color: $color-gray-light;
    }

    &--video {
      position: relative;

      &::before {
        display: block;
        content: "";
        @include centerer;
        @include sprite($sprite-ui-play-sm);
      }
    }

    @include hover-active {
      border-color: $color-gray-light;
    }
  }
}
