.btn-close {
  @include reset-button;

  &::before {
    display: block;
    content: "";
    @include sprite($sprite-ui-close);
  }

  @include hover-active {
    &::before {
      display: block;
      content: "";
      @include sprite($sprite-ui-close-active);
    }
  }
}
