.stars {
  display: inline-block;
  white-space: nowrap;
  line-height: 16px;

  &__list {
    margin-left: -5px;
  }

  &__star {
    display: inline-block;
    vertical-align: middle;
    @include sprite($sprite-rating-star);
    margin-left: 5px;
  }

  &__radio {
    @include sr-only;
  }

  &[data-rating="1"] &__star:nth-child(-n+1),
  &[data-rating="2"] &__star:nth-child(-n+2),
  &[data-rating="3"] &__star:nth-child(-n+3),
  &[data-rating="4"] &__star:nth-child(-n+4),
  &[data-rating="5"] &__star {
    @include sprite($sprite-rating-star-active);
  }

  &__radio:checked ~ &__star,
  .no-touchevents &__radio:hover ~ &__star {
    @include sprite($sprite-rating-star-active);
  }


  &--form &__list {
    @include clearfix;
  }

  &--form &__star {
    float: right;
  }

  // Small

  &--sm {
    line-height: 10px;
  }

  &--sm &__list {
    margin-left: -2px;
  }

  &--sm &__star {
    margin-left: 2px;
    @include sprite($sprite-rating-star-sm);
  }

  &--sm[data-rating="1"] &__star:nth-child(-n+1),
  &--sm[data-rating="2"] &__star:nth-child(-n+2),
  &--sm[data-rating="3"] &__star:nth-child(-n+3),
  &--sm[data-rating="4"] &__star:nth-child(-n+4),
  &--sm[data-rating="5"] &__star {
    @include sprite($sprite-rating-star-sm-active);
  }

  // Big

  &--xl {
    line-height: 26px;
  }

  &--xl &__list {
    margin-left: -7px;
  }

  &--xl &__star {
    @include sprite($sprite-rating-star-xl);
    margin-left: 7px;
  }

  &--xl[data-rating="1"] &__star:nth-child(-n+1),
  &--xl[data-rating="2"] &__star:nth-child(-n+2),
  &--xl[data-rating="3"] &__star:nth-child(-n+3),
  &--xl[data-rating="4"] &__star:nth-child(-n+4),
  &--xl[data-rating="5"] &__star {
    @include sprite($sprite-rating-star-xl-active);
  }
}
