.rating-widget {
  display: flex;
  vertical-align: middle;
  align-items: center;

  &__label {
    text-align: center;
    margin-left: 32px;
    font-size: 12px;
    line-height: 1em;
  }

  &__val {
    font-weight: bold;
    font-family: $font-family-accent;
    font-size: 20px;
    line-height: 1em;
  }
}
