.content-block {
  position: relative;
  margin: 30px 0;

  &--pull-top {
    margin-top: 0;
  }

  &--pull-bot {
    margin-bottom: 0;
  }

  &--push-top {
    margin-top: 60px;
  }

  &--push-bot {
    margin-bottom: 60px;
  }

  &--sm-top {
    margin-top: 5px;
  }

  &--sm-bot {
    margin-bottom: 5px;
  }

  &:first-child {
    margin-top: 0;
  }

  &--tight {
    padding-left: $block-inner-padding-xs;
    padding-right: $block-inner-padding-xs;

    @include media-breakpoint-up(md) {
      padding-left: $block-inner-padding-md;
      padding-right: $block-inner-padding-md;
    }
  }
}
