mixin range-input()
  .range-input.js-range(data-range-min="0" data-range-max="32000" data-range-step="1000")&attributes(attributes)
    // Пример настроек для целых чисел в слайдере: data-range-min="1" data-range-max="20" data-range-step="1"
    // Неформатированные значения - в hidden полях
    .range-input__fields.row
      .col-6
        .input-group
          .input-group__item.input-group__item--grow
            input(type="text" value="2000").input-text.input-text--sm.js-range-min
            input(type="hidden").js-range-min-val
          .input-group__item.range-input__label р.
      .col-6
        .input-group
          .input-group__item.input-group__item--grow
            input(type="text" value="28000").input-text.input-text--sm.js-range-max
            input(type="hidden").js-range-max-val
          .input-group__item.range-input__label р.
    .range-input__range
      div.js-range-scale
