.spoiler {
  &.is-expand {}

  &__btn {
    @include reset-button;
    @include h5;
    line-height: 1.1em;
    display: inline-block;
    border-bottom: 1px dashed;
    margin-bottom: 10px;
  }

  &__btn-expand {
    display: none;
  }

  &__btn.is-expand &__btn-collapse {
    display: none;
  }

  &__btn.is-expand &__btn-expand {
    display: inline;
  }

  &__content {
    display: none;
  }
}
