@mixin link-style {
  display: inline;
  color: $color-link;
  text-decoration: underline;

  @include hover-active {
    color: $color-link-hover;
    text-decoration: none;
  }
}

a {
  @include link-style;
}

.link {
  @include reset-button;
  @include link-style;
  white-space: normal;
  text-align: inherit;

  &--dash {
    border-bottom: 1px dashed $color-link;
    text-decoration: none;

    @include hover-active {
      text-decoration: none;
      border-color: transparent;
    }
  }

  &--inverse {
    text-decoration: none;

    @include hover-active {
      text-decoration: underline;
    }
  }

  &--gray {
    color: $color-gray-dark;
  }

  &--text {
    color: $color-text;

    @include hover-active {
      color: $color-text;
      opacity: .8;
    }
  }
}
