.nav-list {

  & + & {
    margin-top: 20px;
  }

  &__title {
    @include h4;
    color: $color-gray;
    margin: 0 0 5px;
  }

  &__list {
    margin: 0;
    padding: 0;
    color: $color-gray;
    @include font-size($font-size-small);
  }

  &__item {
    @include reset-list-item;

    & + & {
      margin-top: 5px;
    }
  }

  &__link {
    color: $color-gray;
    text-decoration: none;

    @include hover-active {
      color: $color-gray;
      text-decoration: underline;
    }
  }
}
