mixin nav-list(title, items)
  nav.nav-list&attributes(attributes)
    if (title)
      .nav-list__title !{title}
    ul.nav-list__list
      each item in items
        li.nav-list__item
          a(href=item.url).nav-list__link !{item.title}
