mixin history-head()
  .history-head.row&attributes(attributes)
    .col-sm-2 № заказа
    .col-sm-3 Пункт выдачи
    .col-sm-3 Статус заказа
    .col-sm-2 Состояние заказа
    .col-sm-2 Трекинговый номер
