.catalog-ctrls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  margin-right: -5px;

  @include media-breakpoint-up(md) {
    display: block;
  }

  &__sort {
    flex: 1 1 auto;
    margin-right: 5px;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(md) {
      display: block;
      padding-right: 0;
    }
  }

  &__filters {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;

    @include media-breakpoint-up(sm) {
      flex: 0 0 30%;
    }

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__in {
    width: 100%;
  }

  &__count {
    @include media-breakpoint-only(xs) {
      margin-bottom: 15px;
    }
  }

  &__filter-btn {
    @include reset-button;
    @include font-size($font-size-small-expand);
  }

  &__filter-btn-i {
    display: block;
    margin: 0 auto 10px;
  }
}
