mixin breadcrumbs(data)
  nav.breadcrumbs&attributes(attributes)
    ul.breadcrumbs__list
      each item, index in data.items
        if(!data.lastLink && index + 1 == data.items.length)
          li.breadcrumbs__item
            span.breadcrumbs__item-title #{item.title}
        else
          li.breadcrumbs__item(itemscope itemtype="http://data-vocabulary.org/Breadcrumb")
            a(href=item.link itemprop="url").breadcrumbs__item-link
              span(itemprop="title").breadcrumbs__item-title #{item.title}
