mixin checkbox(data)
  - data = data || {};
  label.checkbox&attributes(attributes)
    input(type="checkbox" name=data.name checked=data.checked disabled=data.disabled).checkbox__input
    span.checkbox__label #{data.label}

