mixin input-number(data)
  - data = data || {};
  - data.val = data.val || 1;
  .input-number&attributes(attributes)
    button(type="button").input-number__btn
      +icon(svgIconsPath + 'main.svg#angle-left').input-number__btn-i
    input(type="number" value=data.value min=data.min max=data.max).input-number__input
    button(type="button").input-number__btn
      +icon(svgIconsPath + 'main.svg#angle-right').input-number__btn-i
