.input-number {
  display: inline-block;
  white-space: nowrap;

  &__btn {
    @include reset-button;
  }

  &__input {
    -webkit-appearance: none; /* stylelint-disable-line */
    -moz-appearance: textfield; /* stylelint-disable-line */
    appearance: none;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}
