include ../dev-sign/dev-sign
include ../nav-list/nav-list
include ../seo-block/seo-block
include ../social/social
include ../subscribe-form/subscribe-form
mixin footer()
  .footer&attributes(attributes)
    .container
      .footer__top
        .content-block.island
          +subscribe-form()
        .content-block.content-block--tight
          +social('Мы в социальных сетях <span class="social__title-dash">—</span>')
        .content-block.island
          +seo-block()
        .content-block.hidden-sm-down
          .flex.flex--navs
            .flex__item
              +nav-list('Для покупателя', getData(dataSrc + 'nav-footer-customer'))
              +nav-list(null, getData(dataSrc + 'nav-footer-customer-2'))
            .flex__item
              +nav-list('О компании', getData(dataSrc + 'nav-footer-about'))
              +nav-list(null, [{title: "Политика конфиденциальности", url: "#"}])
            .flex__item
              +nav-list('Сантехника', getData(dataSrc + 'nav-footer-sanitary'))
            .flex__item
              +nav-list('Отопление', getData(dataSrc + 'nav-footer-heating'))
            .flex__item
              +nav-list('Бренды', getData(dataSrc + 'nav-footer-brands'))
        button(type="button" data-scroll-to="body").footer__up.js-scroll-to Наверх
      .footer__bottom
        .row
          .col-12.col-md-6
            | ©2016 «Oscentr»
          .col-12.col-md-6.text-md-right
            +dev-sign()
