.pickup {
  margin: 0;
  padding: 0;

  &__item {
    @include reset-list-item;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid $color-gray-light2;

    &:first-child {
      border-top: 1px solid $color-gray-light2;
    }
  }

  &__head {
    display: block;
    cursor: pointer;
  }

  &__radio {
    @include sr-only;
  }

  &__info {
    position: relative;
    padding-left: 44px;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      @include v-centerer;
    }

    &::before {
      width: 28px;
      height: 28px;
      left: 4px;
      background: #fff;
      border: 1px solid $color-gray-light;
      border-radius: 100%;
    }
  }

  &__radio:checked + &__info {
    &::after {
      width: 16px;
      height: 16px;
      left: 10px;
      background: $color-accent;
      border-radius: 100%;
    }
  }

  &__map-wrap {
    display: none;
  }

  &__map-in {
    padding: 20px 0 30px;
  }

  &__map {
    position: relative;
    height: 360px;
  }

  &__map-preloader {
    @include centerer;
    margin: 0;
  }

  &__text {
    padding-top: 30px;
  }
}
