include ../ajax-preloader/ajax-preloader
mixin pickup()
  ul.pickup.js-pickup&attributes(attributes)
    // Если не использовать тут radio - потребуется допилить скрипт (src/scripts/app/checkout.js)
    - var picups = getData(dataSrc + 'pickups');
    each item in picups
      li.pickup__item.js-pickup__item
        label.pickup__head
          input(type="radio" name="pickup_location" required).pickup__radio.js-pickup__radio
          span.pickup__info.d-block
            span.row.row--vcentr
              span.col-12.col-sm-6
                span.text-small-expand.d-block #{item.title}
                span.text-small-expand.d-block #{item.addr}
              span.col-12.col-sm-4.text-small-expand.text-sm-right
                  span.text-gray стоимость доставки:
                  = ' '
                  b 0 р.
        .pickup__map-wrap.js-pickup__content
          .pickup__map-in
            .row
              .col-12.col-sm-6
                .pickup__map.js-pickup__map(data-center=item.latlng data-marker=JSON.stringify({"latlng": item.latlng}) data-marker-image=imagesPath + "map-marker.svg")
                  +ajax-preloader().pickup__map-preloader.js-map-preloader
              .col-12.col-sm-6.text-small-expand
                .pickup__text
                  | Телефоны: +7-928-814-65-29, +7-928-814-65-96
                  br
                  | Режим работы: ежедневно,
                  br
                  | с 8:00 до 17:00. Воскресенье — выходной
