.brands-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  //justify-content: space-between;

  &__col {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: $grid-gutter-width-base;
    font-size: 12px;
    line-height: 16px;

    @include media-breakpoint-up(sm) {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }

    @include media-breakpoint-up(md) {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }


  &__group + &__group {
    margin-top: $grid-gutter-width-base;
  }

  &__item {
    & + & {
      margin-top: 5px;
    }
  }
}
