mixin brands-list(data)
  .brands-list&attributes(attributes)
    each col in data
      .brands-list__col
        each group in col
          .brands-list__group
            each item in group
              .brands-list__item
                a(href="catalog-brand.html").link.link--gray #{item}
