.faq {
  margin: 0;
  padding: 0;

  &__item {
    @include reset-list-item;

    & + & {
      margin-top: 40px;
    }
  }

  &__question-name,
  &__answer-name {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 5px;
    margin-bottom: 4px;
    color: #fff;
  }

  &__question {}

  &__question-name {
    background: $color-main;
  }

  &__answer {
    position: relative;
    background: $color-gray-lighter;
    padding: 20px;
    margin-top: 24px;

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 0 0 20px;
      border-color: transparent transparent transparent $color-gray-lighter;
      bottom: 100%;
      left: 20px;
    }
  }

  &__answer-name {
    background: $color-accent;
  }

  &__text {
    @include font-size($font-size-small-expand);
  }
}
