mixin faq(data)
  ul.faq&attributes(attributes)
    each item in data
      li.faq__item
        .faq__question
          .faq__question-name #{item.question.name}
          .faq__text #{item.question.text}
        .faq__answer
          .faq__answer-name #{item.answer.name}
          .faq__text #{item.answer.text}
