include ../cart-widget/cart-widget
include ../logo/logo
include ../mobile-nav/mobile-nav
include ../nav/nav
include ../search-form/search-form
include ../sub-nav/sub-nav
include ../tel/tel
mixin header()
  .header#header&attributes(attributes)
    .container
      .header__top.hidden-sm-down
        +sub-nav(getData(dataSrc + 'sub-nav'))
        +sub-nav(loggedIn ? getData(dataSrc + 'user-nav-logged-in') : getData(dataSrc + 'user-nav')).sub-nav--big
      // Пришлось дублировать центральную часть шапки, чтобы добиться необходимой анимации (появляется на больших экранах при прокрутке). Из отличий тут: логотип без schema разметки, нет блока с регионом, встроена форма поиска, нет .hidden-md-up блоков)
      .header__fixed#header-fixed
        .container
          .header__mid.header__mid--fixed
            .header__logo
              +logo({schema: false, image: {src: imagesPath + 'logo.svg', w: 190, h: 38, alt: 'ЭНДИМАРТ'}})
            .header__elems
              .header__elem.header__elem--tel
                +tel('8 (800) 000-00-00').header__tel
                .text-small.hidden-sm-down Инженерное оборудование для дома
              .header__elem.header__elem--search
                // Пришлось дублировать форму поиска для прилипающей шапки
                form(action="/" novalidate).search-form.js-form-validator&attributes(attributes)
                  .input-group
                    .input-group__item.input-group__item--grow
                      input(type="text" placeholder="Поиск" required).input-text.search-form__input
                    .input-group__item
                      button(type="submit").search-form__submit
              .header__elem
                +cart-widget()
      .header__mid
        .header__logo
          +logo({schema: true, image: {src: imagesPath + 'logo.svg', w: 190, h: 38, alt: 'ЭНДИМАРТ'}})
        .header__elems
          .header__elem.header__elem--tel
            +tel('8 (800) 000-00-00').header__tel
            .text-small.hidden-sm-down Инженерное оборудование для дома
          .header__elem.header__elem--region.hidden-sm-down
            .header__text-b
              = 'Ваш город '
              a(href="#js-what-city-select")#js-what-city-anchor Москва
            .header__text-b Доставка бесплатно от 1500 р.
          .header__elem.hidden-md-up
            button(type="button").header__show-search.js-toggle-search
          .header__elem
            +cart-widget()
          .header__elem.hidden-md-up
            button(type="button").header__burger.js-toggle-mobile-nav
      .header__bot
        +nav(getData(dataSrc + 'catalog-nav')).hidden-sm-down
        .header__search#header-search-form
          +search-form()
    +mobile-nav()
