.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  right: 0;
  background: #fff;
  padding: 20px;
  border: 1px solid $color-gray-light2;
  line-height: 1.5em;
}

.tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}
