.input-text {
  @include reset-input;
  display: block;
  width: 100%;
  border: 1px solid $color-gray-light;
  line-height: 24px;
  font-size: 14px;
  padding: 12px;
  height: 48px;

  &:focus,
  &.is-focused {
    box-shadow: inset 0 0 0 2px  $color-gray-light;
  }

  &.is-valid {}

  &.is-invalid {
    border-color: $color-warn;
  }

  &--textarea {
    height: 120px;
    resize: none;
  }

  &--sm {
    height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &--fixwidth {
    width: 100px;
  }

  &--fixwidth-sm {
    width: 60px;
  }
}
