.soc-contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__label {
    margin-right: 20px;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    display: inline-block;
    fill: $color-text;
    margin: 4px 15px 4px 0;

    @include hover-active {
      fill: $color-main;
    }

    @include media-breakpoint-up(sm) {
      margin-right: 20px;
    }
  }

  &__item-i {
    width: 20px;
    height: 20px;

    &--big {
      width: 24px;
      height: 24px;
    }
  }
}
