include ../icon/icon
mixin social(title)
  .social&attributes(attributes)
    if (title)
      .social__title !{title}
    .social__list
      // У youtube и tw модификаторы на размер иконки
      a(href="#").social__item
        +icon(svgIconsPath + 'social.svg#youtube').social__item-i.social__item-i--big
      a(href="#").social__item
        +icon(svgIconsPath + 'social.svg#insta').social__item-i
      a(href="#").social__item
        +icon(svgIconsPath + 'social.svg#fb').social__item-i
      a(href="#").social__item
        +icon(svgIconsPath + 'social.svg#ok').social__item-i
      a(href="#").social__item
        +icon(svgIconsPath + 'social.svg#tw').social__item-i.social__item-i--big
      a(href="#").social__item
        +icon(svgIconsPath + 'social.svg#vk').social__item-i
