.social {

  @include media-breakpoint-up(sm) {
    display: flex;
    align-items: center;
  }

  &__title {
    @include h4;
    margin-bottom: 24px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  &__title-dash {
    @include media-breakpoint-up(sm) {
      margin-left: 28px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-up(sm) {
      justify-content: flex-start;
      margin-left: 48px;
    }
  }

  &__item {
    position: relative;
    display: inline-block;
    fill: $color-accent;

    @include hover-active {
      fill: $color-main;
    }

    @include media-breakpoint-up(sm) {
      & + & {
        margin-left: 36px;
      }
    }
  }

  &__item-i {
    width: 24px;
    height: 24px;

    &--big {
      height: 30px;
      width: 30px;
    }
  }
}
