.product-video {
  & + & {
    margin-top: 40px;
  }

  &__title {
    font-family: $font-family-accent;
    font-weight: bold;
    text-align: center;
    max-width: 480px;
    margin: 0 auto 15px;
  }

  &__descr {
    @include font-size($font-size-small-expand);
    max-width: 480px;
    margin: 0 auto 15px;
  }

  &__container {
    position: relative;
    max-width: 854px;
    margin: 0 auto;

    &::before {
      display: block;
      content: '';
      width: 100%;
      height: 0;
      padding-bottom: 56.2%; // youtube ratio
    }
  }

  &__link {
    @include coverer;
    overflow: hidden;
    @include img-block;

    &::before {
      display: block;
      content: "";
      @include centerer;
      @include sprite($sprite-ui-play);
    }
  }
}
