.form-anchor {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  white-space: nowrap;
  text-decoration: none;
  font-family: $font-family-accent;
  font-weight: bold;
  color: $color-main;

  &::before {
    display: inline-block;
    content: "";
    @include sprite($sprite-ui-bubble);
    margin-right: 24px;
  }
}
