.btn-remove {
  position: relative;
  height: 40px;
  width: 40px;
  @include reset-button;

  &::before {
    display: block;
    @include v-centerer;
    content: "";
    @include sprite($sprite-ui-close);
  }

  @include hover-active {
    &::before {
      @include sprite($sprite-ui-close-active);
    }
  }
}
