.profile-portfoilo {
  padding: 15px;
  border: 1px solid $color-gray-light2;

  & + & {
    margin-top: -1px;
  }

  @include media-breakpoint-up(md) {
    padding-left: 48px;
  }

  &__title {
    @include h4;
  }

  &__list {
    padding: 0;
    margin-top: 25px;
    margin-bottom: 15px;
    @include make-row();
  }

  &__item {
    list-style: none;
    position: relative;
    @include img-block;
    @include make-col-ready();
    margin-bottom: $grid-gutter-width-base;

    @include make-col(6);

    @include media-breakpoint-up(sm) {
      @include make-col(3);
    }

    @include media-breakpoint-up(md) {
      @include make-col(2);
    }
  }

  &__link {
    display: block;
    position: relative;

    &--play {
      &::before {
        display: block;
        content: "";
        @include centerer;
        @include sprite($sprite-ui-play);
      }
    }
  }

  &__rm {
    @include reset-button;
    position: absolute;
    right: 0;
    top: -10px;
    @include sprite($sprite-ui-round-close);

    @include hover-active {
      @include sprite($sprite-ui-round-close-active);
    }
  }
}
