mixin subscribe-form()
  .subscribe-form&attributes(attributes)
    .row.row--vcentr.b-list
      .col-md-5.b-list__item
        .subscribe-form__icon
          img(src=imagesPath + "stuff/mail.svg" width="50" height="38" alt="")
        .subscribe-form__text
          | Подпишись чтобы узнавать первым о&nbsp;всех новинках, акциях, конкурсах!
      .col-md-7.b-list__item
        form(action="http://jsonplaceholder.typicode.com/posts" novalidate).js-subscribe-form
          // js обрабатывающий форму лежит в src/scripts/app/forms/subscribe-form.js там уже прописан ожидаемый ответ от сервера и сделан вывод поп-апов
          .input-group
            .input-group__item.input-group__item--grow
              input(type="email" name="email" placeholder="E-mail").input-text#dasdsa
            .input-group__item
              button(type="submit").btn: span Подписаться
