.subscribe-form {
  margin: 20px 0 15px;

  &__icon {
    float: left;
    max-width: 50px;
    height: auto;
  }

  &__text {
    font-family: $font-family-accent;
    font-weight: bold;
    margin-left: 80px;
  }
}
