.island {
  padding: 24px $block-inner-padding-xs;
  background: #fff;

  &--small {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  @include media-breakpoint-up(md) {
    padding: 32px $block-inner-padding-md;

    &--small {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}
