include ../../blocks/checkout-header/checkout-header
include ../../blocks/checkout-footer/checkout-footer
include ../../blocks/scripts/scripts
doctype html
html(lang="ru-RU" class="no-js" prefix="og: http://ogp.me/ns#")
  include ../_parts/_head
  body
    .page(class={'page--center': pageCenter})
      block header
      header.page__header
        +checkout-header()
      .page__content
        block content
      block footer
      footer.page__footer
        +checkout-footer()
    block promo
    include ../_parts/_popups
    +scripts([
      assetsPath + 'js/libs/jquery-3.1.0.min.js',
      assetsPath + 'js/libs/bobr.min.js',
      assetsPath + 'js/plugins.js',
      assetsPath + 'js/app.js'
    ])
    block footer-scripts
