extends _layouts/_default
include ../blocks/box-nav/box-nav
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/portfolio/portfolio
include ../blocks/section-title/section-title
include ../blocks/strongs/strongs
block head
  - pageTitle = 'О компании';
  - pageUrl = 'about.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'О компании'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      +section-title('О компании', 'h1')
      .content-block.content-block--pull-top.content-block--push-bot
        .row
          .col-12.col-sm-8.col-md-6.text-small-expand
            | Это не может звучать как наиболее интересном направлении, но каждый по SupplyHouse запальчиво о нашем бизнесе. У нас энергичная команда, ориентированная на инновации и мы постоянно в поиске способов усовершенствовать наш сайт. Ваш бизнес важен для нас и мы стремимся быть ваш идти к источнику для все, сантехника, отопление и вентиляция. С момента вы входите на наш сайт на время ваш пакет прибыл, мы прилагаем все усилия, чтобы сделать ваш опыт положительный. От всех нас в SupplyHouse, мы смотрим вперед к делать дело с вами!
      +section-title('Узнайте о нас больше. Видео.', 'h2').title-line--accent
      .content-block.content-block--pull-top.content-block--push-bot
        +portfolio()
      +section-title('Наши преимущества', 'h2')
      .content-block
        +strongs(getData(dataSrc + 'strongs'))
      .content-block.content-block--push-top
        +box-nav()
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts

