extends _layouts/_default
include ../blocks/ajax-preloader/ajax-preloader
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/section-title/section-title
block head
  - pageTitle = 'Бренды';
  - pageUrl = 'brands.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Бренды'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      +section-title('Бренды', 'h1')
      .content-block.js-tabs(data-active="0")
        .island-tabs.js-island-tabs
          button(type="button").island-tabs__scroll-l.js-island-tabs__l
          ul.island-tabs__list.js-island-tabs__scroll
            li.island-tabs__item
              a(href="#brands-group-1").island-tabs__link.js-tabs__btn
                span.island-tabs__title Все бренды
            li.island-tabs__item
              a(href="#brands-group-2").island-tabs__link.js-tabs__btn
                span.island-tabs__title Отопление
            li.island-tabs__item
              a(href="#brands-group-3").island-tabs__link.js-tabs__btn
                span.island-tabs__title Водоснабжение
            li.island-tabs__item
              a(href="#brands-group-4").island-tabs__link.js-tabs__btn
                span.island-tabs__title Канализация
            li.island-tabs__item
              a(href="#brands-group-5").island-tabs__link.js-tabs__btn
                span.island-tabs__title Бани
            li.island-tabs__item
              a(href="#brands-group-6").island-tabs__link.js-tabs__btn
                span.island-tabs__title Сантехника
            li.island-tabs__item
              a(href="#brands-group-7").island-tabs__link.js-tabs__btn
                span.island-tabs__title Кондиционирование
          button(type="button").island-tabs__scroll-r.js-island-tabs__r
        .tab-content.content-block.js-tabs__content#brands-group-1
          include _parts/_brands
        .tab-content.content-block.js-tabs__content#brands-group-2
          +ajax-preloader().js-tab-ajax-content(data-src="ajax-brands.html")
        .tab-content.content-block.js-tabs__content#brands-group-3
          +ajax-preloader().js-tab-ajax-content(data-src="ajax-brands.html")
        .tab-content.content-block.js-tabs__content#brands-group-4
          +ajax-preloader().js-tab-ajax-content(data-src="ajax-brands.html")
        .tab-content.content-block.js-tabs__content#brands-group-5
          +ajax-preloader().js-tab-ajax-content(data-src="ajax-brands.html")
        .tab-content.content-block.js-tabs__content#brands-group-6
          +ajax-preloader().js-tab-ajax-content(data-src="ajax-brands.html")
        .tab-content.content-block.js-tabs__content#brands-group-7
          +ajax-preloader().js-tab-ajax-content(data-src="ajax-brands.html")
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts

