extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/island-tabs/island-tabs
include ../blocks/radio/radio
block head
  - pageTitle = 'Калькуляторы';
  - pageUrl = 'calcs.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Калькуляторы'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      +island-tabs([
        {
          title: 'Калькулятор <br>мощности котла',
          current: true
        },
        {
          title: 'Калькулятор <br>сечения трубы'
        },
        {
          title: 'Калькулятор <br>теплопотерь'
        },
        {
          title: 'Калькулятор <br>ИК отопления'
        }
      ])
      .content-block.content-block--push-top
        form(action="/" novalidate)
          .row
            .col-sm-8
              .content-block
                .input-group
                  .input-group__item.h5 Введите площадь Вашего дома:
                  .input-group__item.input-group__item--padd
                    input(type="text").input-text.input-text--fixwidth
                  .input-group__item.h5 м#[sup 2]
              .content-block
                .form__title.text-left Выберите степень теплоизоляции дома:
                .check-list.check-list--expand
                  .check-list__item
                    +radio({name: 'calc-1', label: 'хорошая'})
                  .check-list__item
                    +radio({name: 'calc-1', label: 'средняя'})
                  .check-list__item
                    +radio({name: 'calc-1', label: 'низкая'})
              .content-block
                .form__title.text-left Выберите свою климатическую зону:
                .check-list.check-list--expand
                  .check-list__item
                    +radio({name: 'calc-2', label: 'средняя температура зимой -20°C'})
                  .check-list__item
                    +radio({name: 'calc-2', label: 'средняя температура зимой: -10°C'})
                  .check-list__item
                    +radio({name: 'calc-2', label: 'средняя температура зимой 0°C'})
              .content-block
                button(type="submit").btn.btn--inverse: span Рассчитать
            .col-sm-4.hidden-xs-down.text-center
              img(src=imagesPath + "calc.svg" width="85" height="96" alt="")
          .content-block
            .calc-result Требуемая ориентировочная мощность котла 43кВт
          .content-block
            a(href="catalog-3-lvl.html").btn.btn--fluid Посмотреть в каталоге #[span(class="hidden-xs-down") подходящие]
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
