extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/catalog/catalog
include ../blocks/category-card/category-card
include ../blocks/filter/filter
block head
  - pageTitle = 'Каталог - 3 уровень';
  - pageUrl = 'catalog-3-lvl.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
      items: [
        {title: 'Главная', link: 'home.html'},
        {title: 'Отопление', link: 'catalog.html'},
        {title: 'Автоматика', link: 'catalog-2-lvl.html'},
        {title: 'Термостаты'}],
      lastLink: false
    })
    .content-block.content-block--pull-top
      .layout
        main.layout__main
          .island.content-block.content-block--sm-bot
            +category-card('Термостаты')
          include _parts/_catalog-head
          +catalog(12).grid--xs-2.grid--sm-3.grid--md-3
          include _parts/_pagination
        aside.layout__aside
          +filter()
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
