extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/catalog-nav/catalog-nav
include ../blocks/category-card/category-card
include ../blocks/category-thumb/category-thumb
block head
  - pageTitle = 'Каталог - 2 уровень';
  - pageUrl = 'catalog-2-lvl.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
      items: [
        {title: 'Главная', link: 'home.html'},
        {title: 'Отопление', link: 'catalog.html'},
        {title: 'Автоматика'}],
      lastLink: false
    })
    .content-block.content-block--pull-top
      .layout
        main.layout__main
          .island.content-block.content-block--sm-bot
            +category-card('Автоматика')
          .island
            .row.b-list
              - var categories = getData(dataSrc + 'categories-2-lvl');
              each item in categories
                .col-12.col-sm-6.b-list__item
                  +category-thumb(item)
        aside.layout__aside
          +catalog-nav('Автоматика',[
            'Контроллеры',
            'Пеллетные установки',
            'Погодозависимые системы',
            'Сервоприводы',
            'Термоголовки',
            'Термостаты',
            'Турбо-насадки'
          ]).layout__aside--sticky.js-sticky
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts


