extends _layouts/_checkout
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/checkout-steps/checkout-steps
block head
  - pageTitle = 'Заказ - Контактные данные';
  - pageUrl = 'checkout-contacts.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    .content-block.content-block--pull-top.island.island--small
      +breadcrumbs({
        items: [
          {title: 'Главная', link: 'home.html'},
          {title: 'Корзина', link: 'cart.html'},
          {title: 'Контактные данные'}],
        lastLink: false
      })
      +checkout-steps([
        {
          title: 'Корзина',
          link: 'cart.html'
        },
        {
          title: 'Контактные данные',
          current: true
        },
        {
          title: 'Способы доставки'
        },
        {
          title: 'Заказ оформлен'
        }
      ])
      .content-block
        .row.b-list
          .col-12.col-sm-6.b-list__item.js-tabs
            .island.box.js-focus-b.focus-b.is-active
              .island-head-tabs
                .island-head-tabs__item
                  a(href="#checkout-reg").island-head-tabs__link.js-tabs__btn
                    .island-head-tabs__title Покупаете впервые?
                .island-head-tabs__item
                  a(href="#checkout-login").island-head-tabs__link.js-tabs__btn
                    .island-head-tabs__title Вход
              .js-tabs__content#checkout-reg
                include _parts/_reg-form-user
                .text-small.form-row.form-row--push-top
                  | Нажав кнопку «Зарегистрироваться и продолжить» вы соглашаетесь с условиями #[a(href="#" target="_blank") оферты].
              .js-tabs__content#checkout-login
                form(action="/checkout-delivery.html" novalidate).js-form-validator
                  // У этой и других форм добавлена валидация (класс js-form-validator). Это демо для верстки! Пример интеграции валидатора с формой можно посмотреть у формы подписки (src/scripts/app/forms/subscribe-form.js)
                  include _parts/_login-form-content
          .col-12.col-sm-6.b-list__item
            .island.box.js-focus-b.focus-b
              .island-head-tabs
                .island-head-tabs__item.island-head-tabs__item--current
                 .island-head-tabs__title Без регистрации
              form(action="/checkout-delivery.html" novalidate).js-form-validator
                .row.row--vcentr.form-row
                  .col-12.col-sm-3.col-md-2
                    label(for="checkout_user_name").input-label Имя:
                  .col-12.col-sm-9.col-md-10
                    input(type="text" id="checkout_user_name" required).input-text
                .row.row--vcentr.form-row
                  .col-12.col-sm-3.col-md-2
                    label(for="checkout_user_tel").input-label Телефон:
                  .col-12.col-sm-9.col-md-10
                    input(type="tel" id="checkout_user_tel" required).input-text.js-mask-phone
                .row.row--vcentr.form-row
                  .col-12.col-sm-3.col-md-2
                    label(for="checkout_user_email").input-label Email:
                  .col-12.col-sm-9.col-md-10
                    input(type="email" id="checkout_user_email" required).input-text
                .row.row--vcentr.form-row.form-row--push-top
                  .col-12.col-sm-6
                    button(type="submit").btn.btn--fluid: span Далее
block footer
block promo
  include _parts/_aside-promo-2
block footer-scripts

