extends _layouts/_checkout
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/checkout-steps/checkout-steps
include ../blocks/pickup/pickup
include ../blocks/radio/radio
include ../blocks/select/select
block head
  - pageTitle = 'Заказ - Контактные данные';
  - pageUrl = 'checkout-contacts.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    .content-block.content-block--pull-top.island.island--small
      +breadcrumbs({
        items: [
          {title: 'Главная', link: 'home.html'},
          {title: 'Корзина', link: 'cart.html'},
          {title: 'Способы доставки'}],
        lastLink: false
      })
      +checkout-steps([
        {
          title: 'Корзина',
          link: 'cart.html'
        },
        {
          title: 'Контактные данные',
          link: 'checkout-contacts.html'

        },
        {
          title: 'Способы доставки',
          current: true
        },
        {
          title: 'Заказ оформлен'
        }
      ])
      .content-block.js-tabs
        .box.island
          .island-head-tabs
            .island-head-tabs__item
              a(href="#checkout-delivery").island-head-tabs__link.js-tabs__btn
                .island-head-tabs__title Доставка до двери (платно)
            .island-head-tabs__item
              a(href="#checkout-pickup").island-head-tabs__link.js-tabs__btn
                .island-head-tabs__title Самовывоз
          .js-tabs__content#checkout-delivery
            form(action="/checkout-success.html" novalidate).form.js-form-validator
              .form__title.text-left По какому адресу вам доставить заказ?
              .row.row--vcentr.form-row
                .col-12.col-sm-1
                  label(for="checkout_city").input-label Город#[sup *]:
                .col-12.col-sm-8.col-md-8
                  input(type="text" id="checkout_city" data-cities-src="/cities.json" required).input-text.js-city-input
              .row.row--vcentr.form-row
                .col-12.col-sm-1
                  label(for="checkout_street").input-label Улица#[sup *]:
                .col-12.col-sm-8
                  input(type="text" id="checkout_street" required).input-text
              .row.row--vcentr.form-row
                .col-3.col-sm-1
                  label(for="checkout_house").input-label Дом#[sup *]:
                .col-9.col-sm-2.form-row
                  input(type="text" id="checkout_house" required).input-text
                .col-3.col-sm-1
                  label(for="checkout_section").input-label Корпус:
                .col-9.col-sm-2.form-row.form-row--force-xs
                  input(type="text" id="checkout_section").input-text
                .col-3.col-sm-1
                  label(for="checkout_flat").input-label Квартира/офис:
                .col-9.col-sm-2.form-row.form-row--force-xs
                  input(type="text" id="checkout_flat").input-text
                .col-12.col-md-3.form-row--force-sm.text-small-expand Если вы живете в частном доме, то поля «Корпус» и «Квартира» заполнять не обязательно.
              .content-block
                .form__title.text-left Коментарий
                .row
                  .col-12.col-sm-9
                    textarea(placeholder="Например, запасной номер телефона или \"нет грузового лифта\" и т.д.").input-text.input-text--textarea
              .content-block
                .form__title.text-left Способ оплаты
                .row.row--vcentr
                  .col-12.col-sm-2.text-small-expand Оплата онлайн:
                  .col-12.col-sm-6.col-md-5
                    img(src=imagesPath + "payments.png" width="409" height="38" alt="").flexible-media
              .content-block.content-block--push-top
                .row.row--vcentr.b-list
                  .col-12.col-sm-4.col-md-6.b-list__item
                    .sum
                      .sum__row Итого
                      .sum__row Товаров на #[span(class="text-nowrap") 97 500 р.]
                      .sum__row Скидка по промокоду #[span(class="text-nowrap") 12 500 р.]
                      .sum__row Доставка: 404 р.
                  .col-12.col-sm-4.col-md-3.b-list__item
                    .h4.text-nowrap К оплате: 97 500 р.
                  .col-12.col-sm-4.col-md-3.b-list__item
                    button(type="submit").btn.btn--fluid.btn--xl: span Оплатить заказ
          .js-tabs__content#checkout-pickup
            form(action="/checkout-success.html" novalidate).form.js-form-validator
              .row.row--vcentr
                .col-12.col-sm-3.col-md-2
                  label(for="checkout_pickup_city").input-label Ваш&nbsp;населенный&nbsp;пункт:
                .col-12.col-sm-4
                  +select()(id="checkout_pickup_city")
                    option(selected value="") Пятигорск
                    option(value="") Москва
                    option(value="") Санкт-Петербург
                    option(value="") Екатеринбург
                    option(value="") Новосибирск
              .content-block
                .form__title.text-left Выбрать пункт выдачи
                +pickup()
              .content-block
                .form__title.text-left Способ оплаты
                .check-list.check-list--expand
                  .check-list__item
                    +radio({label: 'Оплата при получении', name: 'checkout_pickup_payment', checked: true})
                  .check-list__item
                    .row.row--vcentr
                      .col-12.col-sm-3.col-md-2
                        +radio({label: 'Оплата онлайн', name: 'checkout_pickup_payment'})
                      .col-12.col-sm-5.col-md-4
                        img(src=imagesPath + "payments.png" width="409" height="38" alt="").flexible-media
              .content-block.content-block--push-top
                .row.row--vcentr.b-list
                  .col-12.col-sm-4.col-md-6.b-list__item
                    .sum
                      .sum__row Итого
                      .sum__row Товаров на #[span(class="text-nowrap") 97 500 р.]
                      .sum__row Скидка по промокоду #[span(class="text-nowrap") 12 500 р.]
                  .col-12.col-sm-4.col-md-3.b-list__item
                    .h4.text-nowrap К оплате: 97 500 р.
                  .col-12.col-sm-4.col-md-3.b-list__item
                    button(type="submit").btn.btn--fluid.btn--xl: span Оплатить заказ
block footer
block promo
  include _parts/_aside-promo-2
block footer-scripts

