extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/section-title/section-title
block head
  - pageTitle = 'Вход и регистрация';
  - pageUrl = 'login.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Вход и регистрация'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      .row.b-list
        .col-12.col-sm-6.b-list__item
          include _parts/_login-form
        .col-12.col-sm-6.b-list__item
          .form.form.form--box
            h2.form__title.text-left Регистрация
            .radiotabs.js-radiotabs
              .radiotabs__btns
                .radiotabs__row
                  a(href="#reg-form-user").radiotabs__btn.js-radiotabs__btn Покупатель
                .radiotabs__row
                  a(href="#reg-form-worker").radiotabs__btn.js-radiotabs__btn Мастер
                .radiotabs__row
                  a(href="#reg-form-company").radiotabs__btn.js-radiotabs__btn Сервисный-центр (компания)
              .radiotabs__content.js-radiotabs__content#reg-form-user
                include _parts/_reg-form-user
              .radiotabs__content.js-radiotabs__content#reg-form-worker
                include _parts/_reg-form-worker
              .radiotabs__content.js-radiotabs__content#reg-form-company
                include _parts/_reg-form-company
            .text-small
              | Нажав кнопку «Зарегистрироваться и продолжить» вы соглашаетесь с условиями #[a(href="#" target="_blank") оферты].
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
