doctype html
html(lang="ru-RU" prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->

    //- Turn off telephone number and address detection
    meta(name="format-detection" content="telephone=no")
    meta(name="format-detection" content="address=no")
    title Список страниц
    style.
      body {
        margin: 20px;
        padding: 0;
        font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
        font-size: 12px;
        line-height: 1.1em;
      }

      h1 {
        font-size: 24px;
        line-height: 1.2em;
        margin: 0 0 20px;
        font-weight: bold;
      }

      table {
        margin: 0;
        border-collapse: collapse;
      }

      td {
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }

      td:first-child {
        font-weight: bold;
      }

      td:last-child {
        font-style: italic;
        color: #999;
      }

      a {
        color: #006ac0;
        font-weight: bold;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
  body
    h1 Список страниц
    table
      tr
        td 1.
        td
          a(href="home.html") Главная
        td home.html
      tr
        td 2.
        td
          a(href="brands.html") Бренды
        td brands.html
      tr
        td 3.
        td
          a(href="catalog-brand.html") Каталог - Бренд
        td catalog-brand.html
      tr
        td 4.
        td
          a(href="catalog.html") Каталог 1 уровень
        td catalog.html
      tr
        td 5.
        td
          a(href="catalog-2-lvl.html") Каталог 2 уровень
        td catalog-2-lvl.html
      tr
        td 6.
        td
          a(href="catalog-3-lvl.html") Каталог 3 уровень
        td catalog-3-lvl.html
      tr
        td 7.
        td
          a(href="product.html") Товар
        td product.html
      tr
        td 8.
        td
          a(href="faq.html") Вопрос- Ответ
        td faq.html
      tr
        td 9.
        td
          a(href="reviews.html") Отзывы
        td reviews.html
      tr
        td 10.
        td
          a(href="cart.html") Корзина
        td cart.html
      tr
        td 11.
        td
          a(href="checkout-contacts.html") Оформление заказа - Контактные данные
        td checkout-contacts.html
      tr
        td 12.
        td
          a(href="checkout-delivery.html") Оформление заказа - Способ доставки
        td checkout-delivery.html
      tr
        td 13.
        td
          a(href="checkout-success.html") Оформление заказа - Заказ оформлен
        td checkout-success.html
      tr
        td 14.
        td
          a(href="login.html") Вход / Регистрация
        td login.html
      tr
        td 15.
        td
          a(href="profile.html") Личный кабинет - Покупатель
        td profile.html
      tr
        td 16.
        td
          a(href="profile-worker.html") Личный кабинет - Мастер
        td profile-worker.html
      tr
        td 17.
        td
          a(href="profile-company.html") Личный кабинет - Сервисный центр
        td profile-company.html
      tr
        td 18.
        td
          a(href="order-history.html") Личный кабинет - История заказов
        td order-history.html
      tr
        td 19.
        td
          a(href="workers.html") Мастера
        td workers.html
      tr
        td 20.
        td
          a(href="worker.html") Мастер
        td worker.html
      tr
        td 21.
        td
          a(href="worker-unauthorized.html") Мастер неавторизован
        td worker-unauthorized.html
      tr
        td 22.
        td
          a(href="service-centers.html") Сервичные центры
        td service-centers.html
      tr
        td 23.
        td
          a(href="service-center.html") Сервичный центр
        td service-center.html
      tr
        td 24.
        td
          a(href="news.html") Акции и новости
        td news.html
      tr
        td 25.
        td
          a(href="news-item.html") Акция / Новость
        td news-item.html
      tr
        td 26.
        td
          a(href="about.html") О нас
        td about.html
      tr
        td 27.
        td
          a(href="text-page.html") Оплата (текстовая страница)
        td text-page.html
      tr
        td 28.
        td
          a(href="wholesales.html") Оптовикам
        td wholesales.html
      tr
        td 29.
        td
          a(href="contacts.html") Где купить
        td contacts.html
      tr
        td 30.
        td
          a(href="calcs.html") Калькулятор
        td calcs.html
      tr
        td 31.
        td
          a(href="styles.html") Стили
        td styles.html
