extends _layouts/_default
include ../blocks/ajax-preloader/ajax-preloader
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/catalog/catalog
include ../blocks/carousel-nav/carousel-nav
include ../blocks/product-card/product-card
include ../blocks/product-video/product-video
include ../blocks/props/props
include ../blocks/section-title/section-title
block head
  - pageTitle = 'Товар';
  - pageUrl = 'product.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
      items:[
        {title: 'Главная', link: 'home.html'},
        {title: 'Отопление', link: 'catalog.html'},
        {title: 'Автоматика', link: 'catalog-2-lvl.html'},
        {title: 'Термостаты', link: 'catalog-3-lvl.html'},
        {title: 'ZONT-H1VDIN, программируемый'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.content-block--sm-bot.island
      +product-card()
    .content-block.content-block--sm-top.island
      .content-block.js-tabs
        .island-tabs.js-island-tabs
          button(type="button").island-tabs__scroll-l.js-island-tabs__l
          ul.island-tabs__list.js-island-tabs__scroll
            li.island-tabs__item
              a(href="#product-descr").island-tabs__link.js-tabs__btn
                span.island-tabs__title Описание
            li.island-tabs__item
              a(href="#product-reviews").island-tabs__link.js-tabs__btn
                span.island-tabs__title Отзывы
                span.island-tabs__count 7
            li.island-tabs__item
              a(href="#product-faq").island-tabs__link.js-tabs__btn
                span.island-tabs__title Вопрос-ответ
            li.island-tabs__item
              a(href="#product-video").island-tabs__link.js-tabs__btn
                span.island-tabs__title Видео
                span.island-tabs__count 2
            li.island-tabs__item
              a(href="#product-accessories").island-tabs__link.js-tabs__btn
                span.island-tabs__title Аксессуары
                span.island-tabs__count 5
            li.island-tabs__item
              a(href="#product-parts").island-tabs__link.js-tabs__btn
                span.island-tabs__title Запчасти
            li.island-tabs__item
              a(href="#product-workers").island-tabs__link.js-tabs__btn
                span.island-tabs__title Мастера
                span.island-tabs__count 12
            li.island-tabs__item
              a(href="#product-services").island-tabs__link.js-tabs__btn
                span.island-tabs__title Сервис-центры
                span.island-tabs__count 22
          button(type="button").island-tabs__scroll-r.js-island-tabs__r
        .tab-content.content-block.js-tabs__content#product-descr
          .b-list
            .wysiwyg.b-list__item.text-small-expand
              p Настенные газовые двухконтурные котлы Лемакс серии PRIME-V (Лемакс Прайм) разработаны собственным инжиниринговым центром компании Лемакс под контролем центра инновационных разработок SIT GROUP специально для эксплуатации в российских условиях. Производятся исключительно из европейских комплектующих таких производителей как SIT, OTMA, WILO, Polidoro, Valmex, NordGas. Прошли итоговое тестирование в лабораториях Polidoro, NordGas, Natalini и SIT. Идеально подходит для установки в квартирах и индивидуальных домах. Адаптированы к перепадам давления газа. ВАЖНО: установка комнатного термостата дает дополнительную экономию 10-20% в расходе топлива за отопительный период!
            .b-list__item
              .row.b-list
                .col-12.col-md-7.b-list__item
                  h3.section-title.section-title--sm.title-line.title-line--accent.js-title-line Технические характеристики
                  +props(getData(dataSrc + 'props'))
                .col-12.col-md-4.offset-md-1.b-list__item
                  h3.section-title.section-title--sm.title-line.title-line--accent.js-title-line Файлы
                  ul.check-list
                    li.check-list__item: a(href="#") Инструкция по монтажу
                    li.check-list__item: a(href="#") Сертификат соответствия КМКП
                    li.check-list__item: a(href="#") Сертификат соответствия КЦКП-1,6
                    li.check-list__item: a(href="#") КЦКП-100
        .tab-content.content-block.js-tabs__content#product-reviews
          +ajax-preloader().js-tab-ajax-content(data-src="ajax-reviews.html")
        .tab-content.content-block.js-tabs__content#product-faq
          +ajax-preloader().js-tab-ajax-content(data-src="ajax-faq-product.html")
        .tab-content.content-block.js-tabs__content#product-video
          +product-video()
          +product-video()
        .tab-content.content-block.js-tabs__content#product-accessories
          +ajax-preloader().js-tab-ajax-content(data-src="ajax-catalog.html")
        .tab-content.content-block.js-tabs__content#product-parts
          +ajax-preloader().js-tab-ajax-content(data-src="ajax-catalog.html")
        .tab-content.content-block.js-tabs__content#product-workers
          +ajax-preloader().js-tab-ajax-content(data-src="ajax-workers.html")
        .tab-content.content-block.js-tabs__content#product-services
          +ajax-preloader().js-tab-ajax-content(data-src="ajax-services.html")
    .content-block.js-carousel.js-carousel--catalog
      +section-title('Похожие товары', 'h3')
      +carousel-nav().carousel-nav--top
      +catalog(24).grid--xs-2.grid--sm-3.grid--md-4.js-carousel__items
    .content-block.js-carousel.js-carousel--catalog
      +section-title('Вы смотрели', 'h3')
      +carousel-nav().carousel-nav--top
      +catalog(24).grid--xs-2.grid--sm-3.grid--md-4.js-carousel__items
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts

