extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/checkbox/checkbox
include ../blocks/input-file/input-file
include ../blocks/island-head-tabs/island-head-tabs
include ../blocks/section-title/section-title
include ../blocks/select/select
block head
  - pageTitle = 'Профиль (компания)';
  - pageUrl = 'profile-company.html';
  - pageCenter = false;
  - loggedIn = true;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Профиль'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.content-block--sm-bot.island
      +island-head-tabs([{title:'История заказов', url: 'order-history.html'}, {title: 'Профиль', current: 'true'}])
      .row
        .col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3
          form(action="/" novalidate).js-form-validator.form
            // У этой и других форм добавлена валидация (класс js-form-validator). Это демо для верстки! Пример интеграции валидатора с формой можно посмотреть у формы подписки (src/scripts/app/forms/subscribe-form.js)
            .form-row.row
              .col-12.col-sm-10.offset-sm-2
                .profile-photo
                  img(src=imagesPath + 'upload/service-center-photo-sm.jpg' width="160" height="160" alt="")
            .form-row.row.row--vcentr
              .col-12.col-sm-2
                .input-label Логотип:
              .col-12.col-sm-10
                +input-file({label: 'Сменить'})
            .form-row.row.row--vcentr
              .col-12.col-sm-2
                label(for="profile_name").input-label Название:
              .col-12.col-sm-10
                input(type="text" id="profile_name" value="ООО «Созидант»" required).input-text
            .form-row.row.row--vcentr
              .col-12.col-sm-2
                label(for="profile_city").input-label Город:
              .col-12.col-sm-10
                +select()(id="profile_city")
                  option(selected value="") Москва
                  option(value="") Новосибирск
                  option(value="") Санкт-Петербург
                  option(value="") Екатеринбург
            .form-row.row.row--vcentr
              .col-12.col-sm-2
                label(for="profile_tel").input-label Телефон:
              .col-12.col-sm-10
                input(type="tel" id="profile_tel" value="+79876543210" required).input-text.js-mask-phone
            .form-row.row.row--vcentr
              .col-12.col-sm-2
                label(for="profile_email").input-label Email:
              .col-12.col-sm-10
                input(type="email" id="profile_email" value="mail@mail.ru" required).input-text
            .form-row.row
              .col-12.col-sm-3
                .input-label.input-label--top Обслуживаемые бренды:
              .col-12.col-sm-9
                .scroll-block.js-scroll-block
                  .check-list
                    - var brands = ['AO Smith', 'Bell & Госсет', 'Bradfort White', 'Fantech', 'Grundfos', 'Honeywell', 'Taco', 'Треугольник Tube', 'Uponor', 'Viega', 'Вт', 'Вейль Маклейн'];
                    each brand, index in brands
                      .check-list__item
                        +checkbox({label: brand, checked: index === 1})
            .form-row.form-row--push-top.text-small.text-bold Сменить пароль
            .form-row.row.row--vcentr
              .col-12.col-sm-2
                label(for="profile_password").input-label Пароль:
              .col-12.col-sm-10
                input(type="password" id="profile_password" required).input-text
            .form-row.row.row--vcentr
              .col-12.col-sm-2
                label(for="profile_password_repeat").input-label Пароль ещё&nbsp;раз:
              .col-12.col-sm-10
                input(type="password" id="profile_password_repeat" required).input-text
            .form-row.form-row--push-top
              button(type="submit").btn.btn--fluid: span Сохранить
    include _parts/_profile-additional
    include _parts/_profile-portfolio
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
