extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/catalog/catalog
include ../blocks/count/count
include ../blocks/section-title/section-title
include ../blocks/select/select
block head
  - pageTitle = 'Результаты поиска';
  - pageUrl = 'search.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Поиск по товарам'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.content-block--sm-bot.island
      +section-title('Поиск по товарам', 'h1')
      .row
        .col-12.col-md-9
          form(action="search.html" novalidate).search-form&attributes(attributes)
            .input-group
              .input-group__item.input-group__item--grow
                input(type="text" placeholder="Поиск" value="Термостатическая головка с выносным накладным датчиком" required).input-text.search-form__input
              .input-group__item
                button(type="submit").search-form__submit
      .content-block.content-block--push-top.wysiwyg
        .h4 По вашему запросу ничего не найдено
        p Попробуйте снова или вернитесь на #[a(href="/") главную] страницу
    .content-block.content-block--pull-top
      .catalog-ctrls
        .catalog-ctrls__sort.island.island--small
          .catalog-ctrls__in
            .row.row--vcentr
              .col-5.col-sm-7.col-md-8
                +count('127', 'товаров').catalog-ctrls__count
              .col-7.col-sm-5.col-md-4
                .row.row--vcentr
                  .col-12.col-sm-5.text-sm-right.text-small-expand Сортировать по
                  .col-12.col-sm-7
                    +select().select--xs
                      option(value="" selected) цене
                      option(value="") популярности
                      option(value="") рейтингу
      +catalog(12).grid--xs-2.grid--sm-3.grid--md-4
      include _parts/_pagination
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts

