extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/section-title/section-title
include ../blocks/worker-card/worker-card
block head
  - pageTitle = 'Сервисный центр';
  - pageUrl = 'service-center.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Сервисные центры', link: 'service-centers.html'},
          {title: 'ООО «Созидант»'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      +worker-card({title: 'ООО «Созидант»', img: "upload/service-center-photo.jpg"})
    include _parts/_works
    include _parts/_reviews
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
