extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/section-title/section-title
include ../blocks/select/select
include ../blocks/workers/workers
block head
  - pageTitle = 'Сервисные центры';
  - pageUrl = 'service-centers.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
      items:[
        {title: 'Главная', link: 'home.html'},
        {title: 'Сервисные центры'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      .row.b-list
        .col-12.col-sm-7.b-list__item
          +section-title('Сервисные центры', 'h1')
          .text-small-expand В компании «Отопление Сервис» аккредитовано более 200&nbsp;профессиональных монтажников из 6&nbsp;городов России. После заказа отопления вы получите доступ в реестр монтажников с&nbsp;контактными данными и отзывами.
        .col-12.col-sm-4.offset-sm-1.b-list__item
          +section-title('Вы сервисный центр?', 'h4').section-title--sm.title-line--accent
          .text-small-expand Расскажите Вашим клиентам о том что вы делаете. #[a(href="login.html") Вход для центра]&emsp;#[a(href="login.html") Регистрация]
      .content-block
        .row.row--vcentr
          .col-12.col-sm-5
            .row.row--vcentr
              .col-12.col-sm-4
                label(for="master_city").input-label Выберите город:
              .col-12.col-sm-8
                +select()(id="master_city" )
                  option(selected value="") Все
                  option(value="") Москва
                  option(value="") Санкт-Петербург
                  option(value="") Екатеринбург
                  option(value="") Новосибирск
          .col-12.col-sm-6.offset-sm-1
            .row.row--vcentr
              .col-12.col-sm-4
                label(for="master_speciality").input-label Обслуживаемые&nbsp;бренды:
              .col-12.col-sm-8
                +select()(id="master_speciality")
                  option(selected value="") Все
                  option(value="") Terit
                  option(value="") Wadnets
                  option(value="") Trobner
                  option(value="") Holler
      .content-block.content-block--push-top
        +workers(8, true).grid--xs-2.grid--sm-4
        include _parts/_pagination
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
