extends _layouts/_default
include ../blocks/box-nav/box-nav
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/person/person
include ../blocks/portfolio/portfolio
include ../blocks/section-title/section-title
include ../blocks/strongs/strongs
block head
  - pageTitle = 'Оптовикам';
  - pageUrl = 'wholesales.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
        items:[
          {title: 'Главная', link: 'home.html'},
          {title: 'Оптовикам'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      +section-title('Оптовикам', 'h1')
      .content-block.content-block--pull-bot
        .row.b-list
          .col-12.col-sm-6.b-list__item
            +section-title('Хотите получать <br>особые условия', 'h2').title-line--accent
            .text-small-expand Это не может звучать как наиболее интересном направлении, но каждый по SupplyHouse запальчиво о нашем бизнесе. У нас энергичная команда, ориентированная на инновации и мы постоянно в поиске способов усовершенствовать наш сайт. Ваш бизнес важен для нас и мы стремимся быть
          .col-12.col-sm-6.col-md-5.offset-md-1.b-list__item
            +section-title('Мы всегда рады <br>новым пртнерам!', 'h2').title-line--accent
            .text-small-expand Это не может звучать как наиболее интересном направлении, но каждый по SupplyHouse запальчиво о нашем бизнесе. У нас энергичная команда, ориентированная на инновации и мы постоянно в поиске способов усовершенствовать наш сайт. Ваш бизнес важен для нас и мы стремимся быть
      .content-block.content-block--pull-top.content-block--push-bot
        .row
          .col-6.col-sm-3
            +person()
          .col-6.col-sm-3
            +person()
      +section-title('Наши партнеры', 'h2').title-line--accent
      .content-block.content-block--pull-top.content-block--push-bot
        .portfolio
          ul.portfolio__gallery.js-portfolio-carousel.js-popup-gallery(data-slides="4")
            each i in new Array(2)
              li.portfolio__item
                span.portfolio__link
                  img(src=imagesPath + "upload/partner-1.jpg" width="250" height="178" alt="")
              li.portfolio__item
                span.portfolio__link
                  img(src=imagesPath + "upload/partner-2.jpg" width="250" height="178" alt="")
              li.portfolio__item
                span.portfolio__link
                  img(src=imagesPath + "upload/partner-3.jpg" width="250" height="178" alt="")
              li.portfolio__item
                span.portfolio__link
                  img(src=imagesPath + "upload/partner-4.jpg" width="250" height="178" alt="")
      .content-block.content-block--push-top
        +box-nav()
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts

