extends _layouts/_default
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/section-title/section-title
include ../blocks/select/select
include ../blocks/workers/workers
block head
  - pageTitle = 'Мастеры';
  - pageUrl = 'workers.html';
  - pageCenter = false;
  - loggedIn = false;
block header
block head-styles
block content
  .container
    +breadcrumbs({
      items:[
        {title: 'Главная', link: 'home.html'},
        {title: 'Мастеры'}],
      lastLink: false
    })
    .content-block.content-block--pull-top.island
      .row.b-list
        .col-12.col-sm-7.b-list__item
          +section-title('Мастеры', 'h1')
          .text-small-expand В компании «Отопление Сервис» аккредитовано более 200&nbsp;профессиональных монтажников из 6&nbsp;городов России. После заказа отопления вы получите доступ в реестр монтажников с&nbsp;контактными данными и отзывами.
        .col-12.col-sm-4.offset-sm-1.b-list__item
          +section-title('Вы мастер?', 'h4').section-title--sm.title-line--accent
          .text-small-expand Расскажите Вашим клиентам о том что вы делаете. #[a(href="login.html") Вход для мастеров]&emsp;#[a(href="login.html") Регистрация]
      .content-block
        .row.row--vcentr
          .col-12.col-sm-5
            .row.row--vcentr
              .col-12.col-sm-4
                label(for="master_city").input-label Выберите город:
              .col-12.col-sm-8
                +select()(id="master_city")
                  option(value="" selected) Все
                  option(value="") Москва
                  option(value="") Санкт-Петербург
                  option(value="") Екатеринбург
                  option(value="") Новосибирск
          .col-12.col-sm-6.offset-sm-1
            .row.row--vcentr
              .col-12.col-sm-4
                label(for="master_speciality").input-label Специализация&nbsp;мастера:
              .col-12.col-sm-8
                +select()(id="master_speciality")
                  option(value="" selected) Все
                  option(value="") Отопление
                  option(value="") Водоснабжение
                  option(value="") Сантехника
                  option(value="") Бани
      .content-block.content-block--push-top
        +workers(8).grid--xs-2.grid--sm-4
        include _parts/_pagination
block footer
block promo
  include _parts/_aside-promo-1
block footer-scripts
