.catalog {
  &.slick-initialized &__item {
    max-width: 100%;
  }

  &__item-in {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #fff;
    min-height: 100%;
    font-size: 10px;
    line-height: 18px;
    box-shadow: inset 0 0 0 3px #fff;
    transition: box-shadow .4s ease;

    @include media-breakpoint-up(sm) {
      font-size: 12px;
      padding: 10px 20px 28px;
    }

    // IE 10-11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      height: 100%;
    }

    @include hover {
      box-shadow: inset 0 0 0 3px $color-accent;
    }
  }

  &--borders &__item-in {
    border: 1px solid $color-gray-light2;
  }

  &__img {
    @include img-block;
    margin-bottom: 5px;
    flex: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    flex:  1 0 auto;
  }

  &__content-top {
    flex: 1 0 auto;
  }

  &__content-bot {
    flex: none;
  }

  &__title {
    font-family: $font-family-accent;
    font-weight: bold;
  }

  &__brand {}

  &__avail {}

  &__buy {
    //margin: 10px -5px 0;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__buy-btn {
    margin-bottom: 10px;
  }

  &__buy-count {
    margin-bottom: 10px;
    margin-right: 10px;
  }

  &__buy-input {
    width: 48px;
  }

  &__buy-label {
    margin-left: 10px;
  }
}
