.checkout-footer {
  &__bot {
    position: relative;
    padding: 20px 0;
  }

  &__up {
    @include reset-button;
    position: absolute;
    right: 0;
    bottom: 20px;
    text-align: center;
    color: $color-gray-dark;
    z-index: 800;
    font-size: 13px;

    &::before {
      display: block;
      content: "";
      margin: 0 auto 5px;
      @include sprite($sprite-arrows-round-up-gray);
    }

    @include hover-active {
      &::before {
        @include sprite($sprite-arrows-round-up);
      }
    }

    @include media-breakpoint-up(md) {
      bottom: 10px;
    }

    @include media-breakpoint-up(lg) {
      right: -62px;
      top: -120px
    }
  }
}
