.select {
  @include reset-select();
  display: block;
  width: 100%;
  border: 1px solid $color-gray-light;
  line-height: 24px;
  font-size: 14px;
  padding: 12px;
  height: 48px;
  background: url("#{$pathToImages}select-arrow.png") #fff right center / 35px auto no-repeat;

  &:focus,
  &.is-focused {
    //box-shadow: inset 0 0 0 2px  $color-gray-light;
  }

  &.is-valid {}

  &.is-invalid {
    border-color: $color-warn;
  }

  &--sm {
    height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &--xs {
    font-size: 12px;
    height: 26px;
    padding: 1px 30px 1px 6px;
    background: url("#{$pathToImages}select-xs-arrow.png") #fff right center / 25px auto no-repeat;
  }

  &::-ms-expand {
    display: none;
  }
}
