.reviews-widget {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include font-size($font-size-small);

  &__stars {
    margin-right: 20px;
  }

  &__link {
    margin: 6px 30px 6px 0;
  }

  &__add {
    position: relative;
    margin: 6px 0;
    padding-left: 25px;

    &::before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      @include sprite($sprite-ui-bubble-sm);
    }
  }
}
