include ../icon/icon
mixin soc-contacts()
  .soc-contacts&attributes(attributes)
    .soc-contacts__label В соцсетях:
    .soc-contacts__list
      // У youtube и tw модификатор на размер иконки
      a(href="#").soc-contacts__item
        +icon(svgIconsPath + 'social.svg#youtube').soc-contacts__item-i.soc-contacts__item-i--big
      a(href="#").soc-contacts__item
        +icon(svgIconsPath + 'social.svg#insta').soc-contacts__item-i
      a(href="#").soc-contacts__item
        +icon(svgIconsPath + 'social.svg#fb').soc-contacts__item-i
      a(href="#").soc-contacts__item
        +icon(svgIconsPath + 'social.svg#ok').soc-contacts__item-i
      a(href="#").soc-contacts__item
        +icon(svgIconsPath + 'social.svg#tw').soc-contacts__item-i.soc-contacts__item-i--big
      a(href="#").soc-contacts__item
        +icon(svgIconsPath + 'social.svg#vk').soc-contacts__item-i
