include ../carousel-nav/carousel-nav
mixin image-slider()
  .image-slider.js-carousel.js-carousel--slider&attributes(attributes)
    .image-slider__items.js-carousel__items
      img(src=imagesPath + "upload/news-image.jpg" width="540" height="332" alt="")
      img(src=imagesPath + "upload/news-image.jpg" width="540" height="332" alt="")
      img(src=imagesPath + "upload/news-image.jpg" width="540" height="332" alt="")
    +carousel-nav()
