mixin search-form()
  form(action="search.html" novalidate).search-form&attributes(attributes)
    .input-group
      .input-group__item.input-group__item--grow
        input(type="text" placeholder="Поиск" required).input-text.search-form__input
      .input-group__item
        button(type="submit").search-form__submit
      .input-group__item
        button(type="button").search-form__cancel.js-toggle-search
