.input-group {
  display: flex;
  align-items: center;
  width: 100%;

  &__item {

    &--grow {
      flex: 1;
    }

    &--padd {
      padding: 0 10px;
    }

    &--padd-r {
      padding-right: 10px;
    }
  }
}
