.featured-brand {

  &__img {
    position: relative;
    height: 0;
    padding-bottom: 48%;

    & img {
      @include v-centerer;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.2em;
    font-family: $font-family-accent;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__links {
    font-size: 12px;
    line-height: 16px;
  }

  &__link {}
}
