mixin tiles-alt(data)
  .tiles-alt&attributes(attributes)
    each item in data
      .tiles-alt__item
        a.tiles-alt__link(href=item.url class=(item.mod ? 'tiles-alt__link--' + item.mod : undefined))
          .tiles-alt__title.title-line.js-title-line(class={
            'title-line--white': !item.titleBig,
            'title-line--accent': item.titleBig,
            'tiles-alt__title--big': item.titleBig
            })
            !=item.title
          .tiles-alt__text !{item.text}
          .tiles-alt__img
            img(src=imagesPath + item.img.src width=item.img.w height=item.img.h alt)
