include ../checkbox/checkbox
include ../range-input/range-input
mixin filter()
  form(action="/" novalidate).filter#filter&attributes(attributes)
    // Появление "бегунка" в src/scripts/app/filter,js
    a(href="#" style="display:none;").filter__bubble#filter-bubble
      = 'Выбрано'
      .filter__bubble-count 24
      .filter__bubble-call показать
    .filter__heading
      | Фильтр
      button(type="button").filter__close.btn-close.js-toggle-filters-sm
    .filter__filters
      .filter__b
        .filter__title.filter__title--big.title-line.js-title-line Автоматика
        .filter__content.scroll-block.js-scroll-block
          .filter__item.filter__item--narrow
            a(href="#").filter-link Контроллеры
          .filter__item.filter__item--narrow
            a(href="#").filter-link Пеллетные установки
          .filter__item.filter__item--narrow
            a(href="#").filter-link Погодозависимые системы
          .filter__item.filter__item--narrow
            a(href="#").filter-link Сервоприводы
          .filter__item.filter__item--narrow
            a(href="#").filter-link Термоголовки
          .filter__item.filter__item--narrow
            span.filter-link.is-current Термостаты
          .filter__item.filter__item--narrow
            a(href="#").filter-link Турбо-насадки
      .filter__b
        .filter__title Цена
        .filter__content.filter__content--fluid
          +range-input()
      .filter__b
        .filter__title Применение
        .filter__content.scroll-block.js-scroll-block
          .filter__item
            +checkbox({label: 'Охлаждение (18)', checked: true})
          .filter__item
            +checkbox({label: 'Обогрев, Только (18)'})
          .filter__item
            +checkbox({label: 'Один Этап (Нагрев / Охлаждение) (172)'})
          .filter__item
            +checkbox({label: 'Многоступенчатые (Нагрев/Охлаждение) (198)', checked: true})
      .filter__b
        .filter__title Доступность программировать
        .filter__content.scroll-block.js-scroll-block
          .filter__item
            +checkbox({label: 'Охлаждение (18)'})
          .filter__item
            +checkbox({label: 'Обогрев, Только (18)'})
          .filter__item
            +checkbox({label: 'Один Этап (Нагрев / Охлаждение) (172)'})
          .filter__item
            +checkbox({label: 'Многоступенчатые (Нагрев/Охлаждение) (198)'})
          .filter__item
            +checkbox({label: 'Охлаждение (18)'})
          .filter__item
            +checkbox({label: 'Обогрев, Только (18)'})
          .filter__item
            +checkbox({label: 'Один Этап (Нагрев / Охлаждение) (172)', checked: true})
          .filter__item
            +checkbox({label: 'Многоступенчатые (Нагрев/Охлаждение) (198)'})
      .filter__b
        .filter__title Бренд
        .filter__content.scroll-block.scroll-block--big.js-scroll-block
          .filter__item
            +checkbox({label: 'Lemax'})
          .filter__item
            +checkbox({label: 'Fondital', checked: true})
          .filter__item
            +checkbox({label: 'Thermex', checked: true})
          .filter__item
            +checkbox({label: 'Vaillant'})
          .filter__item
            +checkbox({label: 'Valtec'})
          .filter__item
            +checkbox({label: 'Baxi'})
          .filter__item
            +checkbox({label: 'Atem'})
          .filter__item
            +checkbox({label: 'DAB'})
          .filter__item
            +checkbox({label: 'Wilo'})
          .filter__item
            +checkbox({label: 'Eko'})
          .filter__item
            +checkbox({label: 'Lemax'})
          .filter__item
            +checkbox({label: 'Fondital'})
          .filter__item
            +checkbox({label: 'Thermex'})
          .filter__item
            +checkbox({label: 'Vaillant'})
          .filter__item
            +checkbox({label: 'Valtec'})
          .filter__item
            +checkbox({label: 'Baxi'})
          .filter__item
            +checkbox({label: 'Atem'})
          .filter__item
            +checkbox({label: 'DAB'})
          .filter__item
            +checkbox({label: 'Wilo'})
          .filter__item
            +checkbox({label: 'Eko'})
          .filter__item
            +checkbox({label: 'Lemax'})
          .filter__b
    .filter__submit
      .grid.grid--xs-2
        .grid__item
          button(type="submit").btn.btn--sm.btn--fluid.btn--inverse: span Показать
        .grid__item
          button(type="reset").btn.btn--sm.btn--fluid: span Сбросить
