.nav {
  position: relative;
  width: 100%;
  padding-right: 55px;

  &__list {
    font-size: 0;
    margin: 0;
    padding: 0 0 0 16px;
    white-space: nowrap;
  }

  &__item {
    @include reset-list-item;
    display: inline-block;
    background: rgba(0,0,0,0);
  }

  &__link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background: rgba(0,0,0,0);
    transition: background .4s;

    @include hover-active {
      background: $color-main-dark;
      color: #fff;
      text-decoration: none;
    }
  }

  &__title {
    display: inline-block;
    padding: 0 16px;
    font-size: 16px;
    line-height: 55px;
    font-family: $font-family-accent;
    font-weight: bold;
    color: #fff;
  }

  &__item.is-current &__title,
  &__item--current &__title {
    opacity: .5;
    cursor: default;
  }

  &__item--has-child {
    transition: background .4s;
  }

  &__item--has-child:hover {
    background: $color-main-dark;
  }

  &__btn {
    @include reset-button;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
    background: rgba(0,0,0,0);
    transition: background .4s;

    &::before {
      display: block;
      content: "";
      @include centerer;
      @include sprite($sprite-ui-search);
    }

    @include hover-active {
      background: $color-main-dark;
    }
  }

  // Child

  &__child {
    position: absolute;
    //display: none;
    left: 0;
    right: 0;
    background: $color-main-dark;
    z-index: 900;
    padding: 45px 56px;
    transform: translateY(40px);
    opacity: 0;
    background: $color-main-dark;
    transition: opacity .6s, transform .4s, visibility .4s;
    pointer-events: none;
    visibility: hidden;
  }

  &__item:hover > &__child {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
  }

  &__child-group {
    padding: 0;

    & + & {
      margin-top: 30px;
    }
  }

  &__child-item {
    @include reset-list-item;
    font-size: 12px;
    line-height: 1.6em;

    &--heading {
      font-size: 14px;
      font-family: $font-family-accent;
      font-weight: bold;
    }
    & + & {
      margin-top: 4px;
    }
  }

  &__child-link {
    display: inline-block;

    padding: 0 4px;
    color: #fff;
    text-decoration: none;

    @include hover-active {
      background: #fff;
      color: $color-main-dark;
      text-decoration: none;
    }
  }
}


