mixin nav(data, currentUrl)
  nav.nav&attributes(attributes)
    // Для удобства восприятия, шаблон меню можно посмотреть в src/blocks/nav/nav.jade. Используются данные из src/data/catalog-nav.json
    ul.nav__list
      each item in data
        li.nav__item(class={'nav__item--current': item.current, 'nav__item--has-child js-has-drop': item.child})
          if (item.current)
            span.nav__title #{item.title}
          else
            a(href=item.url).nav__link
              span.nav__title #{item.title}
          if (item.child)
            .nav__child
              .flex.flex--start
                each col in item.child
                  .flex__item
                    each group in col
                      ul.nav__child-group
                        each childItem, index in group
                          li.nav__child-item(class={'nav__child-item--heading': childItem.heading})
                            a(href=childItem.url).nav__child-link #{childItem.title}
    button(type="button").nav__btn.js-toggle-search

