.print-link {
  display: inline-block;
  position: relative;
  padding-left: 42px;
  @include font-size($font-size-small);

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 32px;
    height: 22px;
    left: 0;
    @include v-centerer;
    background: url("#{$pathToImages}print.png") center / 32px auto no-repeat;
  }
}
