mixin seo-block()
  .seo-block&attributes(attributes)
    .row
      .col-12.col-md-10
        // Минимизируем негативное влияние на сео - изначально блок развернут, скрываем его после загрузки, вызвав клик по нему.
        .seo-block__title.js-toggle-el.js-click-onload(data-toggle-target="#seo-text")
          .title-line.js-title-line Отопление и сервис — надежный подход к&nbsp;снабжению
        .seo-block__text#seo-text
          .seo-block__text-in.wysiwyg.text-small
            p: b Группа компаний «Отопление-Сервис» более 20 лет занимается реализацией, монтажом и обслуживанием инженерных систем на территории ЮФО и СКФО.
            p Вопрос о миссии компании тождественен вопросу целеполагания ее деятельности и, несмотря на свою абстрактность, является определяющим. Невозможно сплотить коллектив и создать сильную компанию, не имея столь же сильной направляющей идеи. Также обреченной на провал будет любая деятельность компании, направленная исключительно на обогащение ее собственников. Целью любой предпринимательской деятельности должно быть служение людям — так и только так можно добиться успеха и признания.
            p
              | Руководствуясь данным принципом мы выстроили свою миссию:
              br
              | Служить людям. Нести тепло и комфорт в их дома.
              | Так мы работали раньше. Так мы работаем сейчас. И так мы будем работать всегда!


